<!DOCTYPE html>
<html lang="zh-Hant-TW"
      xmlns:th="http://www.thymeleaf.org">

<body>
<!-- 首頁 & 選單 -->
<nav class="navbar" th:fragment="navBar">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <img class="navbar-logo" src="../img/logo_cargill.png">
        <a class="navbar-brand" href="/">愛嘉網訂單管理</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav" th:if="${loginUser}">
            <span th:text="'Hi ' + ${loginUser.userName}"></span>
            <!--<span th:text="${loginUser.dept}"></span>-->
            <a href="/logout">登出</a>
            <li th:if="${loginUser.dept == 'ADMIN' || loginUser.dept == 'MANAGER'
                || loginUser.dept == 'CS_K' || loginUser.dept == 'CS_T' || loginUser.dept == 'DISPATCH'}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="true">訂單管理</a>
                <ul class="dropdown-menu">
                    <li class="title"><span>訂</span>單管理</li>
                    <li th:if="${loginUser.dept == 'ADMIN' || loginUser.dept == 'CS_K' || loginUser.dept == 'CS_T'}" ><a href="/A/1">快速瀏覽訂單</a></li>
                    <li th:if="${loginUser.dept == 'ADMIN' || loginUser.dept == 'CS_K' || loginUser.dept == 'CS_T' || loginUser.dept == 'MANAGER'}"><a href="/A/2">檢視每月訂單</a></li>
                    <li th:if="${loginUser.dept == 'ADMIN' || loginUser.dept == 'CS_K' || loginUser.dept == 'CS_T'}"><a href="/A/3">查詢所有訂單</a></li>
                    <li th:if="${loginUser.dept == 'ADMIN' || loginUser.dept == 'CS_K' || loginUser.dept == 'CS_T'}"><a href="/A/4">新增訂單</a></li>
                    <li th:if="${loginUser.dept == 'ADMIN' || loginUser.dept == 'DISPATCH'} "><a href="/A/11">出貨磅重回填</a></li>
                </ul>
            </li>
            <li th:if="${loginUser.dept == 'ADMIN' || loginUser.dept == 'CS_K' || loginUser.dept == 'CS_T'}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="true">客戶管理</a>
                <ul class="dropdown-menu">
                    <li class="title"><span>客</span>戶管理</li>
                    <li><a href="/B/1">查詢客戶</a></li>
                    <li><a href="/B/3">客戶檔上傳</a></li>
                    <li><a href="/B/4">客戶資訊上傳</a></li>
                    <li><a href="/B/5">自備藥庫存上傳</a></li>
                </ul>
            </li>
            <li th:if="${loginUser.dept == 'ADMIN' || loginUser.dept == 'CS_K'
            || loginUser.dept == 'CS_T' || loginUser.dept == 'PURCHASE'}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="true">產品管理</a>
                <ul class="dropdown-menu">
                    <li class="title"><span>產</span>品管理</li>
                    <li th:if="${loginUser.dept == 'ADMIN' || loginUser.dept == 'CS_T'}"><a href="/C/1">產品管理</a></li>
                    <li th:if="${loginUser.dept == 'ADMIN' || loginUser.dept == 'CS_T'}"><a href="/C/3">特配管理(台中)</a></li>
                    <li th:if="${loginUser.dept == 'ADMIN' || loginUser.dept == 'CS_K'}"><a href="/C/4">特配管理(高雄)</a></li>
                    <li th:if="${loginUser.dept == 'ADMIN' || loginUser.dept == 'PURCHASE'}"><a href="/C/5">特配價格管理</a></li>
                </ul>
            </li>

            <li th:if="${loginUser.dept == 'ADMIN' || loginUser.dept == 'MARKET'}">
                <a href="/marketing">行銷管理</a></li>
            <li th:if="${loginUser.dept == 'ADMIN' || loginUser.dept == 'CS_K' || loginUser.dept == 'CS_T'}">
                <a href="/report">報表管理</a></li>
            <li th:if="${loginUser.dept == 'ADMIN' || loginUser.dept == 'CS_K' || loginUser.dept == 'CS_T'}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="true">帳號管理</a>
                <ul class="dropdown-menu">
                    <li class="title"><span>帳</span>號管理</li>
                    <li th:if="${loginUser.dept == 'ADMIN'}"><a href="/webaccount">WEB帳號列表</a></li>
                    <li th:if="${loginUser.dept == 'ADMIN' || loginUser.dept == 'CS_K' || loginUser.dept == 'CS_T'}"><a href="/appaccount">APP帳號列表</a></li>
                </ul>
            </li>
            <li th:if="${loginUser.dept == 'ADMIN'}">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                   aria-expanded="true">排程管理</a>
                <ul class="dropdown-menu">
                    <li class="title"><span>排</span>程管理</li>
                    <li th:if="${loginUser.dept == 'ADMIN'}" ><a href="/S/1">預定推播名單</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
</body>
</html>
