@charset "UTF-8";

$bg: #F5F6FA;

$color_3b4: #3B4047;
$color_636: #63656A;
$color_75: #757575;
$color_989: #98999B;
$color_b1b: #B1B2B4;
$color_d8: #d8d8d8;
$color_d: #DDDDDD;
$color_e8e: #E8E7E7;
$color_f3: #F3F3F3;
$color_f: #FFFFFF;

$color_ff5: #FF5B34;
$color_d39: #D39596;
$color_ffe: #ffeaea;
$color_dba: #DBAA00;
$color_4dd: #EDD47F;
$color_fff: #FFFAEC;
$color_638: #638C1C;
$color_8aa: #8AA955;
$color_b1c: #B1C58D;
$color_007: #0070CD;
$color_07c: #07C5ED;
$color_f6f: #F6FBFF;
$color_f4f: #F4F9FA;


$cardsColors: (#4098A2, #53B2A8, #8AA955, #E4C040, #D57F00, #C2531B, #4087A5);

// 切換各瀏覽器前綴樣式
// @include prefix(padding-start, 0, webkit moz o ms);
@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
    }
    #{$property}: $value;
}

html {
    position: relative;
    min-height: 100%;
    -webkit-print-color-adjust: exact;
}
body {
    font-size: 14px; // margin: 90px 0 50px;
    background-color: $bg;
    nav.navbar {
        background: url(../img/bg_navbar.png) right 5px top 10px no-repeat $color_f;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
        margin: 0;
        height: 90px;
        .navbar-header {
            padding: 1em;
            height: 90px;
            .navbar-logo {
                float: left;
                height: 50px;
            }
            .navbar-brand {
                height: auto;
                font-size: 26px;
                padding: 18px 15px;
                color: $color_636;
            }
            .navbar-toggle {
                margin-right: 0;
                .icon-bar {
                    background-color: $color_636;
                }
            }
        }
        .navbar-collapse {
            max-height: none;
            .navbar-nav {
                float: right;
                margin: 1.5em 6em 0 0;
                >span,
                >a,
                >a:hover {
                    position: relative;
                    display: block;
                    float: left;
                    padding: 15px;
                    font-size: 18px;
                    line-height: 20px;
                    background-color: transparent;
                    color: $color_b1b;
                    text-decoration: none;
                }
                li {
                    a,
                    a:hover,
                    a:focus {
                        font-size: 18px;
                        background-color: transparent;
                        color: $color_636;
                    }
                    &:before {
                        content: "";
                        position: absolute;
                        left: 15px;
                        bottom: 0;
                        width: 35px;
                        height: 5px;
                        background-color: $color_d;
                    }
                    &.active {
                        &:before {
                            background-color: $color_dba;
                        }
                    }
                    ul.dropdown-menu {
                        top: 110%;
                        min-width: 180px;
                        padding-bottom: 1em;
                        border-radius: 0;
                        background: $color_3b4;
                        li {
                            font-size: 14px;
                            line-height: 30px;
                            a,
                            a:hover {
                                font-size: 14px;
                                line-height: 30px;
                                color: $color_f;
                                padding: 0 0 0 40px;
                            }
                            &.title {
                                margin: -5px 0 5px -1px;
                                line-height: 40px;
                                color: $color_f;
                                span {
                                    font-size: 26px;
                                    margin-right: 5px;
                                    padding: 5px;
                                    background-color: $color_dba;
                                }
                            }
                            &:before {
                                content: none;
                            }
                        }
                    }
                }
            }
        }
    }
    section.section-wrap {
        background-color: $color_f;
        padding: 25px 0 15px;
        h3 {
            font-size: 22px;
            margin: 0 0 10px;
            color: $color_636;
        }
        ul {
            margin: 5px 0 0;
            @include prefix(padding-start, 0, webkit moz o ms);
            li {
                position: relative;
                float: left;
                list-style: none;
                color: $color_989;
                font-size: 16px;
                &:not(:first-child):before {
                    content: "/";
                    margin: 0 10px;
                }
            }
        }
    }
    article.article-wrap {
        padding-bottom: 100px;
        >.container {
            padding: 2em 0;
        }
    }
    footer.footer-wrap {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 50px;
        background: url(../img/bg_footer.png) right top no-repeat;
        background-size: cover;
    }
    &.sw_active {
        //dialog 顯示時父頁面不捲動
        overflow: hidden;
    }
}

button:focus {
    outline: none
}
select, input, textarea {
    line-height: normal;
    &:focus {
        outline: $color_b1c solid 1px;
    }
    &.error {
        border-color: $color_ff5;
    }
}
select {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    height: 30px;
    padding: 3px 12px 3px 6px;
    font-size: 13px;
    color: $color_007;
    border-radius: 3px;
    border: 1px solid $color_d8;
    background: url(../img/ico_down.png) calc(100% - 6px)/10px no-repeat $color_f;
    @include prefix(appearance, none, webkit moz o ms);
    &::-ms-expand {
        display: none;
    }
}
input {
    &[type="text"], &[type="password"], &[type="number"] {
        display: inline-block;
        vertical-align: middle;
        width: 100%;
        height: 30px;
        padding: 0px 8px;
        font-size: 13px;
        border-radius: 4px;
        border: 1px solid $color_d8;
        color: $color_007;
        @include prefix(appearance, none, webkit moz o ms);
    }
    &[type="radio"] {
        @include prefix(appearance, none, webkit moz o ms);
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 2;
        opacity: 0;
        height: 100%;
        width: 100%;
        font-size: 1em;
        margin: 0;
        padding: 0;
        border: 0;
        &+ label {
            background: url(../img/radioBtn_off.png) left 5px center no-repeat;
            background-size: 20px 20px;
            padding-left: 30px;
            cursor: pointer;
            font-weight: normal;
            color: $color_007;
        }
        &:checked + label {
            background: url(../img/radioBtn_on.png) left 5px center no-repeat;
            background-size: 20px 20px;
        }
    }
    &[type="checkbox"] {
        @include prefix(appearance, none, webkit moz o ms);
        position: absolute;
        top: 0;
        bottom: 0;
        z-index: 2;
        opacity: 0;
        height: 100%;
        width: 100%;
        font-size: 1em;
        margin: 0;
        padding: 0;
        border: 0;
        &+ label {
            background: url(../img/checkBtn_off.png) left 5px center no-repeat;
            background-size: 20px 20px;
            padding-left: 30px;
            cursor: pointer;
            font-weight: normal;
            color: $color_007;
        }
        &:checked + label {
            background: url(../img/checkBtn_on.png) left 5px center no-repeat;
            background-size: 20px 20px;
        }
    }
    &.date {
        background: url(../img/ico_calendar.png) calc(100% - 6px) / 18px no-repeat $color_f;
    }
    &.time {
        background: url(../img/ico_time.png) calc(100% - 6px) / 18px no-repeat $color_f;
    }
    &[disabled] {
        background-color: $color_f3;
    }
    &::placeholder {
        color: $color_b1b !important;
    }
}
textarea {
    height: 60px;
    width: 100%;
    padding: 5px 8px;
    font-size: 13px;
    border-radius: 4px;
    border: 1px solid $color_d8;
    color: $color_007;
    @include prefix(appearance, none, webkit moz o ms);
}

.header {
    h4 {
        font-size: 20px;
        color: $color_ff5;
        padding: 0 1em;
        &.nodata {
            color: $color_75;
        }
    }
    span {
        float: right;
        color: $color_b1b;
        padding-right: 1em;
    }
    border-bottom: 1px solid $color_d8;
}
.searchBar {
    background: $color_f;
    border-top: 6px solid $color_b1c;
    margin: 0 0 1em;
    padding: 1em;
    >div {
        display: inline-block;
        width: 30%;
        margin: 2px 0;
        span {
            display: inline-block;
            width: 8em;
            text-align: right;
            color: $color_75;
        }
        input, select, p {
            display: inline-block;
            width: calc( 100% - 10em);
            color: $color_007;
        }
        &.errorMsg {
            margin-left: 8.5em;
            color: $color_ff5;
            width: inherit;
        }
    }
    >button, >input[type="submit"], >input[type="button"], >input[type="reset"] {
        background-color: $color_8aa;
        color: $color_f;
        border: 0;
        border-radius: 3px;
        padding: 0.5em 1em;
        width: auto;
        vertical-align: top;
    }
}
.func {
    float: left;
    button, input[type="button"], input[type="submit"], input[type="reset"] {
        background-color: $color_8aa;
        color: $color_f;
        border: 0;
        border-radius: 3px;
        padding: 2px 1.5em;
        width: auto;
        vertical-align: top;
    }
}
.pager {
    text-align: right;
    padding: 0 3px;
    margin: 10px 0;
    font-size: 12px;
    color: $color_636;
    select {
        vertical-align: initial;
        width: 63px;
        height: 24px;
        color: $color_636;
        background-color: $color_f;
        padding: 3px 8px;
        font-size: 12px;
        +i {
            top: 2px;
        }
    }
    >input {
        display: inline-block;
        vertical-align: top;
        width: 37px;
        height: 24px;
        font-size: 12px;
        text-align: center;
        padding: 0 8px;
        border-radius: 3px;
        border: 1px solid $color_d8;
        color: $color_636;
    }
    >i {
        width: 33px;
        height: 24px;
        padding: 0 3px;
        line-height: 22px;
        background-color: $color_07c;
        color: $color_f;
        font-size: 12px;
        margin: 0 3px;
        text-align: center;
        vertical-align: top;
        &:nth-of-type(1) {
            margin-left: 1em;
        }
        &.disable {
            background-color: $color_d;
        }
    }
}
.searchError {
    margin: 8em 0;
    img {
        display: block;
        max-width: 400px;
        width: 60%;
        margin: 0 auto;
    }
    ul {
        max-width: 400px;
        margin: 0 auto;
        color: $color_ff5;
        text-align: center;
        list-style: none;
    }
}
table {
    border: 1px solid $color_d8;
    width: 100%;
    tr {
        border-top: 1px solid $color_d8;
        th {
            background-color: $color_e8e;
            border: 1px solid $color_d8;
            color: $color_636;
            padding: 8px;
            font-weight: normal;
            text-align: center;
        }
        td {
            border: 1px solid $color_d8;
            padding: 8px;
            color: $color_636;
            text-align: center;
            img {
                padding: 0 0.5em;
                cursor: pointer;
                max-width: 45px;
                max-height: 16px;
            }
            &.link {
                cursor: pointer;
                text-decoration: underline;
            }
        }
        &:nth-of-type(even) {
            background-color: $color_f6f;
        }
        &:nth-of-type(odd) {
            background-color: $color_f;
        }
    }
    &.nolinkTD {
        td {
            cursor: pointer;
        }
    }
    &.orderClass {
        tr {
            border: 0;
            th, td {
                border: 0;
                // border-top: 0;
                // border-bottom: 0;
            }
            &.end {
                background-color: $color_f;
            }
            &.appNew {
                background-color: $color_fff;
            }
            &.csNew {
                background-color: $color_f6f;
            }
            &.borderTop {
                border-top: 1px solid $color_d8;
            }
        }
    }
    &.monthClass {
        tr {
            background-color: $color_f;
            td {
                padding: 8px 0;
                vertical-align: top;
            }
            &.name {
                th {
                    text-align: left;
                    background-color: $color_f;
                }
            }
            &:hover {
                background-color: $color_f6f;
            }
        }
        &+ .monthClass {
            margin-top: 1em;
        }
    }
}
.tableContent {
    border: 1px solid $color_d8;
    background-color: $color_f4f;
    margin: 0 auto;
    .title {
        border-bottom: 1px solid $color_d8;
        background: url(../img/ico_info.png) left 10px center no-repeat $color_f;
        background-size: 24px;
        color: $color_75;
        font-size: 14px;
        line-height: 34px;
        margin: 0;
        padding-left: 3em;
        span {
            float: right;
            margin-right: 1em;
        }
    }
    .content {
        padding: 1em;
        > p {
            color: $color_75;
            background-color: $color_ffe;
            font-size: 1em;
            margin: 0;
            padding: 5px;
            border-radius: 4px;
        }
        .row {
            .col {
                min-height: 36px;
                line-height: 30px;
                padding: 2px 1em;
                .status {
                    text-align: center;
                    color: $color_ff5;
                    font-size: 22px;
                    font-weight: 400;
                    margin: 0;
                }
                p {
                    display: inline-block;
                    vertical-align: middle;
                    width: 7em;
                    color: $color_75;
                    text-align: right;
                    line-height: normal;
                    margin: 0 0.5em;
                    padding-right: 0.5em;
                }
                span {
                    color: $color_007;
                    vertical-align: middle;
                }
                input, select {
                    display: inline-block;
                    vertical-align: middle;
                    width: calc(100% - 9em);
                }
                textarea {
                    display: inline-block;
                    vertical-align: top;
                    width: calc(100% - 9em);
                }
                pre {
                    color: $color_007;
                    display: inline-block;
                    vertical-align: text-top;
                    width: calc(100% - 9em);
                    background-color: transparent;
                    border: 0;
                    margin: 0;
                    padding: 0;
                    white-space: pre-wrap; /* css-3 */
                    white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
                    white-space: -pre-wrap; /* Opera 4-6 */
                    white-space: -o-pre-wrap; /* Opera 7 */
                    word-wrap: break-word; /* Internet Explorer 5.5+ */
                }
                hr {
                    border-top-color: $color_d ;
                    margin: 1em auto;
                }
                button, input[type="button"], input[type="submit"], input[type="reset"] {
                    background-color: $color_8aa;
                    color: $color_f;
                    border: 0;
                    border-radius: 3px;
                    margin: 1em 0 0;
                    padding: 0.5em 1.5em;
                    line-height: normal;
                    width: auto;
                    vertical-align: top;
                    &.gray {
                        background-color: $color_989;
                    }
                    &.red {
                        background-color: $color_d39;
                    }
                }
                div {
                    position: relative;
                    display: inline-block;
                    vertical-align: top;
                    width: calc(100% - 8.5em);
                    > label {
                        font-weight: normal;
                        display: block;
                    }
                    > input {
                        &[type="radio"], &[type="checkbox"] {
                            display: none;
                        }
                        &[type="text"] {
                            width: calc( 100% - 7.5em);
                        }
                    }
                    > ul {
                        margin: 6px 0;
                        -webkit-padding-start: 20px;
                        color: $color_007;
                        line-height: normal;
                    }
                    > button, >input[type="submit"], >input[type="button"], >input[type="reset"] {
                        background-color: $color_8aa;
                        color: $color_f;
                        border: 0;
                        border-radius: 3px;
                        margin: 0;
                        padding: 5px 0.5em;
                        line-height: normal;
                        vertical-align: middle;
                        width: auto;
                    }
                    > table {
                        width: 100%;
                        tr {
                            &.create td{
                                background-color: $color_fff;
                                img {
                                    min-height: 24px;
                                }
                            }
                            td {
                                padding: 5px;
                                min-width: 50px;
                                max-width: 230px;
                                background-color: $color_f;
                                input, select {
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                &.right {
                    text-align: right;
                }
            }
        }
    }
    &.smallView {
        width: 450px;
        .content {
            .col {
                p {
                    width: 5.5em !important;
                }
                &:nth-last-child(1) {
                    padding-right: 2.5em;
                }
            }
        }
    }
    &.print {
        margin: 1em;
        background-color: $color_f;
        p, span, pre, ul, label {
            font-size: 16px;
            display: inline-block !important;
            color: $color_3b4 !important;
            &.title {
                padding: 0.5em 3em;
                border-bottom: 0;
                width: 100%;
                span {
                    float: right;
                }
            }
        }
        select, input, textarea {
            &[disabled] {
                background-color: transparent;
            }
            &:focus {
                outline: none;
            }
        }
        .content {
            padding: 0 1em;
            .col {
                position: relative;
                padding: 0.5em 0 !important;
                border: 1px solid $color_d8;
                border-bottom: 0;
                border-right: 0;
                &:after {
                    content: "";
                    position: absolute;
                    border-right: 1px solid #d8d8d8;
                    left: 9em;
                    top: 0;
                    bottom: 0;
                }
                > div {
                    width: calc(100% - 9.5em) !important;
                    table {
                        th {
                            background-color: $color_e8e !important;
                        }
                        th, td {
                            font-size: 14px;
                            padding: 2px;
                            color: $color_3b4;
                        }
                    }
                }
            }
            .multi {
                .col {
                    table {
                        margin: 1em;
                        width: calc(100% - 2em);
                        th {
                            background-color: $color_e8e !important;
                            p {
                                text-align: left;
                                float: left;
                            }
                            span {
                                float: right;
                            }
                        }
                        + table {
                            margin-top: 0;
                        }
                    }
                    &:after {
                        border-right: 0;
                    }
                    p + input {
                        border-top: 0;
                        border-left: 0;
                        border-right: 0;
                        border-radius: 0;
                        max-width: 150px;
                        margin-right: 1em;
                    }
                }
            }
        }
    }
}
.uploadContent {
    border: 1px solid $color_d8;
    background-color: $color_f;
    margin: 0 auto;
    padding: 2em 1em;
    min-height: 54vh;
    > h3 {
        font-size: 22px;
        font-weight: 400;
        text-align: center;
        color: $color_75;
        margin: 0 0 10px;
        &.status {
            color: $color_ff5;
            margin: 15px 0;
            &.visiHidden {
                visibility: hidden;
            }
        }
    }
    > p {
        text-align: center;
        color: $color_b1b;
    }
    .row {
        width: 40%;
        margin: 0 auto;
        .col {
            line-height: 30px;
            padding: 3px 1em;
            p {
                display: inline-block;
                vertical-align: middle;
                width: 7em;
                color: $color_75;
                text-align: right;
                margin: 0 0.5em;
            }
            span {
                color: $color_007;
                vertical-align: middle;
            }
            div, select {
                position: relative;
                display: inline-block;
                vertical-align: top;
                width: calc(100% - 9em);
                > label {
                    font-weight: normal;
                    display: block;
                }
                > input {
                    &[type="radio"] {
                        display: none;
                    }
                    &[type="text"] {
                        width: calc( 100% - 4em);
                    }
                }
                > button, >input[type="submit"], >input[type="button"], >input[type="reset"] {
                    background-color: $color_8aa;
                    color: $color_f;
                    border: 0;
                    border-radius: 3px;
                    padding: 5px 0.5em;
                    line-height: normal;
                    vertical-align: middle;
                    width: auto;
                }
            }
            > button, >input[type="submit"], >input[type="button"], >input[type="reset"] {
                background-color: $color_8aa;
                color: $color_f;
                border: 0;
                border-radius: 3px;
                margin: 1em 0 0;
                padding: 0.5em 2em;
                line-height: normal;
                float: right;
                width: auto;
                vertical-align: top;
            }
        }
    }
}
.cards {
    .card {
        padding: 0.8em 0.5em 0.5em 1em;
        border-left: 5px solid;
        background-color: $color_f;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
        display: inline-block;
        vertical-align: top;
        margin: 1% 1.5%;
        width: 30%;
        span {
            float: right;
            color: $color_b1b;
        }
        h4 {
            font-size: 16px;
            color: $color_3b4;
            margin-bottom: 20px;
        }
        ul {
            min-height: 60px;
            margin-bottom: 20px;
            li {
                list-style: none;
                font-size: 14px;
                color: $color_636;
            }
        }
        p {
            font-size: 12px;
            color: $color_636;
            margin-bottom: 0;
        }
        @for $index from 1 through length($cardsColors) {
            &:nth-of-type(7n+#{$index}) {
                border-color: nth($cardsColors, $index);
            }
        }
    }
}

// 登入頁 login
.login {
    background: url(../img/bg_login.png) left top no-repeat;
    background-size: 60% 100%;
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    padding-bottom: 0 !important;
    .container {
        background-color: $color_f;
        width: 40%;
        min-height: 100vh;
        height: fit-content;
        margin-right: 0;
        padding: 5em 2em 0 !important;
        img {
            width: 80%;
            max-width: 238px;
            display: block;
            margin: 0 auto 2em;
        }
        p {
            font-size: 20px;
            color: $color_75;
            &.text_red {
                text-align: center;
                color: $color_ff5;
                &.visibleHidden {
                    visibility: hidden;
                }
            }
        }
        input {
            font-size: 20px;
            margin-bottom: 1em;
            padding: 10px 8px;
            height: 50px;
        }
        button, input[type="button"], input[type="submit"], input[type="reset"] {
            width: 100%;
            background-color: $color_638;
            color: $color_f;
            font-size: 20px;
            margin-top: 2em;
            padding: 15px;
            border-radius: 3px;
        }
    }
}
// 開通帳號頁 account
.account {
    background: url(../img/bg_account.png) left top no-repeat;
    background-size: 60% 100%;
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    padding-bottom: 0 !important;
    .container {
        background-color: $color_f;
        width: 40%;
        min-height: 100vh;
        height: fit-content;
        margin-right: 0;
        padding: 5em 2em 0 !important;
        img {
            width: 80%;
            max-width: 238px;
            display: block;
            margin: 0 auto 2em;
        }
        p {
            font-size: 20px;
            color: $color_75;
            margin-bottom: 5px;
            &.text_red {
                text-align: center;
                color: $color_ff5;
                &.visibleHidden {
                    visibility: hidden;
                }
            }
        }
        input {
            font-size: 20px;
            margin-bottom: 10px;
            padding: 10px 8px;
            height: 50px;
        }
        button, input[type="button"], input[type="submit"], input[type="reset"] {
            width: 100%;
            background-color: $color_638;
            color: $color_f;
            font-size: 20px;
            margin-top: 1em;
            padding: 15px;
            border-radius: 3px;
        }
    }
}
// 首頁 homepage
.homepage {
    text-align: center;
    h3 {
        font-size: 28px;
        font-weight: normal;
        line-height: 1.5em;
        color: $color_75;
    }
    p {
        font-weight: normal;
        color: $color_b1b;
        font-size: 20px;
        margin-bottom: 20px;
    }
    img {
        display: block;
        width: 80%;
        max-width: 600px;
        margin: 0 auto;
    }
}
// 提醒訊息 dialog
.dialog {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1em;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, .4);
    z-index: 10000;
    pointer-events: none;
    opacity: 0;
    transition: opacity .3s;
    .dialog-modal {
        width: 574px;
        margin: 0 auto;
	    opacity: 0;
	    pointer-events: none;
	    background-color: $color_f;
	    text-align: center;
	    border-radius: 5px;
	    position: static;
	    display: inline-block;
	    vertical-align: middle;
	    z-index: 10001;
	    transition: opacity .2s,-webkit-transform .3s;
	    transition: transform .3s,opacity .2s;
	    transition: transform .3s,opacity .2s,-webkit-transform .3s;
        @include prefix(transform, scale(1), webkit);
        @include prefix(transform-origin, 50% 50%, webkit);
        &.subDialog {
            width: 90%;
            border-radius: 0;
            text-align: left;
            .tableContent {
                .title {
                    span {
                        float: right;
                        margin-right: 1em;
                    }
                }
                .content {
                    max-height: 80vh;
                    overflow-y: auto;
                    .row {
                        .col {
                            div {
                                label {
                                    display: inline-block;
                                    margin-right: 1em;
                                }
                                b {
                                    color: $color_ff5;
                                }
                            }
                        }
                        &.multi {
                            .pump {
                                width: 60%;
                                margin: 1em auto;
                                padding: 1em;
                                float: none;
                                background-color: $color_fff;
                                p {
                                    display: block;
                                    margin: 0 auto 0.5em;
                                    color: $color_3b4;
                                }
                                table {
                                    width: 100%;
                                    border: 1px solid $color_d8;
                                    tr {
                                        background-color: transparent !important;
                                        &:not(:first-child) {
                                            border-top: 1px solid $color_d8;
                                        }
                                        th, td {
                                            background-color: transparent !important;
                                            border: 0 !important;
                                            color: $color_3b4;
                                            padding: 3px 8px;
                                        }
                                        td:last-child {
                                            color: $color_ff5 !important;
                                        }
                                    }
                                }
                            }
                            .medication {
                                table {
                                    width: 100%;
                                    tr {
                                        &.create td{
                                            background-color: $color_fff;
                                            img {
                                                min-height: 24px;
                                            }
                                        }
                                        th {
                                            cursor: auto;
                                            padding: 5px;
                                            line-height: normal;
                                            color: $color_3b4;
                                            p {
                                                text-align: left;
                                                float: left;
                                                color: $color_3b4;
                                            }
                                            span {
                                                float: right;
                                                color: $color_3b4;
                                                b {
                                                    color: $color_007;
                                                }
                                            }
                                        }
                                        td {
                                            cursor: auto;
                                            padding: 5px;
                                            line-height: normal;
                                            color: $color_3b4;
                                            background-color: $color_f;
                                            input, select {
                                                width: 100%;
                                            }
                                        }
                                    }
                                    &+ table {
                                        margin-top: 1em;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            &.smallView {
                width: 45%;
            }
        }
	    &.success {
		    .icons {
		        .icon {
		        	width: 140px;
		            height: 140px;
		            padding: 26px;
		            margin: 0 auto;  	
		            .sa {
		                border-radius: 50%;
		                border: 4px solid $color_f;
		                box-sizing: content-box;
		                height: 80px;
		                padding: 0;
		                position: relative;
		                width: 80px;
		                &:after, &:before {
		                    content: '';
		                    height: 120px;
		                    position: absolute;
		                    transform: rotate(45deg);
		                    width: 60px;
		                }
		                &:before {
		                    border-radius: 40px 0 0 40px;
		                    width: 26px;
		                    height: 80px;
		                    top: -17px;
		                    left: 5px;
		                    transform-origin: 60px 60px;
		                    transform: rotate(-45deg);
		                }
		                &:after {
		                    border-radius: 0 120px 120px 0;
		                    left: 30px;
		                    top: -11px;
		                    transform-origin: 0 60px;
		                    transform: rotate(-45deg);
		                }
		                &-placeholder {
		                    border-radius: 50%;
		                    border: 4px solid $color_f;
		                    box-sizing: content-box;
		                    height: 80px;
		                    left: -4px;
		                    position: absolute;
		                    top: -4px;
		                    width: 80px;
		                    z-index: 2;
		                }
		                &-fix {
		                    height: 90px;
		                    left: 28px;
		                    position: absolute;
		                    top: 8px;
		                    transform: rotate(-45deg);
		                    width: 5px;
		                    z-index: 1;
		                }
		                &-tip, &-long {
		                    background-color: $color_f;
		                    border-radius: 2px;
		                    height: 5px;
		                    position: absolute;
		                    z-index: 2;
		                }
		                &-tip {
		                    left: 14px;
		                    top: 46px;
		                    transform: rotate(45deg);
		                    width: 25px;
		                }
		                &-long {
		                    right: 8px;
		                    top: 38px;
		                    transform: rotate(-45deg);
		                    width: 47px;
		                }
		            }
		        }	
		    }	    	
	    }
	    &.error {
	    	.icons {
	    		.icon {
		        	width: 140px;
		            height: 140px;
		            padding: 26px;
		            margin: 0 auto;  	
	    			.sa {
		                border-radius: 50%;
		                border: 4px solid $color_f;
		                box-sizing: content-box;
		                height: 80px;
		                padding: 0;
		                position: relative;
		                width: 80px;
					    &:after, &:before {
					      content: '';
					      height: 120px;
					      position: absolute;
					      transform: rotate(45deg);
					      width: 60px;
					    }
					    &:before {
					      border-radius: 40px 0 0 40px;
					      width: 26px;
					      height: 80px;
					      top: -17px;
					      left: 5px;
					      transform-origin: 60px 60px;
					      transform: rotate(-45deg);
					    }
					    &:after {
					      border-radius: 0 120px 120px 0;
					      left: 30px;
					      top: -11px;
					      transform-origin: 0 60px;
					      transform: rotate(-45deg);
					    }
					    &-x {
					      display: block;
					            position: relative;
					            z-index: 2;
					    }
					    &-placeholder {
					            border-radius: 50%;
					      		border: 4px solid $color_f;
					            box-sizing: content-box;
					            height: 80px;
					            left: -4px;
					            position: absolute;
					            top: -4px;
					            width: 80px;
					            z-index: 2;
					    }
					    &-fix {
					            height: 90px;
					            left: 28px;
					            position: absolute;
					            top: 8px;
					            transform: rotate(-45deg);
					            width: 5px;
					            z-index: 1;
					    }
					    &-left, &-right {
					        border-radius: 2px;
					        display: block;
					        height: 5px;
					        position: absolute;
					        z-index: 2;
					  		background-color: $color_f;
					        top: 37px;
					        width: 47px;
					    }
					    &-left {
					        left: 17px;
					        transform: rotate(45deg);
					    }
					    &-right {
					        right: 16px;
					        transform: rotate(-45deg);
					    }
					}
	    		}
	    	}
	    }
	    &.warning {
	    	.icons {
	    		.icon {
		        	width: 140px;
		            height: 140px;
		            padding: 26px;
		            margin: 0 auto;
					.sa {
					    border-radius: 50%;
					    border: 4px solid $color_f;
					    box-sizing: content-box;
					    height: 80px;
					    padding: 0;
					    position: relative;
					    width: 80px;
					    &:after, &:before {
							content: '';
							border-radius: 50%;
							height: 100%;
							position: absolute;
							width: 100%;
					    }
					    &:before {
						    display: inline-block;
						    opacity: 0;
					    }
					    &:after {
					        display: block;
					        z-index: 1;
					    }
					    &-body {
							background-color: $color_f;
							border-radius: 2px;
							height: 47px;
							left: 50%;
							margin-left: -2px;
							position: absolute;
							top: 10px;
							width: 5px;
							z-index: 2;
					    }
					    &-dot {
							background-color: $color_f;
							border-radius: 50%;
							bottom: 10px;
							height: 7px;
							left: 50%;
							margin-left: -3px;
							position: absolute;
							width: 7px;
							z-index: 2;
					    }
					}
		        }
		    }
	    }
        .dialog-content {
        	padding: 30px;
        	p {
        		font-size: 25px;
        	}
        	pre {
        		background-color: transparent;
        		color: $color_75;
        		border: 0;
        		width: 70%;
        		margin: 0 auto;
        		text-align: left;
        		font-size: 16px;
                white-space: pre-wrap; /* css-3 */
                white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
                white-space: -pre-wrap; /* Opera 4-6 */
                white-space: -o-pre-wrap; /* Opera 7 */
                word-wrap: break-word; /* Internet Explorer 5.5+ */
        	}
        	.btns {
        		margin-top: 15px;
        		text-align: center;
        		button, input[type="button"], input[type="submit"], input[type="reset"] {
        			background-color: $color_b1b;
        			border: 0;
        			color: $color_f;
        			border-radius: 99px;
        			margin: 0 0.5em;
        			padding: 7px 3em;
        			font-size: 14px;
                    width: auto;
                    vertical-align: top;
        		}
        	}
        }
    }
    &:before {
	    content: " ";
		display: inline-block;
		vertical-align: middle;
		height: 100%;
    }
    &.show-dialog {
        opacity: 1;
        pointer-events: auto;
        .dialog-modal {
			opacity: 1;
			pointer-events: auto;
			box-sizing: border-box;
			-webkit-animation: showSweetAlert .3s;
			animation: showSweetAlert .3s;
			will-change: transform;
			&.success {
				.icons {
					background-color: $color_8aa;
					.icon {
						.sa {
		                    &:after {
		                        animation: rotatePlaceholder 4.25s ease-in;
		                    }
		                    &-tip {
		                        animation: animateSuccessTip .75s;
		                    }
		                    &-long {
		                        animation: animateSuccessLong .75s;
		                    }
						}
					}
				}
				.dialog-content {
					button, input[type="button"], input[type="submit"], input[type="reset"] {
                        &:nth-last-child(1) {
                            background-color: $color_8aa;
                        }
                    }
				}
		    }
		    &.error {
				.icons {
					background-color: $color_d39;
					.icon {
						.sa {
    						animation: animateErrorIcon .5s;
		                    &:after {
      							animation: rotatePlaceholder 4.25s ease-in;
		                    }
						    &-left {
						        animation: animateXLeft .75s;
						    }
						    &-right {
						        animation: animateXRight .75s;
						    }
						}
					}
				}
				.dialog-content {
                    button, input[type="button"], input[type="submit"], input[type="reset"] {
                        &:nth-last-child(1) {
                            background-color: $color_d39;
                        }
                    }
				}
		    }
		    &.warning {
		    	.icons {
					background-color: $color_4dd;
					.icon {
						.sa {
					    	animation: scaleWarning 0.75s infinite alternate;
		                    &:after {
						    	animation: pulseWarning 2s linear infinite;
		                    }
						    &-body {
								animation: pulseWarningIns 0.75s infinite alternate;
						    }
						    &-dot {
								animation: pulseWarningIns 0.75s infinite alternate;
						    }
						}
					}
				}
				.dialog-content {
                    button, input[type="button"], input[type="submit"], input[type="reset"] {
                        &:nth-last-child(1) {
                            background-color: $color_4dd;
                        }
                    }
				}
		    }
        }
    }
}


// 全域樣式
.txt_center {
	text-align: center !important;
}
.desc {
    color: $color_75;
    text-align: right;
}
@for $i from 1 through 15 {
    table {
        &.td_left_#{$i} {
            td:nth-of-type(#{$i}) {
                text-align: left;
            }
        }
        &.td_right_#{$i} {
            td:nth-of-type(#{$i}) {
                text-align: right;
            }
        }
    }
}

@media print {
    body {
        -webkit-print-color-adjust: exact;
        input {
            &[type="radio"] {
                &+ label {
                    background: url(../img/radioBtn_off.png) left 5px center no-repeat !important;
                }
                &:checked + label {
                    background: url(../img/radioBtn_on.png) left 5px center no-repeat !important;
                }
            }
            &[type="checkbox"] {
                &+ label {
                    background: url(../img/checkBtn_off.png) left 5px center no-repeat !important;
                }
                &:checked + label {
                    background: url(../img/checkBtn_on.png) left 5px center no-repeat !important;
                }
            }
            &.date {
                background: url(../img/ico_calendar.png) calc(100% - 6px) / 18px no-repeat $color_f !important;
            }
        }
        select {
            background: url(../img/ico_down.png) calc(100% - 6px)/10px no-repeat $color_f !important;
        }

        .tableContent {
            .title {
                background: url(../img/ico_info.png) left 10px center no-repeat $color_f !important;
            }
        }
    }
}

@media (min-width: 1345px) {
    nav.navbar {
        .navbar-collapse {
            .navbar-nav {
                li {
                    &:hover>ul {
                        display: block !important;
                    }
                }
            }
        }
    }
    .container {
        width: 1345px;
    }
}

@media (min-width: 1440px) {
    .container {
        width: 96%;
    }
}

@media (max-width: 1345px) {
    nav.navbar {
        background: $color_f !important;
        .navbar-nav {
            margin-right: 0 !important;
        }
    }
}

@media (max-width: 1255px) {
    .navbar-header {
        width: 100%;
        .navbar-toggle {
            display: block !important;
        }
    }
    .navbar-collapse {
        width: auto;
        padding-right: 0;
        padding-left: 0;
        border-top: 0;
        z-index: 1;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
        &.collapse {
            display: none !important;
        }
        &.in {
            overflow-y: visible;
            display: block !important;
        }
        .navbar-nav {
            width: 100%;
            background-color: $color_f;
            margin: 0 !important;
            padding-bottom: 2em;
            a,
            a:hover,
            li {
                float: none !important;
            }
            li {
                a {
                    padding-top: 15px !important;
                    padding-bottom: 15px !important;
                    padding-left: 1.5em;
                }
                &:before {
                    top: 15px !important;
                    bottom: 15px !important;
                    width: 5px !important;
                    height: 20px !important;
                }
                ul.dropdown-menu {
                    position: relative;
                    top: 0;
                    width: 100%;
                    float: none;
                    padding: 1em 0;
                    li {
                        &.title {
                            display: none;
                        }
                        a,
                        a:hover,
                        a:focus {
                            font-size: 18px !important;
                            padding: 10px 0 10px 40px !important;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 990px) {
    
}

@media (max-width: 700px) {
    .login, .account {
        background-position: center top;
        background-size: cover;
        width: 100vw;
        min-height: 100vh;
        height: 100%;
        padding: 2em !important;
        .container {
            position: initial;
            margin: 3em auto 0;
            width: 100%;
            background: rgba(255, 255, 255, 0.9);
        }
    }
}

@media (max-width: 365px) {
    nav.navbar {
        .navbar-header {
            .navbar-brand {
                font-size: 19px !important;
            }
        }
    }
    .login, .account {
        background-position: center top;
        background-size: cover;
        min-height: 100vh;
        height: 100%;
        padding: 1em !important;
        .container {
            position: initial;
            margin: 0 auto;
            width: 100%;
            background: rgba(255, 255, 255, 0.9);
            padding: 3em 2em !important;
            button, input[type="button"], input[type="submit"], input[type="reset"] {
                margin-top: 1em !important;
            }
        }
    }
}


// 提醒訊息動畫 dialog_animation
// warning
@keyframes scaleWarning {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1.02);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes pulseWarning {
    0% {
        transform: scale(1);
        opacity: 0.5;
    }
    30% {
        transform: scale(1);
        opacity: 0.5;
    }
    100% {
        background-color: $color_dba;
        transform: scale(2);
        opacity: 0;
    }
}
// error
@keyframes rotatePlaceholder {
    0%, 5% {
        transform: rotate(-45deg);
    }
    100%, 12% {
        transform: rotate(-405deg);
    }
}
@keyframes animateErrorIcon {
    0% {
        transform: rotateX(100deg);
        opacity: 0;
    }
    100% {
        transform: rotateX(0deg);
        opacity: 1;
    }
}
@keyframes animateXLeft {
    0%, 65% {
        left: 82px;
        top: 95px;
        width: 0;
    }
    84% {
        left: 14px;
        top: 33px;
        width: 47px;
    }
    100% {
        left: 17px;
        top: 37px;
        width: 47px;
    }
}
@keyframes animateXRight {
    0%, 65% {
        right: 82px;
        top: 95px;
        width: 0;
    }
    84% {
        right: 14px;
        top: 33px;
        width: 47px;
    }
    100% {
        right: 16px;
        top: 37px;
        width: 47px;
    }
}
// success
@keyframes animateSuccessTip {
    0%, 54% {
        width: 0;
        left: 1px;
        top: 19px;
    }
    70% {
        width: 50px;
        left: -8px;
        top: 37px;
    }
    84% {
        width: 17px;
        left: 21px;
        top: 48px;
    }
    100% {
        width: 25px;
        left: 14px;
        top: 45px;
    }
}
@keyframes animateSuccessLong {
    0%, 65% {
        width: 0;
        right: 46px;
        top: 54px;
    }
    84% {
        width: 55px;
        right: 0;
        top: 35px;
    }
    100% {
        width: 47px;
        right: 8px;
        top: 38px;
    }
}
@keyframes rotatePlaceholder {
    0%, 5% {
        transform: rotate(-45deg);
    }
    100%, 12% {
        transform: rotate(-405deg);
    }
}