html {
  position: relative;
  min-height: 100%;
  -webkit-print-color-adjust: exact; }

body {
  font-size: 14px;
  background-color: #F5F6FA; }
  body nav.navbar {
    background: url(../img/bg_navbar.png) right 5px top 10px no-repeat #FFFFFF;
    -webkit-box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    margin: 0;
    height: 90px; }
    body nav.navbar .navbar-header {
      padding: 1em;
      height: 90px; }
      body nav.navbar .navbar-header .navbar-logo {
        float: left;
        height: 50px; }
      body nav.navbar .navbar-header .navbar-brand {
        height: auto;
        font-size: 26px;
        padding: 18px 15px;
        color: #63656A; }
      body nav.navbar .navbar-header .navbar-toggle {
        margin-right: 0; }
        body nav.navbar .navbar-header .navbar-toggle .icon-bar {
          background-color: #63656A; }
    body nav.navbar .navbar-collapse {
      max-height: none; }
      body nav.navbar .navbar-collapse .navbar-nav {
        float: right;
        margin: 1.5em 6em 0 0; }
        body nav.navbar .navbar-collapse .navbar-nav > span,
        body nav.navbar .navbar-collapse .navbar-nav > a,
        body nav.navbar .navbar-collapse .navbar-nav > a:hover {
          position: relative;
          display: block;
          float: left;
          padding: 15px;
          font-size: 18px;
          line-height: 20px;
          background-color: transparent;
          color: #B1B2B4;
          text-decoration: none; }
        body nav.navbar .navbar-collapse .navbar-nav li a,
        body nav.navbar .navbar-collapse .navbar-nav li a:hover,
        body nav.navbar .navbar-collapse .navbar-nav li a:focus {
          font-size: 18px;
          background-color: transparent;
          color: #63656A; }
        body nav.navbar .navbar-collapse .navbar-nav li:before {
          content: "";
          position: absolute;
          left: 15px;
          bottom: 0;
          width: 35px;
          height: 5px;
          background-color: #DDDDDD; }
        body nav.navbar .navbar-collapse .navbar-nav li.active:before {
          background-color: #DBAA00; }
        body nav.navbar .navbar-collapse .navbar-nav li ul.dropdown-menu {
          top: 110%;
          min-width: 180px;
          padding-bottom: 1em;
          border-radius: 0;
          background: #3B4047; }
          body nav.navbar .navbar-collapse .navbar-nav li ul.dropdown-menu li {
            font-size: 14px;
            line-height: 30px; }
            body nav.navbar .navbar-collapse .navbar-nav li ul.dropdown-menu li a,
            body nav.navbar .navbar-collapse .navbar-nav li ul.dropdown-menu li a:hover {
              font-size: 14px;
              line-height: 30px;
              color: #FFFFFF;
              padding: 0 0 0 40px; }
            body nav.navbar .navbar-collapse .navbar-nav li ul.dropdown-menu li.title {
              margin: -5px 0 5px -1px;
              line-height: 40px;
              color: #FFFFFF; }
              body nav.navbar .navbar-collapse .navbar-nav li ul.dropdown-menu li.title span {
                font-size: 26px;
                margin-right: 5px;
                padding: 5px;
                background-color: #DBAA00; }
            body nav.navbar .navbar-collapse .navbar-nav li ul.dropdown-menu li:before {
              content: none; }
          body nav.navbar .navbar-collapse .navbar-nav li ul.dropdown-menu:hover {
            display: block; }
  body section.section-wrap {
    background-color: #FFFFFF;
    padding: 25px 0 15px; }
    body section.section-wrap h3 {
      font-size: 22px;
      margin: 0 0 10px;
      color: #63656A; }
    body section.section-wrap ul {
      margin: 5px 0 0;
      -webkit-padding-start: 0;
      -moz-padding-start: 0;
      -o-padding-start: 0;
      -ms-padding-start: 0;
      padding-start: 0; }
      body section.section-wrap ul li {
        position: relative;
        float: left;
        list-style: none;
        color: #98999B;
        font-size: 16px; }
        body section.section-wrap ul li:not(:first-child):before {
          content: "/";
          margin: 0 10px; }
  body article.article-wrap {
    padding-bottom: 100px; }
    body article.article-wrap > .container {
      padding: 2em 0; }
  body footer.footer-wrap {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: url(../img/bg_footer.png) right top no-repeat;
    background-size: cover; }
  body.sw_active {
    overflow: hidden; }

button:focus {
  outline: none; }

select, input, textarea {
  line-height: normal; }
  select:focus, input:focus, textarea:focus {
    outline: #B1C58D solid 1px; }
  select.error, input.error, textarea.error {
    border-color: #FF5B34; }

select {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 30px;
  padding: 3px 12px 3px 6px;
  font-size: 13px;
  color: #0070CD;
  border-radius: 3px;
  border: 1px solid #d8d8d8;
  background: url(../img/ico_down.png) calc(100% - 6px)/10px no-repeat #FFFFFF;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none; }
  select::-ms-expand {
    display: none; }

input[type="text"], input[type="password"], input[type="number"] {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 30px;
  padding: 0px 8px;
  font-size: 13px;
  border-radius: 4px;
  border: 1px solid #d8d8d8;
  color: #0070CD;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none; }

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  opacity: 0;
  height: 100%;
  width: 100%;
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0; }
  input[type="radio"] + label {
    background: url(../img/radioBtn_off.png) left 5px center no-repeat;
    background-size: 20px 20px;
    padding-left: 30px;
    cursor: pointer;
    font-weight: normal;
    color: #0070CD; }
  input[type="radio"]:checked + label {
    background: url(../img/radioBtn_on.png) left 5px center no-repeat;
    background-size: 20px 20px; }

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 2;
  opacity: 0;
  height: 100%;
  width: 100%;
  font-size: 1em;
  margin: 0;
  padding: 0;
  border: 0; }
  input[type="checkbox"] + label {
    background: url(../img/checkBtn_off.png) left 5px center no-repeat;
    background-size: 20px 20px;
    padding-left: 30px;
    cursor: pointer;
    font-weight: normal;
    color: #0070CD; }
  input[type="checkbox"]:checked + label {
    background: url(../img/checkBtn_on.png) left 5px center no-repeat;
    background-size: 20px 20px; }

input.date {
  background: url(../img/ico_calendar.png) calc(100% - 6px)/18px no-repeat #FFFFFF; }

input.time {
  background: url(../img/ico_time.png) calc(100% - 6px)/18px no-repeat #FFFFFF; }

input[disabled] {
  background-color: #F3F3F3; }

input::-webkit-input-placeholder {
  color: #B1B2B4 !important; }

input:-ms-input-placeholder {
  color: #B1B2B4 !important; }

input::-ms-input-placeholder {
  color: #B1B2B4 !important; }

input::placeholder {
  color: #B1B2B4 !important; }

textarea {
  height: 60px;
  width: 100%;
  padding: 5px 8px;
  font-size: 13px;
  border-radius: 4px;
  border: 1px solid #d8d8d8;
  color: #0070CD;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -ms-appearance: none;
  appearance: none; }

.header {
  border-bottom: 1px solid #d8d8d8; }
  .header h4 {
    font-size: 20px;
    color: #FF5B34;
    padding: 0 1em; }
    .header h4.nodata {
      color: #757575; }
  .header span {
    float: right;
    color: #B1B2B4;
    padding-right: 1em; }

.searchBar {
  background: #FFFFFF;
  border-top: 6px solid #B1C58D;
  margin: 0 0 1em;
  padding: 1em; }
  .searchBar > div {
    display: inline-block;
    width: 30%;
    margin: 2px 0; }
    .searchBar > div span {
      display: inline-block;
      width: 8em;
      text-align: right;
      color: #757575; }
    .searchBar > div input, .searchBar > div select, .searchBar > div p {
      display: inline-block;
      width: calc( 100% - 10em);
      color: #0070CD; }
    .searchBar > div.errorMsg {
      margin-left: 8.5em;
      color: #FF5B34;
      width: inherit; }
  .searchBar > button, .searchBar > input[type="submit"], .searchBar > input[type="button"], .searchBar > input[type="reset"] {
    background-color: #8AA955;
    color: #FFFFFF;
    border: 0;
    border-radius: 3px;
    padding: 0.5em 1em;
    width: auto;
    vertical-align: top; }

.func {
  float: left; }
  .func button, .func input[type="button"], .func input[type="submit"], .func input[type="reset"] {
    background-color: #8AA955;
    color: #FFFFFF;
    border: 0;
    border-radius: 3px;
    padding: 2px 1.5em;
    width: auto;
    vertical-align: top; }

.pager {
  text-align: right;
  padding: 0 3px;
  margin: 10px 0;
  font-size: 12px;
  color: #63656A; }
  .pager select {
    vertical-align: initial;
    width: 63px;
    height: 24px;
    color: #63656A;
    background-color: #FFFFFF;
    padding: 3px 8px;
    font-size: 12px; }
    .pager select + i {
      top: 2px; }
  .pager > input {
    display: inline-block;
    vertical-align: top;
    width: 37px;
    height: 24px;
    font-size: 12px;
    text-align: center;
    padding: 0 8px;
    border-radius: 3px;
    border: 1px solid #d8d8d8;
    color: #63656A; }
  .pager > i {
    width: 33px;
    height: 24px;
    padding: 0 3px;
    line-height: 22px;
    background-color: #07C5ED;
    color: #FFFFFF;
    font-size: 12px;
    margin: 0 3px;
    text-align: center;
    vertical-align: top; }
    .pager > i:nth-of-type(1) {
      margin-left: 1em; }
    .pager > i.disable {
      background-color: #DDDDDD; }

.searchError {
  margin: 8em 0; }
  .searchError img {
    display: block;
    max-width: 400px;
    width: 60%;
    margin: 0 auto; }
  .searchError ul {
    max-width: 400px;
    margin: 0 auto;
    color: #FF5B34;
    text-align: center;
    list-style: none; }

table {
  border: 1px solid #d8d8d8;
  width: 100%; }
  table tr {
    border-top: 1px solid #d8d8d8; }
    table tr th {
      background-color: #E8E7E7;
      border: 1px solid #d8d8d8;
      color: #63656A;
      padding: 8px;
      font-weight: normal;
      text-align: center; }
    table tr td {
      border: 1px solid #d8d8d8;
      padding: 8px;
      color: #63656A;
      text-align: center; }
      table tr td img {
        padding: 0 0.5em;
        cursor: pointer;
        max-width: 45px;
        max-height: 16px; }
      table tr td.link {
        cursor: pointer;
        text-decoration: underline; }
    table tr:nth-of-type(even) {
      background-color: #F6FBFF; }
    table tr:nth-of-type(odd) {
      background-color: #FFFFFF; }
  table.nolinkTD td {
    cursor: pointer; }
  table.orderClass tr {
    border: 0; }
    table.orderClass tr th, table.orderClass tr td {
      border: 0; }
    table.orderClass tr.end {
      background-color: #FFFFFF; }
    table.orderClass tr.appNew {
      background-color: #FFFAEC; }
    table.orderClass tr.csNew {
      background-color: #F6FBFF; }
    table.orderClass tr.borderTop {
      border-top: 1px solid #d8d8d8; }
  table.monthClass tr {
    background-color: #FFFFFF; }
    table.monthClass tr td {
      padding: 8px 0;
      vertical-align: top; }
    table.monthClass tr.name th {
      text-align: left;
      background-color: #FFFFFF; }
    table.monthClass tr:hover {
      background-color: #F6FBFF; }
  table.monthClass + .monthClass {
    margin-top: 1em; }

.tableContent {
  border: 1px solid #d8d8d8;
  background-color: #F4F9FA;
  margin: 0 auto; }
  .tableContent .title {
    border-bottom: 1px solid #d8d8d8;
    background: url(../img/ico_info.png) left 10px center no-repeat #FFFFFF;
    background-size: 24px;
    color: #757575;
    font-size: 14px;
    line-height: 34px;
    margin: 0;
    padding-left: 3em; }
    .tableContent .title span {
      float: right;
      margin-right: 1em; }
  .tableContent .content {
    padding: 1em; }
    .tableContent .content > p {
      color: #757575;
      background-color: #ffeaea;
      font-size: 1em;
      margin: 0;
      padding: 5px;
      border-radius: 4px; }
    .tableContent .content .row .col {
      min-height: 36px;
      line-height: 30px;
      padding: 2px 1em; }
      .tableContent .content .row .col .status {
        text-align: center;
        color: #FF5B34;
        font-size: 22px;
        font-weight: 400;
        margin: 0; }
      .tableContent .content .row .col p {
        display: inline-block;
        vertical-align: middle;
        width: 7em;
        color: #757575;
        text-align: right;
        line-height: normal;
        margin: 0 0.5em;
        padding-right: 0.5em; }
      .tableContent .content .row .col span {
        color: #0070CD;
        vertical-align: middle; }
      .tableContent .content .row .col input, .tableContent .content .row .col select {
        display: inline-block;
        vertical-align: middle;
        width: calc(100% - 9em); }
      .tableContent .content .row .col textarea {
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 9em); }
      .tableContent .content .row .col pre {
        color: #0070CD;
        display: inline-block;
        vertical-align: text-top;
        width: calc(100% - 9em);
        background-color: transparent;
        border: 0;
        margin: 0;
        padding: 0;
        white-space: pre-wrap;
        /* css-3 */
        white-space: -moz-pre-wrap;
        /* Mozilla, since 1999 */
        white-space: -pre-wrap;
        /* Opera 4-6 */
        white-space: -o-pre-wrap;
        /* Opera 7 */
        word-wrap: break-word;
        /* Internet Explorer 5.5+ */ }
      .tableContent .content .row .col hr {
        border-top-color: #DDDDDD;
        margin: 1em auto; }
      .tableContent .content .row .col label.file {
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
        padding: 0 7px;
        background-color: #8AA955;
        color: #FFFFFF;
        border: 0;
        border-radius: 3px;
        margin: 0; }
      .tableContent .content .row .col button, .tableContent .content .row .col input[type="button"], .tableContent .content .row .col input[type="submit"], .tableContent .content .row .col input[type="reset"] {
        background-color: #8AA955;
        color: #FFFFFF;
        border: 0;
        border-radius: 3px;
        margin: 1em 0 0;
        padding: 0.5em 1.5em;
        line-height: normal;
        width: auto;
        vertical-align: top; }
        .tableContent .content .row .col button.gray, .tableContent .content .row .col input[type="button"].gray, .tableContent .content .row .col input[type="submit"].gray, .tableContent .content .row .col input[type="reset"].gray {
          background-color: #98999B; }
        .tableContent .content .row .col button.red, .tableContent .content .row .col input[type="button"].red, .tableContent .content .row .col input[type="submit"].red, .tableContent .content .row .col input[type="reset"].red {
          background-color: #D39596; }
      .tableContent .content .row .col div {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 8.5em); }
        .tableContent .content .row .col div > label {
          font-weight: normal;
          display: block; }
        .tableContent .content .row .col div > input[type="radio"], .tableContent .content .row .col div > input[type="checkbox"] {
          display: none; }
        .tableContent .content .row .col div > input[type="text"] {
          width: calc( 100% - 7.5em); }
        .tableContent .content .row .col div > ul {
          margin: 6px 0;
          -webkit-padding-start: 20px;
          color: #0070CD;
          line-height: normal; }
        .tableContent .content .row .col div > button, .tableContent .content .row .col div > input[type="submit"], .tableContent .content .row .col div > input[type="button"], .tableContent .content .row .col div > input[type="reset"] {
          background-color: #8AA955;
          color: #FFFFFF;
          border: 0;
          border-radius: 3px;
          margin: 0;
          padding: 5px 0.5em;
          line-height: normal;
          vertical-align: middle;
          width: auto; }
        .tableContent .content .row .col div > table {
          width: 100%; }
          .tableContent .content .row .col div > table tr.create td {
            background-color: #FFFAEC; }
            .tableContent .content .row .col div > table tr.create td img {
              min-height: 24px; }
          .tableContent .content .row .col div > table tr td {
            padding: 5px;
            min-width: 50px;
            max-width: 230px;
            background-color: #FFFFFF; }
            .tableContent .content .row .col div > table tr td input, .tableContent .content .row .col div > table tr td select {
              width: 100%; }
      .tableContent .content .row .col.right {
        text-align: right; }
  .tableContent.smallView {
    width: 450px; }
    .tableContent.smallView .content .col p {
      width: 5.5em !important; }
    .tableContent.smallView .content .col:nth-last-child(1) {
      padding-right: 2.5em; }
  .tableContent.print {
    margin: 1em;
    background-color: #FFFFFF; }
    .tableContent.print p, .tableContent.print span, .tableContent.print pre, .tableContent.print ul, .tableContent.print label {
      font-size: 16px;
      display: inline-block !important;
      color: #3B4047 !important; }
      .tableContent.print p.title, .tableContent.print span.title, .tableContent.print pre.title, .tableContent.print ul.title, .tableContent.print label.title {
        padding: 0.5em 3em;
        border-bottom: 0;
        width: 100%; }
        .tableContent.print p.title span, .tableContent.print span.title span, .tableContent.print pre.title span, .tableContent.print ul.title span, .tableContent.print label.title span {
          float: right; }
    .tableContent.print select[disabled], .tableContent.print input[disabled], .tableContent.print textarea[disabled] {
      background-color: transparent; }
    .tableContent.print select:focus, .tableContent.print input:focus, .tableContent.print textarea:focus {
      outline: none; }
    .tableContent.print .content {
      padding: 0 1em; }
      .tableContent.print .content .col {
        position: relative;
        padding: 0.5em 0 !important;
        border: 1px solid #d8d8d8;
        border-bottom: 0;
        border-right: 0; }
        .tableContent.print .content .col:after {
          content: "";
          position: absolute;
          border-right: 1px solid #d8d8d8;
          left: 9em;
          top: 0;
          bottom: 0; }
        .tableContent.print .content .col > div {
          width: calc(100% - 9.5em) !important; }
          .tableContent.print .content .col > div table th {
            background-color: #E8E7E7 !important; }
          .tableContent.print .content .col > div table th, .tableContent.print .content .col > div table td {
            font-size: 14px;
            padding: 2px;
            color: #3B4047; }
      .tableContent.print .content .multi .col table {
        margin: 1em;
        width: calc(100% - 2em); }
        .tableContent.print .content .multi .col table th {
          background-color: #E8E7E7 !important; }
          .tableContent.print .content .multi .col table th p {
            text-align: left;
            float: left; }
          .tableContent.print .content .multi .col table th span {
            float: right; }
        .tableContent.print .content .multi .col table + table {
          margin-top: 0; }
      .tableContent.print .content .multi .col:after {
        border-right: 0; }
      .tableContent.print .content .multi .col p + input {
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
        max-width: 150px;
        margin-right: 1em; }

.uploadContent {
  border: 1px solid #d8d8d8;
  background-color: #FFFFFF;
  margin: 0 auto;
  padding: 2em 1em;
  min-height: 54vh; }
  .uploadContent > h3 {
    font-size: 22px;
    font-weight: 400;
    text-align: center;
    color: #757575;
    margin: 0 0 10px; }
    .uploadContent > h3.status {
      color: #FF5B34;
      margin: 15px 0; }
      .uploadContent > h3.status.visiHidden {
        visibility: hidden; }
  .uploadContent > p {
    text-align: center;
    color: #B1B2B4; }
  .uploadContent .row {
    width: 40%;
    margin: 0 auto; }
    .uploadContent .row .col {
      line-height: 30px;
      padding: 3px 1em; }
      .uploadContent .row .col p {
        display: inline-block;
        vertical-align: middle;
        width: 7em;
        color: #757575;
        text-align: right;
        margin: 0 0.5em; }
      .uploadContent .row .col span {
        color: #0070CD;
        vertical-align: middle; }
      .uploadContent .row .col div, .uploadContent .row .col select {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: calc(100% - 9em); }
        .uploadContent .row .col div > label, .uploadContent .row .col select > label {
          font-weight: normal;
          display: block; }
        .uploadContent .row .col div > input[type="radio"], .uploadContent .row .col select > input[type="radio"] {
          display: none; }
        .uploadContent .row .col div > input[type="text"], .uploadContent .row .col select > input[type="text"] {
          width: calc( 100% - 4em); }
        .uploadContent .row .col div > button, .uploadContent .row .col div > input[type="submit"], .uploadContent .row .col div > input[type="button"], .uploadContent .row .col div > input[type="reset"], .uploadContent .row .col select > button, .uploadContent .row .col select > input[type="submit"], .uploadContent .row .col select > input[type="button"], .uploadContent .row .col select > input[type="reset"] {
          background-color: #8AA955;
          color: #FFFFFF;
          border: 0;
          border-radius: 3px;
          padding: 5px 0.5em;
          line-height: normal;
          vertical-align: middle;
          width: auto; }
      .uploadContent .row .col > button, .uploadContent .row .col > input[type="submit"], .uploadContent .row .col > input[type="button"], .uploadContent .row .col > input[type="reset"] {
        background-color: #8AA955;
        color: #FFFFFF;
        border: 0;
        border-radius: 3px;
        margin: 1em 0 0;
        padding: 0.5em 2em;
        line-height: normal;
        float: right;
        width: auto;
        vertical-align: top; }

.cards .card {
  padding: 0.8em 0.5em 0.5em 1em;
  border-left: 5px solid;
  background-color: #FFFFFF;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  display: inline-block;
  vertical-align: top;
  margin: 1% 1.5%;
  width: 30%; }
  .cards .card span {
    float: right;
    color: #B1B2B4; }
  .cards .card h4 {
    font-size: 16px;
    color: #3B4047;
    margin-bottom: 20px; }
  .cards .card ul {
    min-height: 60px;
    margin-bottom: 20px; }
    .cards .card ul li {
      list-style: none;
      font-size: 14px;
      color: #63656A; }
  .cards .card p {
    font-size: 12px;
    color: #63656A;
    margin-bottom: 0; }
  .cards .card:nth-of-type(7n+1) {
    border-color: #4098A2; }
  .cards .card:nth-of-type(7n+2) {
    border-color: #53B2A8; }
  .cards .card:nth-of-type(7n+3) {
    border-color: #8AA955; }
  .cards .card:nth-of-type(7n+4) {
    border-color: #E4C040; }
  .cards .card:nth-of-type(7n+5) {
    border-color: #D57F00; }
  .cards .card:nth-of-type(7n+6) {
    border-color: #C2531B; }
  .cards .card:nth-of-type(7n+7) {
    border-color: #4087A5; }

.login {
  background: url(../img/bg_login.png) left top no-repeat;
  background-size: 60% 100%;
  width: 100vw;
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 0 !important; }
  .login .container {
    background-color: #FFFFFF;
    width: 40%;
    min-height: 100vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-right: 0;
    padding: 5em 2em 0 !important; }
    .login .container img {
      width: 80%;
      max-width: 238px;
      display: block;
      margin: 0 auto 2em; }
    .login .container p {
      font-size: 20px;
      color: #757575; }
      .login .container p.text_red {
        text-align: center;
        color: #FF5B34; }
        .login .container p.text_red.visibleHidden {
          visibility: hidden; }
    .login .container input {
      font-size: 20px;
      margin-bottom: 1em;
      padding: 10px 8px;
      height: 50px; }
    .login .container button, .login .container input[type="button"], .login .container input[type="submit"], .login .container input[type="reset"] {
      width: 100%;
      background-color: #638C1C;
      color: #FFFFFF;
      font-size: 20px;
      margin-top: 2em;
      padding: 15px;
      border-radius: 3px; }

.account {
  background: url(../img/bg_account.png) left top no-repeat;
  background-size: 60% 100%;
  width: 100vw;
  min-height: 100vh;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  padding-bottom: 0 !important; }
  .account .container {
    background-color: #FFFFFF;
    width: 40%;
    min-height: 100vh;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-right: 0;
    padding: 5em 2em 0 !important; }
    .account .container img {
      width: 80%;
      max-width: 238px;
      display: block;
      margin: 0 auto 2em; }
    .account .container p {
      font-size: 20px;
      color: #757575;
      margin-bottom: 5px; }
      .account .container p.text_red {
        text-align: center;
        color: #FF5B34; }
        .account .container p.text_red.visibleHidden {
          visibility: hidden; }
    .account .container input {
      font-size: 20px;
      margin-bottom: 10px;
      padding: 10px 8px;
      height: 50px; }
    .account .container button, .account .container input[type="button"], .account .container input[type="submit"], .account .container input[type="reset"] {
      width: 100%;
      background-color: #638C1C;
      color: #FFFFFF;
      font-size: 20px;
      margin-top: 1em;
      padding: 15px;
      border-radius: 3px; }

.homepage {
  text-align: center; }
  .homepage h3 {
    font-size: 28px;
    font-weight: normal;
    line-height: 1.5em;
    color: #757575; }
  .homepage p {
    font-weight: normal;
    color: #B1B2B4;
    font-size: 20px;
    margin-bottom: 20px; }
  .homepage img {
    display: block;
    width: 80%;
    max-width: 600px;
    margin: 0 auto; }

.dialog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 1em;
  overflow-y: auto;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 10000;
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s; }
  .dialog .dialog-modal {
    width: 574px;
    margin: 0 auto;
    opacity: 0;
    pointer-events: none;
    background-color: #FFFFFF;
    text-align: center;
    border-radius: 5px;
    position: static;
    display: inline-block;
    vertical-align: middle;
    z-index: 10001;
    transition: opacity .2s,-webkit-transform .3s;
    -webkit-transition: opacity .2s,-webkit-transform .3s;
    -o-transition: transform .3s,opacity .2s;
    transition: transform .3s,opacity .2s;
    transition: transform .3s,opacity .2s,-webkit-transform .3s;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%; }
    .dialog .dialog-modal.subDialog {
      width: 90%;
      border-radius: 0;
      text-align: left; }
      .dialog .dialog-modal.subDialog .tableContent .title span {
        float: right;
        margin-right: 1em; }
      .dialog .dialog-modal.subDialog .tableContent .content {
        max-height: 80vh;
        overflow-y: auto; }
        .dialog .dialog-modal.subDialog .tableContent .content .row .col div label {
          display: inline-block;
          margin-right: 1em; }
        .dialog .dialog-modal.subDialog .tableContent .content .row .col div b {
          color: #FF5B34; }
        .dialog .dialog-modal.subDialog .tableContent .content .row.multi .pump {
          width: 60%;
          margin: 1em auto;
          padding: 1em;
          float: none;
          background-color: #FFFAEC; }
          .dialog .dialog-modal.subDialog .tableContent .content .row.multi .pump p {
            display: block;
            margin: 0 auto 0.5em;
            color: #3B4047; }
          .dialog .dialog-modal.subDialog .tableContent .content .row.multi .pump table {
            width: 100%;
            border: 1px solid #d8d8d8; }
            .dialog .dialog-modal.subDialog .tableContent .content .row.multi .pump table tr {
              background-color: transparent !important; }
              .dialog .dialog-modal.subDialog .tableContent .content .row.multi .pump table tr:not(:first-child) {
                border-top: 1px solid #d8d8d8; }
              .dialog .dialog-modal.subDialog .tableContent .content .row.multi .pump table tr th, .dialog .dialog-modal.subDialog .tableContent .content .row.multi .pump table tr td {
                background-color: transparent !important;
                border: 0 !important;
                color: #3B4047;
                padding: 3px 8px; }
              .dialog .dialog-modal.subDialog .tableContent .content .row.multi .pump table tr td:last-child {
                color: #FF5B34 !important; }
        .dialog .dialog-modal.subDialog .tableContent .content .row.multi .medication table {
          width: 100%; }
          .dialog .dialog-modal.subDialog .tableContent .content .row.multi .medication table tr.create td {
            background-color: #FFFAEC; }
            .dialog .dialog-modal.subDialog .tableContent .content .row.multi .medication table tr.create td img {
              min-height: 24px; }
          .dialog .dialog-modal.subDialog .tableContent .content .row.multi .medication table tr th {
            cursor: auto;
            padding: 5px;
            line-height: normal;
            color: #3B4047; }
            .dialog .dialog-modal.subDialog .tableContent .content .row.multi .medication table tr th p {
              text-align: left;
              float: left;
              color: #3B4047; }
            .dialog .dialog-modal.subDialog .tableContent .content .row.multi .medication table tr th span {
              float: right;
              color: #3B4047; }
              .dialog .dialog-modal.subDialog .tableContent .content .row.multi .medication table tr th span b {
                color: #0070CD; }
          .dialog .dialog-modal.subDialog .tableContent .content .row.multi .medication table tr td {
            cursor: auto;
            padding: 5px;
            line-height: normal;
            color: #3B4047;
            background-color: #FFFFFF; }
            .dialog .dialog-modal.subDialog .tableContent .content .row.multi .medication table tr td input, .dialog .dialog-modal.subDialog .tableContent .content .row.multi .medication table tr td select {
              width: 100%; }
          .dialog .dialog-modal.subDialog .tableContent .content .row.multi .medication table + table {
            margin-top: 1em; }
      .dialog .dialog-modal.subDialog.smallView {
        width: 45%; }
    .dialog .dialog-modal.success .icons .icon {
      width: 140px;
      height: 140px;
      padding: 26px;
      margin: 0 auto; }
      .dialog .dialog-modal.success .icons .icon .sa {
        border-radius: 50%;
        border: 4px solid #FFFFFF;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        height: 80px;
        padding: 0;
        position: relative;
        width: 80px; }
        .dialog .dialog-modal.success .icons .icon .sa:after, .dialog .dialog-modal.success .icons .icon .sa:before {
          content: '';
          height: 120px;
          position: absolute;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          width: 60px; }
        .dialog .dialog-modal.success .icons .icon .sa:before {
          border-radius: 40px 0 0 40px;
          width: 26px;
          height: 80px;
          top: -17px;
          left: 5px;
          -webkit-transform-origin: 60px 60px;
          -ms-transform-origin: 60px 60px;
          transform-origin: 60px 60px;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        .dialog .dialog-modal.success .icons .icon .sa:after {
          border-radius: 0 120px 120px 0;
          left: 30px;
          top: -11px;
          -webkit-transform-origin: 0 60px;
          -ms-transform-origin: 0 60px;
          transform-origin: 0 60px;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        .dialog .dialog-modal.success .icons .icon .sa-placeholder {
          border-radius: 50%;
          border: 4px solid #FFFFFF;
          -webkit-box-sizing: content-box;
          box-sizing: content-box;
          height: 80px;
          left: -4px;
          position: absolute;
          top: -4px;
          width: 80px;
          z-index: 2; }
        .dialog .dialog-modal.success .icons .icon .sa-fix {
          height: 90px;
          left: 28px;
          position: absolute;
          top: 8px;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
          width: 5px;
          z-index: 1; }
        .dialog .dialog-modal.success .icons .icon .sa-tip, .dialog .dialog-modal.success .icons .icon .sa-long {
          background-color: #FFFFFF;
          border-radius: 2px;
          height: 5px;
          position: absolute;
          z-index: 2; }
        .dialog .dialog-modal.success .icons .icon .sa-tip {
          left: 14px;
          top: 46px;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          width: 25px; }
        .dialog .dialog-modal.success .icons .icon .sa-long {
          right: 8px;
          top: 38px;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
          width: 47px; }
    .dialog .dialog-modal.error .icons .icon {
      width: 140px;
      height: 140px;
      padding: 26px;
      margin: 0 auto; }
      .dialog .dialog-modal.error .icons .icon .sa {
        border-radius: 50%;
        border: 4px solid #FFFFFF;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        height: 80px;
        padding: 0;
        position: relative;
        width: 80px; }
        .dialog .dialog-modal.error .icons .icon .sa:after, .dialog .dialog-modal.error .icons .icon .sa:before {
          content: '';
          height: 120px;
          position: absolute;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          width: 60px; }
        .dialog .dialog-modal.error .icons .icon .sa:before {
          border-radius: 40px 0 0 40px;
          width: 26px;
          height: 80px;
          top: -17px;
          left: 5px;
          -webkit-transform-origin: 60px 60px;
          -ms-transform-origin: 60px 60px;
          transform-origin: 60px 60px;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        .dialog .dialog-modal.error .icons .icon .sa:after {
          border-radius: 0 120px 120px 0;
          left: 30px;
          top: -11px;
          -webkit-transform-origin: 0 60px;
          -ms-transform-origin: 0 60px;
          transform-origin: 0 60px;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
        .dialog .dialog-modal.error .icons .icon .sa-x {
          display: block;
          position: relative;
          z-index: 2; }
        .dialog .dialog-modal.error .icons .icon .sa-placeholder {
          border-radius: 50%;
          border: 4px solid #FFFFFF;
          -webkit-box-sizing: content-box;
          box-sizing: content-box;
          height: 80px;
          left: -4px;
          position: absolute;
          top: -4px;
          width: 80px;
          z-index: 2; }
        .dialog .dialog-modal.error .icons .icon .sa-fix {
          height: 90px;
          left: 28px;
          position: absolute;
          top: 8px;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
          width: 5px;
          z-index: 1; }
        .dialog .dialog-modal.error .icons .icon .sa-left, .dialog .dialog-modal.error .icons .icon .sa-right {
          border-radius: 2px;
          display: block;
          height: 5px;
          position: absolute;
          z-index: 2;
          background-color: #FFFFFF;
          top: 37px;
          width: 47px; }
        .dialog .dialog-modal.error .icons .icon .sa-left {
          left: 17px;
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg); }
        .dialog .dialog-modal.error .icons .icon .sa-right {
          right: 16px;
          -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
          transform: rotate(-45deg); }
    .dialog .dialog-modal.warning .icons .icon {
      width: 140px;
      height: 140px;
      padding: 26px;
      margin: 0 auto; }
      .dialog .dialog-modal.warning .icons .icon .sa {
        border-radius: 50%;
        border: 4px solid #FFFFFF;
        -webkit-box-sizing: content-box;
        box-sizing: content-box;
        height: 80px;
        padding: 0;
        position: relative;
        width: 80px; }
        .dialog .dialog-modal.warning .icons .icon .sa:after, .dialog .dialog-modal.warning .icons .icon .sa:before {
          content: '';
          border-radius: 50%;
          height: 100%;
          position: absolute;
          width: 100%; }
        .dialog .dialog-modal.warning .icons .icon .sa:before {
          display: inline-block;
          opacity: 0; }
        .dialog .dialog-modal.warning .icons .icon .sa:after {
          display: block;
          z-index: 1; }
        .dialog .dialog-modal.warning .icons .icon .sa-body {
          background-color: #FFFFFF;
          border-radius: 2px;
          height: 47px;
          left: 50%;
          margin-left: -2px;
          position: absolute;
          top: 10px;
          width: 5px;
          z-index: 2; }
        .dialog .dialog-modal.warning .icons .icon .sa-dot {
          background-color: #FFFFFF;
          border-radius: 50%;
          bottom: 10px;
          height: 7px;
          left: 50%;
          margin-left: -3px;
          position: absolute;
          width: 7px;
          z-index: 2; }
    .dialog .dialog-modal .dialog-content {
      padding: 30px; }
      .dialog .dialog-modal .dialog-content p {
        font-size: 25px; }
      .dialog .dialog-modal .dialog-content pre {
        background-color: transparent;
        color: #757575;
        border: 0;
        width: 70%;
        margin: 0 auto;
        text-align: left;
        font-size: 16px;
        white-space: pre-wrap;
        /* css-3 */
        white-space: -moz-pre-wrap;
        /* Mozilla, since 1999 */
        white-space: -pre-wrap;
        /* Opera 4-6 */
        white-space: -o-pre-wrap;
        /* Opera 7 */
        word-wrap: break-word;
        /* Internet Explorer 5.5+ */ }
      .dialog .dialog-modal .dialog-content .btns {
        margin-top: 15px;
        text-align: center; }
        .dialog .dialog-modal .dialog-content .btns button, .dialog .dialog-modal .dialog-content .btns input[type="button"], .dialog .dialog-modal .dialog-content .btns input[type="submit"], .dialog .dialog-modal .dialog-content .btns input[type="reset"] {
          background-color: #B1B2B4;
          border: 0;
          color: #FFFFFF;
          border-radius: 99px;
          margin: 0 0.5em;
          padding: 7px 3em;
          font-size: 14px;
          width: auto;
          vertical-align: top; }
  .dialog:before {
    content: " ";
    display: inline-block;
    vertical-align: middle;
    height: 100%; }
  .dialog.show-dialog {
    opacity: 1;
    pointer-events: auto; }
    .dialog.show-dialog .dialog-modal {
      opacity: 1;
      pointer-events: auto;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-animation: showSweetAlert .3s;
      animation: showSweetAlert .3s;
      will-change: transform; }
      .dialog.show-dialog .dialog-modal.success .icons {
        background-color: #8AA955; }
        .dialog.show-dialog .dialog-modal.success .icons .icon .sa:after {
          -webkit-animation: rotatePlaceholder 4.25s ease-in;
          animation: rotatePlaceholder 4.25s ease-in; }
        .dialog.show-dialog .dialog-modal.success .icons .icon .sa-tip {
          -webkit-animation: animateSuccessTip .75s;
          animation: animateSuccessTip .75s; }
        .dialog.show-dialog .dialog-modal.success .icons .icon .sa-long {
          -webkit-animation: animateSuccessLong .75s;
          animation: animateSuccessLong .75s; }
      .dialog.show-dialog .dialog-modal.success .dialog-content button:nth-last-child(1), .dialog.show-dialog .dialog-modal.success .dialog-content input[type="button"]:nth-last-child(1), .dialog.show-dialog .dialog-modal.success .dialog-content input[type="submit"]:nth-last-child(1), .dialog.show-dialog .dialog-modal.success .dialog-content input[type="reset"]:nth-last-child(1) {
        background-color: #8AA955; }
      .dialog.show-dialog .dialog-modal.error .icons {
        background-color: #D39596; }
        .dialog.show-dialog .dialog-modal.error .icons .icon .sa {
          -webkit-animation: animateErrorIcon .5s;
          animation: animateErrorIcon .5s; }
          .dialog.show-dialog .dialog-modal.error .icons .icon .sa:after {
            -webkit-animation: rotatePlaceholder 4.25s ease-in;
            animation: rotatePlaceholder 4.25s ease-in; }
          .dialog.show-dialog .dialog-modal.error .icons .icon .sa-left {
            -webkit-animation: animateXLeft .75s;
            animation: animateXLeft .75s; }
          .dialog.show-dialog .dialog-modal.error .icons .icon .sa-right {
            -webkit-animation: animateXRight .75s;
            animation: animateXRight .75s; }
      .dialog.show-dialog .dialog-modal.error .dialog-content button:nth-last-child(1), .dialog.show-dialog .dialog-modal.error .dialog-content input[type="button"]:nth-last-child(1), .dialog.show-dialog .dialog-modal.error .dialog-content input[type="submit"]:nth-last-child(1), .dialog.show-dialog .dialog-modal.error .dialog-content input[type="reset"]:nth-last-child(1) {
        background-color: #D39596; }
      .dialog.show-dialog .dialog-modal.warning .icons {
        background-color: #EDD47F; }
        .dialog.show-dialog .dialog-modal.warning .icons .icon .sa {
          -webkit-animation: scaleWarning 0.75s infinite alternate;
          animation: scaleWarning 0.75s infinite alternate; }
          .dialog.show-dialog .dialog-modal.warning .icons .icon .sa:after {
            -webkit-animation: pulseWarning 2s linear infinite;
            animation: pulseWarning 2s linear infinite; }
          .dialog.show-dialog .dialog-modal.warning .icons .icon .sa-body {
            -webkit-animation: pulseWarningIns 0.75s infinite alternate;
            animation: pulseWarningIns 0.75s infinite alternate; }
          .dialog.show-dialog .dialog-modal.warning .icons .icon .sa-dot {
            -webkit-animation: pulseWarningIns 0.75s infinite alternate;
            animation: pulseWarningIns 0.75s infinite alternate; }
      .dialog.show-dialog .dialog-modal.warning .dialog-content button:nth-last-child(1), .dialog.show-dialog .dialog-modal.warning .dialog-content input[type="button"]:nth-last-child(1), .dialog.show-dialog .dialog-modal.warning .dialog-content input[type="submit"]:nth-last-child(1), .dialog.show-dialog .dialog-modal.warning .dialog-content input[type="reset"]:nth-last-child(1) {
        background-color: #EDD47F; }

.txt_center {
  text-align: center !important; }

.desc {
  color: #757575;
  text-align: right; }

table.td_left_1 td:nth-of-type(1) {
  text-align: left; }

table.td_right_1 td:nth-of-type(1) {
  text-align: right; }

table.td_left_2 td:nth-of-type(2) {
  text-align: left; }

table.td_right_2 td:nth-of-type(2) {
  text-align: right; }

table.td_left_3 td:nth-of-type(3) {
  text-align: left; }

table.td_right_3 td:nth-of-type(3) {
  text-align: right; }

table.td_left_4 td:nth-of-type(4) {
  text-align: left; }

table.td_right_4 td:nth-of-type(4) {
  text-align: right; }

table.td_left_5 td:nth-of-type(5) {
  text-align: left; }

table.td_right_5 td:nth-of-type(5) {
  text-align: right; }

table.td_left_6 td:nth-of-type(6) {
  text-align: left; }

table.td_right_6 td:nth-of-type(6) {
  text-align: right; }

table.td_left_7 td:nth-of-type(7) {
  text-align: left; }

.memo-button{
  background-color: #8AA955;
  color: #FFFFFF;
  border: 0;
  border-radius: 3px;
  padding: 0.5em 1em;
  width: auto;
  vertical-align: top;
}
table.td_right_7 td:nth-of-type(7) {
  text-align: right; }

table.td_left_8 td:nth-of-type(8) {
  text-align: left; }

table.td_right_8 td:nth-of-type(8) {
  text-align: right; }

table.td_left_9 td:nth-of-type(9) {
  text-align: left; }

table.td_right_9 td:nth-of-type(9) {
  text-align: right; }

table.td_left_10 td:nth-of-type(10) {
  text-align: left; }

table.td_right_10 td:nth-of-type(10) {
  text-align: right; }

table.td_left_11 td:nth-of-type(11) {
  text-align: left; }

table.td_right_11 td:nth-of-type(11) {
  text-align: right; }

table.td_left_12 td:nth-of-type(12) {
  text-align: left; }

table.td_right_12 td:nth-of-type(12) {
  text-align: right; }

table.td_left_13 td:nth-of-type(13) {
  text-align: left; }

table.td_right_13 td:nth-of-type(13) {
  text-align: right; }

table.td_left_14 td:nth-of-type(14) {
  text-align: left; }

table.td_right_14 td:nth-of-type(14) {
  text-align: right; }

table.td_left_15 td:nth-of-type(15) {
  text-align: left; }

table.td_right_15 td:nth-of-type(15) {
  text-align: right; }

@media print {
  body {
    -webkit-print-color-adjust: exact; }
    body input[type="radio"] + label {
      background: url(../img/radioBtn_off.png) left 5px center no-repeat !important; }
    body input[type="radio"]:checked + label {
      background: url(../img/radioBtn_on.png) left 5px center no-repeat !important; }
    body input[type="checkbox"] + label {
      background: url(../img/checkBtn_off.png) left 5px center no-repeat !important; }
    body input[type="checkbox"]:checked + label {
      background: url(../img/checkBtn_on.png) left 5px center no-repeat !important; }
    body input.date {
      background: url(../img/ico_calendar.png) calc(100% - 6px)/18px no-repeat #FFFFFF !important; }
    body select {
      background: url(../img/ico_down.png) calc(100% - 6px)/10px no-repeat #FFFFFF !important; }
    body .tableContent .title {
      background: url(../img/ico_info.png) left 10px center no-repeat #FFFFFF !important; } }

@media (min-width: 1345px) {
  nav.navbar .navbar-collapse .navbar-nav li:hover > ul {
    display: block !important; }
  .container {
    width: 1345px; } }

@media (min-width: 1440px) {
  .container {
    width: 96%; } }

@media (max-width: 1345px) {
  nav.navbar {
    background: #FFFFFF !important; }
    nav.navbar .navbar-nav {
      margin-right: 0 !important; } }

@media (max-width: 1255px) {
  .navbar-header {
    width: 100%; }
    .navbar-header .navbar-toggle {
      display: block !important; }
  .navbar-collapse {
    width: auto;
    padding-right: 0;
    padding-left: 0;
    border-top: 0;
    z-index: 1;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25); }
    .navbar-collapse.collapse {
      display: none !important; }
    .navbar-collapse.in {
      overflow-y: visible;
      display: block !important; }
    .navbar-collapse .navbar-nav {
      width: 100%;
      background-color: #FFFFFF;
      margin: 0 !important;
      padding-bottom: 2em; }
      .navbar-collapse .navbar-nav a,
      .navbar-collapse .navbar-nav a:hover,
      .navbar-collapse .navbar-nav li {
        float: none !important; }
      .navbar-collapse .navbar-nav li a {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        padding-left: 1.5em; }
      .navbar-collapse .navbar-nav li:before {
        top: 15px !important;
        bottom: 15px !important;
        width: 5px !important;
        height: 20px !important; }
      .navbar-collapse .navbar-nav li ul.dropdown-menu {
        position: relative;
        top: 0;
        width: 100%;
        float: none;
        padding: 1em 0; }
        .navbar-collapse .navbar-nav li ul.dropdown-menu li.title {
          display: none; }
        .navbar-collapse .navbar-nav li ul.dropdown-menu li a,
        .navbar-collapse .navbar-nav li ul.dropdown-menu li a:hover,
        .navbar-collapse .navbar-nav li ul.dropdown-menu li a:focus {
          font-size: 18px !important;
          padding: 10px 0 10px 40px !important; } }

@media (max-width: 700px) {
  .login, .account {
    background-position: center top;
    background-size: cover;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    padding: 2em !important; }
    .login .container, .account .container {
      position: initial;
      margin: 3em auto 0;
      width: 100%;
      background: rgba(255, 255, 255, 0.9); } }

@media (max-width: 365px) {
  nav.navbar .navbar-header .navbar-brand {
    font-size: 19px !important; }
  .login, .account {
    background-position: center top;
    background-size: cover;
    min-height: 100vh;
    height: 100%;
    padding: 1em !important; }
    .login .container, .account .container {
      position: initial;
      margin: 0 auto;
      width: 100%;
      background: rgba(255, 255, 255, 0.9);
      padding: 3em 2em !important; }
      .login .container button, .login .container input[type="button"], .login .container input[type="submit"], .login .container input[type="reset"], .account .container button, .account .container input[type="button"], .account .container input[type="submit"], .account .container input[type="reset"] {
        margin-top: 1em !important; } }

@-webkit-keyframes scaleWarning {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  30% {
    -webkit-transform: scale(1.02);
    transform: scale(1.02); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes scaleWarning {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  30% {
    -webkit-transform: scale(1.02);
    transform: scale(1.02); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes pulseWarning {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.5; }
  30% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.5; }
  100% {
    background-color: #DBAA00;
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0; } }

@keyframes pulseWarning {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.5; }
  30% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0.5; }
  100% {
    background-color: #DBAA00;
    -webkit-transform: scale(2);
    transform: scale(2);
    opacity: 0; } }

@-webkit-keyframes rotatePlaceholder {
  0%, 5% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  100%, 12% {
    -webkit-transform: rotate(-405deg);
    transform: rotate(-405deg); } }

@keyframes rotatePlaceholder {
  0%, 5% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  100%, 12% {
    -webkit-transform: rotate(-405deg);
    transform: rotate(-405deg); } }

@-webkit-keyframes animateErrorIcon {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1; } }

@keyframes animateErrorIcon {
  0% {
    -webkit-transform: rotateX(100deg);
    transform: rotateX(100deg);
    opacity: 0; }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    opacity: 1; } }

@-webkit-keyframes animateXLeft {
  0%, 65% {
    left: 82px;
    top: 95px;
    width: 0; }
  84% {
    left: 14px;
    top: 33px;
    width: 47px; }
  100% {
    left: 17px;
    top: 37px;
    width: 47px; } }

@keyframes animateXLeft {
  0%, 65% {
    left: 82px;
    top: 95px;
    width: 0; }
  84% {
    left: 14px;
    top: 33px;
    width: 47px; }
  100% {
    left: 17px;
    top: 37px;
    width: 47px; } }

@-webkit-keyframes animateXRight {
  0%, 65% {
    right: 82px;
    top: 95px;
    width: 0; }
  84% {
    right: 14px;
    top: 33px;
    width: 47px; }
  100% {
    right: 16px;
    top: 37px;
    width: 47px; } }

@keyframes animateXRight {
  0%, 65% {
    right: 82px;
    top: 95px;
    width: 0; }
  84% {
    right: 14px;
    top: 33px;
    width: 47px; }
  100% {
    right: 16px;
    top: 37px;
    width: 47px; } }

@-webkit-keyframes animateSuccessTip {
  0%, 54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }

@keyframes animateSuccessTip {
  0%, 54% {
    width: 0;
    left: 1px;
    top: 19px; }
  70% {
    width: 50px;
    left: -8px;
    top: 37px; }
  84% {
    width: 17px;
    left: 21px;
    top: 48px; }
  100% {
    width: 25px;
    left: 14px;
    top: 45px; } }

@-webkit-keyframes animateSuccessLong {
  0%, 65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }

@keyframes animateSuccessLong {
  0%, 65% {
    width: 0;
    right: 46px;
    top: 54px; }
  84% {
    width: 55px;
    right: 0;
    top: 35px; }
  100% {
    width: 47px;
    right: 8px;
    top: 38px; } }

@keyframes rotatePlaceholder {
  0%, 5% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg); }
  100%, 12% {
    -webkit-transform: rotate(-405deg);
    transform: rotate(-405deg); } }
.display-inline {
	display: inline-flex !important;
}
