<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>

<body >
<!-- 首頁 & 選單 -->
<nav th:replace="fragments/navBar :: navBar"/>

<!-- 導覽麵包屑 -->
<section class="section-wrap">
    <div class="container">
        <h3>快速瀏覽訂單</h3>
        <ul>
            <li>首頁</li>
            <li>訂單管理</li>
            <li>快速瀏覽訂單</li>
        </ul>
    </div>
</section>

<!-- 主內容 -->
<article class="article-wrap">
    <div class="container">
        <form id="searchForm" method="post" action="/A/1">
            <input type="hidden" id="DEFAULT_CAROUSEL_SEC" name="DEFAULT_CAROUSEL_SEC" th:value="${DEFAULT_CAROUSEL_SEC}"/>
            <input type="hidden" id="pageNumber" name="page" th:value="${page.number}"/>
            <input type="hidden" id="pageSize" name="size" th:value="${page.size}"/>
        <div class="searchBar">
            <div>
                <span>選擇區域｜</span>
                <select id="groupName" name="groupName"  >
                    <option th:selected="${groupName} == '' " value="">請選擇</option>
                    <option th:selected="${groupName} == 'TC' " value="TC">台中</option>
                    <option th:selected="${groupName} == 'KS' " value="KS">高雄</option>

                </select>
            </div>
            <div style="width: 100%">
                <span>TM CODE｜</span>
                <p th:if="${groupName} == ''" th:text="'ALL'"></p>
                <p th:if="${groupName} != ''" th:text="${tmocdes}">

            </div>
            <input type="button" onclick="searchFormSubmit();" value="查詢" />
        </div>
        <div class="searchError" id="searchErrorDiv" style="display:none">
            <ul>
                <li id="errorMessage"></li>
            </ul>
            <img src="../img/ico_error.png"/>
        </div>
        <div class="header">
            <span id="refreshTimer"> 秒後重新更新...</span>
            <h4 th:class="${page.totalElements>0} ? '' : 'nodata'"
                th:text="${'待處理訂單(' + page.totalElements + ')'}"></h4> <!-- class="nodata" 灰自無資料時 -->
        </div>

        <div class="pager" th:fragment="pager">
            共 <span th:text="${page.totalElements}"></span> 筆&nbsp;每頁筆數
            <select id="selectPageSize" th:value="${page.size}" onchange="performSearch()">
                <option value="10" th:selected="${page.size} == 10">10 筆</option>
                <option value="20" th:selected="${page.size} == 20">20 筆</option>
                <option value="30" th:selected="${page.size} == 30">30 筆</option>
                <option value="40" th:selected="${page.size} == 40">40 筆</option>
                <option value="50" th:selected="${page.size} == 50">50 筆</option>
            </select>
            <input type="text" th:value="${page.number+1}"/>&nbsp;/&nbsp;<span th:text="${page.totalPages}"></span>
            <i th:if="${page.hasPrevious()}" class="glyphicon glyphicon-chevron-left" style="cursor: pointer"
               th:data="${page.number-1}" id="prevPage" onclick="performSearch('prevPage')"></i>
            <i th:if="${page.hasNext()}" class="glyphicon glyphicon-chevron-right" style="cursor: pointer"
               th:data="${page.number+1}" id="nextPage" onclick="performSearch('nextPage')"></i>
            <script>
                    function performSearch(page_id) {

                        if(page_id) {
                            $('#pageNumber').val($('#'+page_id).attr('data')*1);
                        }
                        $('#pageSize').val($('#selectPageSize').val()*1);
                        $('#searchForm').submit();
                    }

                </script>

        </div>

        <div class="cards">

            <th:block th:each="customerOrder,iter : ${page.content}">

            <div  class="card">

                <span th:text="${customerOrder.tmcode}"></span>
                <a th:href="${'/A/5?customer=' + customerOrder.customerSubId + '&order_no=' + customerOrder.orderNo}" >
                <h4 th:text="${customerOrder.customerSubName + '(' +
                customerOrder.customerSubId + ') / ' + customerOrder.shipTo }"></h4></a>
                <ul>
                    <th:block th:each="detail,iter : ${customerOrder.orderDetailList}">
                        <li th:text="${detail.name + '，' + detail.unit + '，' +
                        detail.unit + '，' +  detail.count + '，特配單'} "></li>
                    </th:block>
                </ul>
                <span th:text="${'新增於 ' + customerOrder.createTimeDisplay}"></span>
                <p th:text="${'希望出貨日 ' + customerOrder.deliveryDateDisplay + ' ' + customerOrder.deliveryTimeDisplay}"></p>
            </div>
            </th:block>
        </div>
        </form>
    </div>
</article>

<!-- 頁腳 -->
<footer th:replace="fragments/footer :: footer"/>

<script>

var systemTime = parseInt('${totalMilliseconds}');
var refreshTime = $('#DEFAULT_CAROUSEL_SEC').val();
$('#refreshTimer').text(refreshTime + "秒後重新更新...");

var timer = 0;

    function runTime() {
		refreshTime -= 1;
        showTime(systemTime);
    }//runTime end

    function showTime(){
        var t = new Date(systemTime);
        h = "0" + t.getHours();
        m = "0" + t.getMinutes();
        s = "0" + t.getSeconds();
        h = h.substring(h.length - 2, h.length + 1);
        m = m.substring(m.length - 2, m.length + 1);
        s = s.substring(s.length - 2, s.length + 1);
        t =  refreshTime + "秒後重新更新...";
        $("#refreshTimer").text(t);

        if(refreshTime == 0){
        	$('#searchForm').submit();
        }


        timer = setTimeout("runTime()", 1000);
    }//showTime end


function searchFormSubmit() {
    $('#searchForm').submit();
}


$(document).ready(function() {
    	showTime();

	});// read(function()) end


</script>

</body>
</html>
