<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
    <div class="tableContent print">
        <p class="title" th:utext="${'生產小單編號：PD_' + pdDetail.id + '<span>建單日期：' + pdDetail.createDate + '</span>'}"></p>
        <div class="content">
            <div class="row">
                <div class="col col-xs-12">
                    <p>訂單編號</p>
                    <span th:text="${'E_' + orderData.orderNo}"></span>
                </div>
				
				<div class="col col-xs-6">
					<p>訂單出貨日期</p>
                    <span th:text="${orderData.deliveryDateDisplay}"></span>
				</div>
				<div class="col col-xs-6">
					<p>訂單出貨時間</p>
                    <span th:text="${orderData.deliveryTimeDisplay}"></span>
				</div>
				
                <div class="col col-xs-6">
                    <p>客戶編號</p>
                    <span th:text="${customer[0].customerSubId}"></span>
                </div>
                <div class="col col-xs-6">
                    <p>客戶姓名</p>
                    <span th:text="${customer[0].customerSubName}"></span>
                </div>
                <div class="col col-xs-6">
                    <p>飼料編號</p>
                    <span th:text="${orderDetail.code}"></span>
                </div>
                <div class="col col-xs-6">
                    <p>飼料名稱</p>
                    <span th:text="${orderDetail.name}"></span>
                </div>
                <div class="col col-xs-6">
                    <p>散裝/包裝</p>
                    <span th:text="${orderDetail.unit}"></span>
                </div>
                <div class="col col-xs-6">
                    <p>噸數/包數</p>
                    <span th:text="${orderDetail.count}"></span>
                </div>
                <div class="col col-xs-12">
                    <p>生產小單<br/>註記</p>
<!--                     <pre th:text="${pdDetail.note}"></pre> -->
                    <pre th:text="${descApp} ? ${descApp} : ''"></pre>
                </div>
            </div>
        </div>
    </div>
</body>
</html>