<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<!-- 首頁 & 選單 -->
<nav th:replace="fragments/navBar :: navBar"/>

<!-- 導覽麵包屑 -->
<section class="section-wrap">
    <div class="container">
        <h3>檢視每月訂單</h3>
        <ul>
            <li>首頁</li>
            <li>訂單管理</li>
            <li>檢視每月訂單</li>
        </ul>
    </div>
</section>

<!-- 主內容 -->
<article class="article-wrap">
    <div class="container">
        <form id="searchForm" method="get" action="/A/2">
            <div class="searchBar">
                <div style="width: 23%;">
                    <span>客戶編號｜</span>
                    <input type="text" id="customerId" name="customerId" maxlength="8" class=""/>
                </div>
                <div style="width: 23%;">
                    <span>客戶姓名｜</span>
                    <input type="text" id="customerName" name="customerName" maxlength="20" class=""/>
                </div>
                <div style="width: 23%;">
                    <span>TM Code｜</span>
                    <input type="text" id="tmCode" name="tmcode" maxlength="5" class=""/>
                </div>
                <div style="width: 23%;">
                    <span>*搜尋月份｜</span>
                    <input type="text" id="dateMonth" name="dateMonth" class="date"/>
                </div>
                <input type="button" onclick="searchFormSubmit();" value="查詢"/>
            </div>

            <p class="desc">*散裝=x , 3kg=3K , 10kg=1 , 20kg=2 , 25kg=2.5 , 30kg=3 , 30kg(C)=3C , 50kg=5 , 1000kg=J ,
                500kg(J5)=J5</p>

            <div class="searchError" id="searchErrorDiv" style="display:none">
                <ul>
                    <li id="errorMessage"></li>
                </ul>
                <img src="../img/ico_error.png"/>
            </div>

            <div id="searchResult" th:if="result">
                <th:block th:each="order,iter : ${result}">
                    <!-- 客戶分類 -->
                    <table class="monthClass td_left_1">
                        <tr class="name">
                            <th th:utext="${order.customerSubId + '<br />' + order.customerSubName + '<br />' + order.tmcode}"></th>
                            <th colspan="31"  th:utext="${order.customerQuota}"></th>
                        </tr>

                        <th:block th:each="row,rowIdx : ${order.rowList}">
                            <!-- 地點分類 -->
                            <tr th:if="${rowIdx.index == 0}">
                                <th:block th:each="cell : ${order.rowList[0].cellList}">
                                    <th th:text="${cell.value}"></th>
                                </th:block>
                            </tr>
                            <!-- 飼料分類 -->
                            <tr th:if="${rowIdx.index &gt; 0}">
                                <th:block th:each="cell,cellIdx : ${row.cellList}">
                                    <td th:utext="${cell.value}"></td>
                                </th:block>
                            </tr>
                        </th:block>

                    </table>
                </th:block>
            </div>
        </form>
    </div>
</article>
<script>
var monthPicker = $('#dateMonth').datepicker({
        autoClose: true,
        language: 'zh',
        view: 'months',
        minView: 'months',
        dateFormat: 'yyyy-MM',
        onSelect: function onSelect(fd, date) {
            var month = (9 > date.getMonth()) ? '0'+(date.getMonth()+1) : ''+(date.getMonth()+1);
            $('#dateMonth').val(date.getFullYear() + '-' + month);
        }
    }).data('datepicker');

monthPicker.selectDate(new Date());

if($.url('?')) {
    monthPicker.selectDate(new Date($.url('?').dateMonth+'-01'));
    $('#customerId').val($.url('?').customerId);
    $('#customerName').val($.url('?').customerName);
    $('#tmCode').val($.url('?').tmcode);
}

var customerIdRegExp = /^[0-9]{0,8}$/;

function searchFormSubmit() {
    $('#searchResult').hide();
    $("#searchErrorDiv").hide();
    $('#errorMessage').text('');

    if($('#dateMonth').val() == ''){
        $("#searchErrorDiv").show();
        $('#errorMessage').text("請填寫至少一項搜尋月份");
        return false;
    }

    if(  $('#customerId').val() ==''  && $('#customerName').val()=='' && $('#tmCode').val()=='' ){
        $("#searchErrorDiv").show();
        $('#errorMessage').text("必填一項 客戶編號、客戶姓名、TM Code");
        return false;
    }

    if($('#customerId').val()!='' && !customerIdRegExp.test($('#customerId').val())){
        $("#searchErrorDiv").show();
        $('#errorMessage').text("請輸入正確的客戶編號");
        $('#customerId').attr('class','error');
	    return false;
    }

    if($('#customerName').val().length > 20 ){
        $("#searchErrorDiv").show();
        $('#errorMessage').text("請輸入正確的客戶姓名");
        $('#orderNo').attr('class','error');
	    return false;
    }

    $('#searchForm').submit();
}




</script>

<!-- 頁腳 -->
<footer th:replace="fragments/footer :: footer"/>
</body>

</html>
