<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<!-- 首頁 & 選單 -->
<nav th:replace="fragments/navBar :: navBar"/>

    <!-- 導覽麵包屑 -->
    <section class="section-wrap">
        <div class="container">
            <h3>查詢所有訂單</h3>
            <ul>
                <li>首頁</li>
                <li>訂單管理</li>
                <li>查詢所有訂單</li>
            </ul>
        </div>
    </section>
    
    <!-- 主內容 -->
    <article class="article-wrap">
        <div class="container">
            <form id="searchForm" method="get" action="/A/3">
                <input type="hidden" id="pageNumber" name="page" th:value="${page.number}"/>
                <input type="hidden" id="pageSize" name="size" th:value="${page.size}"/>
            <div class="searchBar">
                <div>
                    <span>訂單編號｜</span>
                    <input type="text" id="orderNo" name="orderNo" maxlength ="20" class="" th:value="${condition.orderNo}"/>
                </div>
                <div>
                    <span>訂單狀態｜</span>
                    <select id="orderType" name="orderType" >
                        <option th:selected="${condition.orderType} == '' " value="">ALL</option>
                        <option th:selected="${condition.orderType} == 'WEB' " value="WEB">CS新單</option>
                        <option th:selected="${condition.orderType} == 'APP' " value="APP">APP新單</option>
                        <option th:selected="${condition.orderType} == 'END' " value="END">已結單</option>
                        <option th:selected="${condition.orderType} == 'DEL' " value="DEL">已刪除</option>
                    </select>
                </div>
                <div style="width: 39%">
                    <span>訂單出貨日期｜</span>
                    <input type="text" id="deliveryStartDate" name="deliveryStartDate" class="date" style="width: 30%" th:value="${condition.deliveryStartDate}">
                    ～
                    <input type="text" id="deliveryEndDate" name="deliveryEndDate" class="date" style="width: 30%" th:value="${condition.deliveryEndDate}">
                </div>
                <div>
                    <span>客戶編號｜</span>
                    <input type="text" id="customerId" name="customerId" maxlength ="8" class="" th:value="${condition.customerId}"/>
                </div>
                <div>
                    <span>客戶姓名｜</span>
                    <input type="text" id="customerName" name="customerName" maxlength="20" class="" th:value="${condition.customerName}"/>
                </div>


                <div>
                    <span>PO CODE｜</span>
                    <input type="text" id="poCode" name="poCode" maxlength="5" class="" th:value="${condition.poCode}"/>
                </div>
                <input type="button" onclick="searchFormSubmit();" value="查詢" />
            </div>

            <div class="searchError" id="searchErrorDiv" style="display:none">
                <ul>
                    <li id="errorMessage"></li>
                </ul>
                <img src="../img/ico_error.png"/>
            </div>

            <div class="pager" th:fragment="pager">
                共 <span th:text="${page.totalElements}"></span> 筆&nbsp;每頁筆數
                <select id="selectPageSize" th:value="${page.size}" onchange="performSearch()">
                    <option value="10" th:selected="${page.size} == 10">10 筆</option>
                    <option value="20" th:selected="${page.size} == 20">20 筆</option>
                    <option value="30" th:selected="${page.size} == 30">30 筆</option>
                    <option value="40" th:selected="${page.size} == 40">40 筆</option>
                    <option value="50" th:selected="${page.size} == 50">50 筆</option>
                </select>
                <input type="text" th:value="${page.number+1}"/>&nbsp;/&nbsp;<span th:text="${page.totalPages}"></span>
                <i th:if="${page.hasPrevious()}" class="glyphicon glyphicon-chevron-left" style="cursor: pointer"
                   th:data="${page.number-1}" id="prevPage" onclick="performSearch('prevPage')"></i>
                <i th:if="${page.hasNext()}" class="glyphicon glyphicon-chevron-right" style="cursor: pointer"
                   th:data="${page.number+1}" id="nextPage" onclick="performSearch('nextPage')"></i>
                <script>
                    var customerIdRegExp = /^[0-9]{0,8}$/;
                    var poCodeRegExp = /^[0-9]{0,15}$/;
                    $("#searchErrorDiv").hide();
                    $('#errorMessage').text('');


                    function performSearch(page_id) {
                        if($('#orderNo').val() =='' && $('#orderType').val()=='' && $('#deliveryStartDate').val()==''
                            && $('#deliveryStartDate').val()=='' &&  $('#customerId').val() ==''
                            && $('#customerName').val()=='' && $('#poCode').val()=='' ){

                            $("#searchErrorDiv").show();
                            $('#errorMessage').text("請填寫至少一項搜尋條件");
                            return false;
                        }
                        if($('#customerId').val()!='' && !customerIdRegExp.test($('#customerId').val())){
                            $('#errorMessage').text('');
                            $("#searchErrorDiv").show();
                            $('#errorMessage').text("請輸入正確的客戶編號");
                            $('#customerId').attr('class','error');
	                        return false;
                        }
                        if($('#orderNo').val().length > 20 ){
                            $("#searchErrorDiv").show();
                            $('#errorMessage').text("請輸入正確的訂單編號");
                            $('#orderNo').attr('class','error');
                            return false;
                        }

                        if($('#customerId').val()!='' && !customerIdRegExp.test($('#customerId').val())){
                            $("#searchErrorDiv").show();
                            $('#errorMessage').text("請輸入正確的客戶編號");
                            $('#customerId').attr('class','error');
                            return false;
                        }

                        if($('#customerName').val().length > 20 ){
                            $("#searchErrorDiv").show();
                            $('#errorMessage').text("請輸入正確的客戶姓名");
                            $('#orderNo').attr('class','error');
                            return false;
                        }

                        if($('#poCode').val().length > 15 ){
                            $("#searchErrorDiv").show();
                            $('#errorMessage').text("請輸入正確的PO CODE");
                            $('#poCode').attr('class','error');
                            return false;
                        }
                        if(page_id) {
                            $('#pageNumber').val($('#'+page_id).attr('data')*1);
                        }
                        $('#pageSize').val($('#selectPageSize').val()*1);
                        $('#searchForm').submit();
                    }

                </script>

            </div>
            <!-- tr的class代表： csNew(CS新單)/end(已結單)/appNew(APP新單)，borderTop(第Ｎ筆資料) -->
            <table class="orderClass td_left_10">
                <tr>
                    <th>項目</th>   
                    <th>訂單編號</th>
                    <th>建單日期</th>
                    <th>客戶編號 / 姓名</th>
                    <th>訂單出貨日期</th>
                    <th>送貨地點</th>
                    <th>PO CODE</th>
                    <th>訂單狀態</th>
                    <th>飼料編號</th>
                    <th>飼料名稱</th>
                    <th>散裝/包裝</th>
                    <th>噸數/包數</th>
					<th>總重(單位：頓)</th>
                </tr>
                <th:block th:each="customerOrder,iter : ${page.content}">
                    <th:block th:switch="${customerOrder.type.name()}">
                        <tr th:case="'WEB'" class="csNew borderTop">
                            <td th:text="${iter.index+1 + page.size * page.number} "/>
                            <td>
                                <a th:href="${'/A/5?customer=' + customerOrder.customerSubId + '&order_no=' + customerOrder.orderNo}" th:text="${customerOrder.orderNo}"></a>
                            </td>
                            <td th:text="${customerOrder.createTimeDisplay}"/>
                            <td th:text="${customerOrder.customerSubId + ' &#47 ' +  customerOrder.customerSubName}"/>
                            <td th:text="${customerOrder.deliveryDateDisplay  + ' ' + customerOrder.deliveryTimeDisplay}"/>
                            <td th:text="${customerOrder.shipTo}"/>
                            <td th:if="${customerOrder.poCode == '' }" th:text="'-'"/>
                            <td th:if="${customerOrder.poCode != '' }" th:text="${customerOrder.poCode}"/>
                            <td th:if="${customerOrder.type.name() == 'WEB'}" th:text='CS新單' />
                            <td th:if="${customerOrder.type.name() == 'APP'}" th:text='APP新單' />
                            <td th:if="${customerOrder.type.name() == 'WEB_END'}" th:text='CS結單' />
                            <td th:if="${customerOrder.type.name() == 'APP_END'}" th:text='APP結單' />
                            <td th:if="${customerOrder.orderDetailList.size()} > 0" th:text="${customerOrder.orderDetailList[0].code}" />
                            <td th:if="${customerOrder.orderDetailList.size()} > 0" th:text="${customerOrder.orderDetailList[0].name}" />
                            <td th:if="${customerOrder.orderDetailList.size()} > 0" th:text="${customerOrder.orderDetailList[0].unit}" />
                            <td th:if="${customerOrder.orderDetailList.size()} > 0" th:text="${customerOrder.orderDetailList[0].count}" />
                            <td th:if="${customerOrder.orderDetailList.size()} > 0" th:text="${customerOrder.orderDetailList[0].weight}" />
                        <tr th:case="'DEL'" class="csNew borderTop">
                            <td th:text="${iter.index+1 + page.size * page.number} "/>
                            <td>
                                <a th:href="${'/A/5?customer=' + customerOrder.customerSubId + '&order_no=' + customerOrder.orderNo}" th:text="${customerOrder.orderNo}"></a>
                            </td>
                            <td th:text="${customerOrder.createTimeDisplay}"/>
                            <td th:text="${customerOrder.customerSubId + ' &#47 ' +  customerOrder.customerSubName}"/>
                            <td th:text="${customerOrder.deliveryDateDisplay  + ' ' + customerOrder.deliveryTimeDisplay}"/>
                            <td th:text="${customerOrder.shipTo}"/>
                            <td th:if="${customerOrder.poCode == '' }" th:text="'-'"/>
                            <td th:if="${customerOrder.poCode != '' }" th:text="${customerOrder.poCode}"/>
                            <td th:if="${customerOrder.type.name() == 'WEB'}" th:text='CS新單' />
                            <td th:if="${customerOrder.type.name() == 'APP'}" th:text='APP新單' />
                            <td th:if="${customerOrder.type.name() == 'WEB_END'}" th:text='CS結單' />
                            <td th:if="${customerOrder.type.name() == 'APP_END'}" th:text='APP結單' />
                            <td th:if="${customerOrder.type.name() == 'DEL'}" th:text='已刪除' />
                            <td th:if="${customerOrder.orderDetailList.size()} > 0" th:text="${customerOrder.orderDetailList[0].code}" />
                            <td th:if="${customerOrder.orderDetailList.size()} > 0" th:text="${customerOrder.orderDetailList[0].name}" />
                            <td th:if="${customerOrder.orderDetailList.size()} > 0" th:text="${customerOrder.orderDetailList[0].unit}" />
                            <td th:if="${customerOrder.orderDetailList.size()} > 0" th:text="${customerOrder.orderDetailList[0].count}" />
                            <td th:if="${customerOrder.orderDetailList.size()} > 0" th:text="${customerOrder.orderDetailList[0].weight}" />



                        <tr th:case="'APP'" class="appNew borderTop">
                            <td th:text="${iter.index+1 + page.size * page.number} "/>

                            <td>
                                <a th:href="${'/A/5?customer=' + customerOrder.customerSubId + '&order_no=' + customerOrder.orderNo}" th:text="${customerOrder.orderNo}"></a>
                            </td>
                            <td th:text="${customerOrder.createTimeDisplay}"/>
                            <td th:text="${customerOrder.customerSubId + '&#47 ' +  customerOrder.customerSubName}"/>
                            <td th:text="${customerOrder.deliveryDateDisplay + ' ' + customerOrder.deliveryTimeDisplay}"/>
                            <td th:text="${customerOrder.shipTo}"/>
                            <td th:if="${customerOrder.poCode == '' }" th:text="'-'"/>
                            <td th:if="${customerOrder.poCode != '' }" th:text="${customerOrder.poCode}"/>
                            <td th:if="${customerOrder.type.name() == 'WEB'}" th:text='CS新單' />
                            <td th:if="${customerOrder.type.name() == 'APP'}" th:text='APP新單' />
                            <td th:if="${customerOrder.type.name() == 'WEB_END'}" th:text='CS結單' />
                            <td th:if="${customerOrder.type.name() == 'APP_END'}" th:text='APP結單' />
                            <td th:if="${customerOrder.orderDetailList.size()} > 0" th:text="${customerOrder.orderDetailList[0].code}" />
                            <td th:if="${customerOrder.orderDetailList.size()} > 0" th:text="${customerOrder.orderDetailList[0].name}" />
                            <td th:if="${customerOrder.orderDetailList.size()} > 0" th:text="${customerOrder.orderDetailList[0].unit}" />
                            <td th:if="${customerOrder.orderDetailList.size()} > 0" th:text="${customerOrder.orderDetailList[0].count}" />
                            <td th:if="${customerOrder.orderDetailList.size()} > 0" th:text="${customerOrder.orderDetailList[0].weight}" />

                        <tr th:case="'WEB_END'" class="end borderTop">
                            <td th:text="${iter.index+1 + page.size * page.number} "/>

                            <td>
                                <a th:href="${'/A/5?customer=' + customerOrder.customerSubId + '&order_no=' + customerOrder.orderNo}" th:text="${customerOrder.orderNo}"></a>
                            </td>
                            <td th:text="${customerOrder.createTimeDisplay}"/>
                            <td th:text="${customerOrder.customerSubId + '&#47 ' +  customerOrder.customerSubName}"/>
                            <td th:text="${customerOrder.deliveryDateDisplay  + ' ' + customerOrder.deliveryTimeDisplay}"/>
                            <td th:text="${customerOrder.shipTo}"/>
                            <td th:if="${customerOrder.poCode == '' }" th:text="'-'"/>
                            <td th:if="${customerOrder.poCode != '' }" th:text="${customerOrder.poCode}"/>
                            <td th:if="${customerOrder.type.name() == 'WEB'}" th:text='CS新單' />
                            <td th:if="${customerOrder.type.name() == 'APP'}" th:text='APP新單' />
                            <td th:if="${customerOrder.type.name() == 'WEB_END'}" th:text='CS結單' />
                            <td th:if="${customerOrder.type.name() == 'APP_END'}" th:text='APP結單' />
                            <td th:if="${customerOrder.orderDetailList.size()} > 0" th:text="${customerOrder.orderDetailList[0].code}" />
                            <td th:if="${customerOrder.orderDetailList.size()} > 0" th:text="${customerOrder.orderDetailList[0].name}" />
                            <td th:if="${customerOrder.orderDetailList.size()} > 0" th:text="${customerOrder.orderDetailList[0].unit}" />
                            <td th:if="${customerOrder.orderDetailList.size()} > 0" th:text="${customerOrder.orderDetailList[0].count}" />
                            <td th:if="${customerOrder.orderDetailList.size()} > 0" th:text="${customerOrder.orderDetailList[0].weight}" />
                        <tr th:case="'APP_END'" class="end borderTop">
                            <td th:text="${iter.index+1 + page.size * page.number} "/>

                            <td>
                                <a th:href="${'/A/5?customer=' + customerOrder.customerSubId + '&order_no=' + customerOrder.orderNo}" th:text="${customerOrder.orderNo}"></a>
                            </td>
                            <td th:text="${customerOrder.createTimeDisplay}"/>
                            <td th:text="${customerOrder.customerSubId + '&#47 ' +  customerOrder.customerSubName}"/>
                            <td th:text="${customerOrder.deliveryDateDisplay  + ' ' + customerOrder.deliveryTimeDisplay}"/>
                            <td th:text="${customerOrder.shipTo}"/>
                            <td th:if="${customerOrder.poCode == '' }" th:text="'-'"/>
                            <td th:if="${customerOrder.poCode != '' }" th:text="${customerOrder.poCode}"/>
                            <td th:if="${customerOrder.type.name() == 'WEB'}" th:text='CS新單' />
                            <td th:if="${customerOrder.type.name() == 'APP'}" th:text='APP新單' />
                            <td th:if="${customerOrder.type.name() == 'WEB_END'}" th:text='CS結單' />
                            <td th:if="${customerOrder.type.name() == 'APP_END'}" th:text='APP結單' />
                            <td th:if="${customerOrder.orderDetailList.size()} > 0" th:text="${customerOrder.orderDetailList[0].code}" />
                            <td th:if="${customerOrder.orderDetailList.size()} > 0" th:text="${customerOrder.orderDetailList[0].name}" />
                            <td th:if="${customerOrder.orderDetailList.size()} > 0" th:text="${customerOrder.orderDetailList[0].unit}" />
                            <td th:if="${customerOrder.orderDetailList.size()} > 0" th:text="${customerOrder.orderDetailList[0].count}" />
                            <td th:if="${customerOrder.orderDetailList.size()} > 0" th:text="${customerOrder.orderDetailList[0].weight}" />
                    </th:block>

                    <th:block th:each="detail,iter : ${customerOrder.orderDetailList}">
                        <th:block th:switch="${customerOrder.type.name()}">
                            <tr th:if="${iter.index} > 0" th:case="'WEB'" class="csNew">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td th:text="${detail.code}" />
                                <td th:text="${detail.name}" />
                                <td th:text="${detail.unit}" />
                                <td th:text="${detail.count}" />
                                <td th:text="${detail.weight}" />
                            <tr th:if="${iter.index} > 0" th:case="'APP'" class="appNew">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td th:text="${detail.code}" />
                                <td th:text="${detail.name}" />
                                <td th:text="${detail.unit}" />
                                <td th:text="${detail.count}" />
                                <td th:text="${detail.weight}" />
                            <tr th:if="${iter.index} > 0" th:case="'WEB_END'" class="end">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td th:text="${detail.code}" />
                                <td th:text="${detail.name}" />
                                <td th:text="${detail.unit}" />
                                <td th:text="${detail.count}" />
                                <td th:text="${detail.weight}" />
                            <tr th:if="${iter.index} > 0" th:case="'APP_END'" class="end">
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td th:text="${detail.code}" />
                                <td th:text="${detail.name}" />
                                <td th:text="${detail.unit}" />
                                <td th:text="${detail.count}" />
                                <td th:text="${detail.weight}" />
                        </th:block>
                    </th:block>
                </th:block>
            </table>

			<!--for error msg
			<div class="searchError">
                <ul>
                    <li>請輸入正確的客戶編號</li>
                </ul>
				<img src="../img/ico_error.png"/>
            </div>-->

            </form>
        </div>

    </article>
<script>
    $("#deliveryStartDate").flatpickr({});
    $("#deliveryEndDate").flatpickr({});

var customerIdRegExp = /^[0-9]{0,8}$/;

function searchFormSubmit() {
    $("#searchErrorDiv").hide();
    $('#errorMessage').text('');


    if($('#orderNo').val() =='' && $('#orderType').val()=='' && $('#deliveryStartDate').val()==''
        && $('#deliveryStartDate').val()=='' &&  $('#customerId').val() ==''
        && $('#customerName').val()=='' && $('#poCode').val()=='' ){

        $("#searchErrorDiv").show();
        $('#errorMessage').text("請填寫至少一項搜尋條件");
        return false;
    }

    if($('#orderNo').val().length > 20 ){
        $("#searchErrorDiv").show();
        $('#errorMessage').text("請輸入正確的訂單編號");
        $('#orderNo').attr('class','error');
	    return false;
    }

    if($('#customerId').val()!='' && !customerIdRegExp.test($('#customerId').val())){
        $("#searchErrorDiv").show();
        $('#errorMessage').text("請輸入正確的客戶編號");
        $('#customerId').attr('class','error');
	    return false;
    }

    if($('#customerName').val().length > 20 ){
        $("#searchErrorDiv").show();
        $('#errorMessage').text("請輸入正確的客戶姓名");
        $('#orderNo').attr('class','error');
	    return false;
    }

    if( ($('#deliveryStartDate').val()=='' && $('#deliveryEndDate').val()!='') ||
        ($('#deliveryStartDate').val()!='' && $('#deliveryEndDate').val()=='')){

        $("#searchErrorDiv").show();
        $('#errorMessage').text("請完整輸入訂單出貨日期起訖");
        return false;
    }

    if($('#poCode').val().length > 15 ){
        $("#searchErrorDiv").show();
        $('#errorMessage').text("請輸入正確的PO CODE");
        $('#poCode').attr('class','error');
	    return false;
    }


    $('#searchForm').submit();
}


</script>

<!-- 頁腳 -->
<footer th:replace="fragments/footer :: footer"/>

</body>
</html>
