<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<!-- 首頁 & 選單 -->
<nav th:replace="fragments/navBar :: navBar"/>
    
    <!-- 導覽麵包屑 -->
    <section class="section-wrap">
        <div class="container">
            <h3>新增訂單</h3>
            <ul>
                <li>首頁</li>
                <li>訂單管理</li>
                <li>新增訂單</li>
            </ul>
        </div>
    </section>

<!-- 主內容 -->
<article class="article-wrap">
    <div class="container">
        <form id="searchForm" method="post" action="/A/4">
            <input type="hidden" id="pageNumber" name="page" th:value="${page.number}"/>
            <input type="hidden" id="pageSize" name="size" th:value="${page.size}"/>
            <div class="searchBar">
                <div>
                    <span>客戶編號｜</span>
                    <input type="text" id="customerId" name="customerId" th:value="${condition.customerId}"
                           maxlength="8" class=""/>
                </div>
                <div>
                    <span>客戶姓名｜</span>
                    <input type="text" id="customerName" name="customerName" th:value="${condition.customerName}"
                           maxlength="20" class=""/>
                </div>
                <div>
                    <span>TM Code｜</span>
                    <input type="text" id="tmcode" name="tmcode" th:value="${condition.tmcode}" maxlength="5" class=""/>
                </div>
                <input type="button" onclick="performSearch();" value="查詢"/>
            </div>

            <p class="desc">*本畫面為下訂單使用，僅能查詢顯示「子帳號」，無法顯示「主帳號」</p>

            <div class="searchError" id="searchErrorDiv" style="display:none">
                <ul>
                    <li id="errorMessage"></li>
                </ul>
                <img src="../img/ico_error.png"/>
            </div>

            <div class="pager" th:fragment="pager">
                共 <span th:text="${page.totalElements}"></span> 筆&nbsp;每頁筆數
                <select id="selectPageSize" th:value="${page.size}" onchange="performSearch()">
                    <option value="10" th:selected="${page.size} == 10">10 筆</option>
                    <option value="20" th:selected="${page.size} == 20">20 筆</option>
                    <option value="30" th:selected="${page.size} == 30">30 筆</option>
                    <option value="40" th:selected="${page.size} == 40">40 筆</option>
                    <option value="50" th:selected="${page.size} == 50">50 筆</option>
                </select>
                <input type="text" th:value="${page.number+1}"/>&nbsp;/&nbsp;<span th:text="${page.totalPages}"></span>
                <i th:if="${page.hasPrevious()}" class="glyphicon glyphicon-chevron-left" style="cursor: pointer"
                   th:data="${page.number-1}" id="prevPage" onclick="performSearch('prevPage')"></i>
                <i th:if="${page.hasNext()}" class="glyphicon glyphicon-chevron-right" style="cursor: pointer"
                   th:data="${page.number+1}" id="nextPage" onclick="performSearch('nextPage')"></i>
                <script>
                    var customerIdRegExp = /^[0-9]{0,8}$/;
                    var tmcodeRegExp = /^[0-9]{0,5}$/;
                    $("#searchErrorDiv").hide();
                    $('#errorMessage').text('');
                    $('#customerId').attr('class','');
                    $('#customerName').attr('class','');
                    $('#tmcode').attr('class','');

                    function performSearch(page_id) {
                        if($('#customerId').val() =='' && $('#customerName').val()=='' && $('#tmcode').val()==''){
                            $("#searchErrorDiv").show();
                            $('#errorMessage').text("請填寫至少一項搜尋條件");
                            $('#customerId').attr('class','error');
                            $('#customerName').attr('class','error');
                            $('#tmcode').attr('class','error');
                            return false;
                        }
                        if($('#customerId').val()!='' && !customerIdRegExp.test($('#customerId').val())){
                            $('#errorMessage').text('');
                            $("#searchErrorDiv").show();
                            $('#errorMessage').text("請輸入正確的客戶編號");
                            $('#customerId').attr('class','error');
	                        return false;
                           }
                        if($('#tmcode').val()!='' && !tmcodeRegExp.test($('#tmcode').val())){
                            $('#errorMessage').text('');
                            $("#searchErrorDiv").show();
                            $('#errorMessage').text("請輸入正確的TM Code");
                            $('#tmcode').attr('class','error');
                            return false;
                        }
                        if(page_id) {
                            $('#pageNumber').val($('#'+page_id).attr('data')*1);
                        }
                        $('#pageSize').val($('#selectPageSize').val()*1);
                        $('#searchForm').submit();
                    }

                </script>
            </div>

            <table class="td_left_7 td_left_8">
                <tr>
                    <th>項目</th>
                    <th>客戶編號</th>
                    <th>客戶姓名</th>
                    <th>送貨地點</th>
                    <th>TM CODE</th>
                    <th>客戶地址</th>
                </tr>
                <tr th:each="customer,iter : ${customerList}">
                    <td th:text="${iter.index+1 + page.size * page.number} "/>
                    <td>
                        <a th:href="${'/A/5?customer=' + customer.customerSubId}" th:text="${customer.customerSubId}"></a>
                    </td>
                    <td th:text="${customer.customerSubName}"/>
                    <td th:text="${customer.addressShipTo}"/>
                    <td th:text="${customer.tmcode}"/>
                    <td th:text="${customer.address}"/>
                </tr>

            </table>
        </form>
    </div>
</article>



<!-- 頁腳 -->
<footer th:replace="fragments/footer :: footer"/>


</body>
</html>