<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<!-- 首頁 & 選單 -->
<nav th:replace="fragments/navBar :: navBar"/>

<!-- 導覽麵包屑 -->
<section class="section-wrap">
    <div class="container">
        <h3 th:text="${orderData} ? '修改訂單' : '新增訂單'"></h3>
        <ul>
            <li>首頁</li>
            <li>訂單管理</li>
            <li th:text="${orderData} ? '修改訂單' : '新增訂單'"></li>
        </ul>
    </div>
</section>
<!-- 主內容 -->
<article class="article-wrap">
    <div class="container">
        <div class="tableContent">
            <p class="title" th:if="${orderData}"
               th:utext="${'訂單編號：E_' + orderData.orderNo + '<span>建單日期：' + orderData.createTimeDisplay + '</span>'}">
            </p>
            <div class="content">
                <p class="error" id="processResult" style="display: none"></p>
                <div class="row">
                    <!-- 訂單編號 -->
                    <input type="hidden" id="orderNo" th:if="${orderData}" th:value="${orderData.orderNo}"/>
                    <!-- tmcode -->
                    <input type="hidden" id="tmcode" th:value="${customer[0].tmcode}"/>
                    <div class="col col-xs-4">
                        <p>客戶編號</p>
                        <span id="customerSubId" th:text="${customer[0].customerSubId}"></span>
                    </div>
                    <div class="col col-xs-4">
                        <p>客戶姓名</p>
                        <span id="customerSubName" th:text="${customer[0].customerSubName}"></span>
                    </div>
                    <div class="col col-xs-4">
                        <p>客戶電話</p>
                        <span id="customerPhone" th:text="${customer[0].phone}"></span>
                    </div>

                    <div class="col col-xs-4">
                        <p>訂單來源</p>
                        <span th:text="${orderTypeCode}"></span>
                    </div>

                    <div th:if="${orderData}">
                        <input id="isDelete" type="hidden" th:value="${orderData.type}">
                    </div>

                    <div th:unless="${orderData}">
                        <input id="isDelete" type="hidden" value="N">
                    </div>
                    <div class="col col-xs-4">
                        <p>下單人員</p>
                        <span th:text="${orderData} ? ${orderData.orderPerson} : ${loginUser.userName}"></span>
                    </div>
                    <div class="col col-xs-4">
                        <p>PO CODE</p>
                        <input id="poCode" type="text" th:value="${orderData} ? ${orderData.poCode} : ''">
                    </div>
                    <div class="col col-xs-4">
                        <p>訂單出貨日期</p>
                        <input type="text" id="deliveryDate" class="date"
                               th:value="${orderData} ? ${orderData.deliveryDateDisplay} : ''">
                    </div>
                    <div class="col col-xs-4">
                        <p>訂單出貨時間</p>
                        <input type="text" id="deliveryTime" class="time"
                               th:value="${orderData} ? ${orderData.deliveryTimeDisplay}: ''">
                    </div>
                    <div class="col col-xs-4">
                        <p>送貨地點</p>
                        <select id="shipTo">
                            <option th:each="c : ${customer}"
                                    th:value="${c.addressShipTo}"
                                    th:selected="${c.shipToSelected}"
                                    th:text="${c.addressShipTo}"></option>
                        </select>
                    </div>
                    <div class="col col-xs-12">
                        <p>客戶備註提醒</p>
<!--                        <input id="tmcode12" th:value="${customerQuota}"/>-->
                        <pre th:if="${customerQuota}"
                             th:each="quota : ${customerQuota}"
                             th:utext="${quota.note}+'<br />'"></pre>
                    </div>
                    <div class="col col-xs-12">
                        <p>訂單註記APP</p>
                        <textarea id="descApp" th:text="${orderData} ? ${orderData.descApp} : ''"></textarea>
                    </div>
                    <div class="col col-xs-12">
                        <p>訂單註記WEB</p>
                        <textarea id="descWeb" th:text="${orderData} ? ${orderData.descWeb} : ''"></textarea>
                    </div>
                    <div class="col col-xs-12">
                        <p>memo資料</p>
                        <input id="memo"  type="hidden" th:value="${customer[0].memo}"/>
                        <div>
                            <div class="row" id="memo-list" style="margin-left:3px">
                            </div>
                        </div>
                    </div>
                    <div class="col col-xs-12">
                        <p>訂單內容</p>
                        <div>
                            <table class="td_left_2" id="orderDetail">
                                <tr>
                                    <th width="9%">飼料編號</th>
                                    <th width="20%">飼料名稱</th>
                                    <th width="12%">散裝/包裝</th>
                                    <th width="8%">噸數/包數</th>
                                    <th width="8%">生產規格</th>
                                    <th width="12%">總重 (單位：噸)</th>
                                    <th width="17%">特配單/工廠</th>
                                    <th width="9%">運輸車種</th>
                                    <th width="5%">操作</th>
                                </tr>
                                <tr class="create">
                                    <td>
                                        <input type="text" id="searchProductCode"/>
                                        <input type="hidden" id="searchProductPhase"/>
                                    </td>
                                    <td><input type="text" id="searchProductName"/></td>
                                    <td>
                                        <select id="selectProductPackage" onchange="calculateWeight()">
                                            <option value="X">散裝/X</option>
                                            <option value="3K">3kg/3K</option>
                                            <option value="1">10kg/1</option>
                                            <option value="2">20kg/2</option>
                                            <option value="2.5">25kg/2.5</option>
                                            <option value="3">30kg/3</option>
                                            <option value="3C">30kg(C)/3C</option>
                                            <option value="5">50kg/5</option>
                                            <option value="J">1000kg/J</option>
                                            <option value="J5">500kg(J5)/J5</option>
                                        </select>
                                        <input type="hidden" id="productPriceX" value="0" />
                                        <input type="hidden" id="productPrice3K" value="0" />
                                        <input type="hidden" id="productPrice1" value="0" />
                                        <input type="hidden" id="productPrice2" value="0" />
                                        <input type="hidden" id="productPrice25" value="0" />
                                        <input type="hidden" id="productPrice3" value="0" />
                                        <input type="hidden" id="productPrice3C" value="0" />
                                        <input type="hidden" id="productPrice5" value="0" />
                                        <input type="hidden" id="productPriceJ" value="0" />
                                        <input type="hidden" id="productPriceJ5" value="0" />
                                    </td>
                                    <td><input type="text" id="selectProductAmount" onchange="calculateWeight()"/></td>
                                    <td>
                                        <select id="selectProductSpec">
                                            <option value="">請選擇</option>
                                            <option value="PL">PL</option>
                                            <option value="ML">ML</option>
                                            <option value="CR">CR</option>
                                        </select>
                                    </td>
                                    <td><span id="selectProductWeight"></span></td>
                                    <td>
                                        <select id="selectSP">
                                            <option>請選擇</option>
                                            <option>台中/大肚(20)</option>
                                            <option>高雄/威祥(40)</option>
                                            <option>高雄/嘉泰(50)</option>
                                            <option>高雄/東農(60)</option>
                                        </select>
                                    </td>
                                    <input id="selectPD" type="hidden" >
                                    <td>
                                        <select id="selectVehicle">
                                            <option value="">請選擇</option>
                                            <option value="EMP">空白車</option>
                                            <option value="DRUG">有藥車</option>
                                            <option value="ALL">皆可</option>
                                        </select>
                                    </td>
                                    <td><img src="../img/ico_add.png" onclick="addNewDetail()"></td>
                                </tr>
                                <tr th:each="detail,rowid : ${orderData} ? ${orderData.orderDetailList} : null">
                                    <td  name="code"    th:id="'codeId'+${rowid.index}"    >
<!--                                    <i  th:text="${detail.code}">    </i>-->
                                        <font size="3" th:text="${detail.code}"></font>
<!--                                        <span name="code" th:text="${detail.code}"> </span><button   th:onclick="'changeCodeAndName(\' ' + ${rowid.index} + '\');'"      >改料號</button>-->
<!--                                        <span name="code"    th:id="'codeId'+${rowid.index}"   th:text="${detail.code}"> </span><button   th:onclick="'changeCodeAndName(this);'"      >改料號</button>-->
<!--                                        <span name="code"    th:id="'codeId'+${rowid.index}"   th:text="${detail.code}"> </span>-->
                                        <img src="../img/icon_edit.png" th:onclick="'confirmChangeCode(this);'"  />



                                        <input name="phase"   th:id="'phaseId'+${rowid.index}"  th:value="${detail.phase}" type="hidden">
                                    </td>
                                    <td th:text="${detail.name}"  th:id="'nameId'+${rowid.index}" ></td>
                                    <td>
                                        <select th:id="'selectProductPackage'+${rowid.index}"
                                        th:onchange="'calculateWeight(\''+${rowid.index}+'\');updateOneProductPrice(\''+${rowid.index}+'\',\''+${detail.code}+'\')'"
                                        name="unit">
                                            <option value="X"   th:selected="${detail.unit} == '散裝/X'">散裝/X</option>
                                            <option value="3K"  th:selected="${detail.unit} == '3kg/3K'">3kg/3K</option>
                                            <option value="1"   th:selected="${detail.unit} == '10kg/1'">10kg/1</option>
                                            <option value="2"   th:selected="${detail.unit} == '20kg/2'">20kg/2</option>
                                            <option value="2.5" th:selected="${detail.unit} == '25kg/2.5'">25kg/2.5</option>
                                            <option value="3"   th:selected="${detail.unit} == '30kg/3'">30kg/3</option>
                                            <option value="3C"  th:selected="${detail.unit} == '30kg(C)/3C'">30kg(C)/3C</option>
                                            <option value="5"   th:selected="${detail.unit} == '50kg/5'">50kg/5</option>
                                            <option value="J"   th:selected="${detail.unit} == '1000kg/J'">1000kg/J</option>
                                            <option value="J5"  th:selected="${detail.unit} == '500kg(J5)/J5'">500kg(J5)/J5</option>
                                        </select>
<!--                                         <span th:text="${detail.unit}"></span> -->
                                        <input name="package" type="hidden"  th:id="'package'+${rowid.index}"  th:value="${detail.unit}">
                                        <input th:id="'selectPackagePrice'+${rowid.index}" name="packagePrice" type="hidden" th:value="${detail.price}">
                                    </td>
									<td><input type="text" th:id="'selectProductAmount'+${rowid.index}"
										th:onchange="'calculateWeight(\''+${rowid.index}+'\');'"
										th:value="${detail.count}" name="count"/>
									</td>
									<td>
									    <select th:id="'selectProductSpec'+${rowid.index}" name="spec" th:onchange="'syncProductSpec(\''+${rowid.index}+'\');'" >
                                            <option value="PL" th:selected="${detail.spec} == 'PL'">PL</option>
                                            <option value="ML" th:selected="${detail.spec} == 'ML'" >ML</option>
                                            <option value="CR" th:selected="${detail.spec} == 'CR'">CR</option>
                                        </select>
                                    </td>
                                    <td th:id="'selectProductWeight'+${rowid.index}" th:text="${detail.weight}"></td>

                                    <td th:if="${detail.detailSP.id}" class="link">
                                        <span th:onclick="'delegateShowDialogSP(this,\''+${rowid.index}+'\')'" th:text="${detail.detailSP.value}"></span>
                                        <input th:id="'spDetail'+${rowid.index}" name="spDetail"  type="hidden" th:value="${detail.jsonDetailSP}">

                                        <select id="spSelect"  onchange="showDialogSP_patched_fapp(this)">
                                            <option value="">請選擇</option>
                                            <option value="台中/大肚(20)" th:attrappend="selected=${ detail.detailSP.value == '台中/大肚(20)' }">台中/大肚(20)</option>
                                            <option value="高雄/威祥(40)" th:attrappend="selected=${ detail.detailSP.value == '高雄/威祥(40)' }">高雄/威祥(40)</option>
                                            <option value="高雄/嘉泰(50)" th:attrappend="selected=${ detail.detailSP.value == '高雄/嘉泰(50)' }">高雄/嘉泰(50)</option>
                                            <option value="高雄/東農(60)" th:attrappend="selected=${ detail.detailSP.value == '高雄/東農(60)' }">高雄/東農(60)</option>
                                        </select>
                                    </td>
                                    <td th:unless="${detail.detailSP.id}" class="link">
                                        <span th:onclick="'delegateShowDialogSP(this,\''+${rowid.index}+'\')'">-</span>
                                        <input th:id="'spDetail'+${rowid.index}" name="spDetail" type="hidden" th:value="${detail.jsonDetailSP}">
                                        <select id="spSelect"  onchange="showDialogSP_patched_fapp(this)">
                                            <option value="">請選擇</option>
                                            <option value="台中/大肚(20)">台中/大肚(20)</option>
                                            <option value="高雄/威祥(40)">高雄/威祥(40)</option>
                                            <option value="高雄/嘉泰(50)">高雄/嘉泰(50)</option>
                                            <option value="高雄/東農(60)">高雄/東農(60)</option>
                                        </select>
                                    </td>

                                    <td>
                                        <select th:id="'selectVehicle'+${rowid.index}" name="vehicle" th:onchange="'syncProductSpec(\''+${rowid.index}+'\');'" >
                                            <option value="" th:selected="${detail.vehicleType} == ''">請選擇</option>
                                            <option value="EMP" th:selected="${detail.vehicleType} == 'EMP'">空白車</option>
                                            <option value="DRUG" th:selected="${detail.vehicleType} == 'DRUG'" >有藥車</option>
                                            <option value="ALL" th:selected="${detail.vehicleType} == 'ALL'">皆可</option>
                                        </select>
                                    </td>

                                    <input name="pdDetail" type="hidden" th:value="${detail.jsonDetailPD}">

                                    <td><img onclick="removeDetail(this)" src="../img/ico_delete.png"></td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div id="button-list"  class="col col-xs-12 right ">
                        <button class="gray" onclick="cancelConfirm()">取消</button>
                        <button class="red" onclick="deleteConfirm()" th:if="${orderData}">刪除</button>
                        <button onclick="orderSubmitBefore()">儲存</button>
                        <button onclick="duplicateConfirm()" th:if="${orderData}">複製成新單</button>
                        <button onclick="printPage('A6')" th:if="${orderData}">單頁顯示</button>
                    </div>

                    <div class="col col-xs-12" th:if="${orderData}">
                        <hr/>
                        <p>修改紀錄</p>
                        <div>
                            <ul>
                                <li th:each="log : ${orderData.modifyLogList}"
                                    th:text="${log}"></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</article>
<!-- 頁腳 -->
<footer class="footer-wrap">
    <div class="container"></div>
</footer>

<div class="dialog CloseOrder">
    <div class="dialog-modal warning">
        <div class="icons">
            <div class="icon">
                <div class="sa">
                    <div class="sa-body"></div>
                    <div class="sa-dot"></div>
                </div>
            </div>
        </div>
        <div class="dialog-content">
            <p class="title">確定結單？</p>
            <pre class="txt_center">你已填寫「PO CODE」</pre>
            <pre class="txt_center">點選確定後，此單將會更新為結單狀態！</pre>
            <div class="btns">
                <button onclick="closeCloseOrder()">取消</button>
                <button onclick="orderSubmit()">確定</button>
            </div>
        </div>
    </div>
</div>

<div class="dialog Z5Delete">
    <div class="dialog-modal warning">
        <div class="icons">
            <div class="icon">
                <div class="sa">
                    <div class="sa-body"></div>
                    <div class="sa-dot"></div>
                </div>
            </div>
        </div>
        <div class="dialog-content">
            <p class="title">確定刪除？</p>
            <pre class="txt_center">你選擇「刪除訂單」</pre>
            <pre class="txt_center">點選確定後，即無法恢復訂單資料！</pre>
            <div class="btns">
                <button onclick="closeDeleteConfirm()">取消</button>
                <button onclick="removeOrder()">確定</button>
            </div>
        </div>
    </div>
</div>

<div class="dialog Z5Cancel">
    <div class="dialog-modal warning">
        <div class="icons">
            <div class="icon">
                <div class="sa">
                    <div class="sa-body"></div>
                    <div class="sa-dot"></div>
                </div>
            </div>
        </div>
        <div class="dialog-content">
            <p class="title">確定取消？</p>
            <pre class="txt_center">你選擇「取消編輯訂單」</pre>
            <pre class="txt_center">未儲存的訂單資料，不會為您保留，請先確認訂單有無儲存。</pre>
            <div class="btns">
                <button onclick="closeCancelConfirm()">取消</button>
                <button onclick="link('/A/4')">確定</button>
            </div>
        </div>
    </div>
</div>

<div class="dialog ConfirmDuplicate">
    <div class="dialog-modal warning">
        <div class="icons">
            <div class="icon">
                <div class="sa">
                    <div class="sa-body"></div>
                    <div class="sa-dot"></div>
                </div>
            </div>
        </div>
        <div class="dialog-content">
            <p class="title">確定複製成新單？</p>
            <pre class="txt_center">你選擇「複製成新單」</pre>
            <pre class="txt_center">點選確定後，即複製成新訂單資料！</pre>
            <div class="btns">
                <button onclick="closeDuplicateConfirm()">取消</button>
                <button onclick="orderDuplicate()">確定</button>
            </div>
        </div>
    </div>
</div>

<div class="dialog ValidateFailed">
    <div class="dialog-modal warning">
        <div class="icons">
            <div class="icon">
                <div class="sa">
                    <div class="sa-body"></div>
                    <div class="sa-dot"></div>
                </div>
            </div>
        </div>
        <div class="dialog-content">
            <p class="title">訂單資料欄位未完整</p>
            <pre class="txt_center">請先確認所有的必填欄位是否確實填寫！</pre>
            <div class="btns">
                <button onclick="closeAlertDialog()">關閉</button>
            </div>
        </div>
    </div>
</div>

<div class="dialog Processing">
    <div class="dialog-modal info">
        <div class="icons">
            <div class="icon">
                <div class="sa">
                    <div class="sa-body"></div>
                    <div class="sa-dot"></div>
                </div>
            </div>
        </div>
        <div class="dialog-content">
            <p class="title">正在更新訂單資料中</p>
            <pre class="txt_center">正在儲存訂單資料，請勿關閉網頁！</pre>
        </div>
    </div>
</div>
<div class="dialog Duplicating">
    <div class="dialog-modal info">
        <div class="icons">
            <div class="icon">
                <div class="sa">
                    <div class="sa-body"></div>
                    <div class="sa-dot"></div>
                </div>
            </div>
        </div>
        <div class="dialog-content">
            <p class="title">正在更新訂單資料中</p>
            <pre class="txt_center">正在複製新單資料，請勿關閉網頁！</pre>
        </div>
    </div>
</div>

<div>
    <form id="deleteForm" method="post" action="/A/5/remove">
        <input type="hidden" name="orderNo" th:if="${orderData}" th:value="${orderData.orderNo}"/>
        <input type="hidden" name="customerSubId" th:value="${customer[0].customerSubId}"/>
    </form>
</div>

<!-- 特配單  -->
<div class="dialog A7">
    <div class="dialog-modal subDialog">
        <div class="tableContent">
            <p class="title" id="spDetailNo"></p>
            <div class="content">
                <div class="row">
                    <div class="col col-xs-9">
                        <p>訂單編號</p>
                        <span th:if="${orderData}" th:text="${'E_' + orderData.orderNo}"></span>
                    </div>

                    <div class="col col-xs-3">
                        <p>出貨工廠</p>
                        <span id="spValue"></span>
                    </div>

                    <div class="col col-xs-3">
                        <p>訂單出貨日期</p>
                        <span id="spDeliveryDate"></span>
                    </div>
                    <div class="col col-xs-3">
                        <p>訂單出貨時間</p>
                        <span id="spDeliveryTime"></span>
                    </div>
                    <div class="col col-xs-3">
                        <p>特配出貨日期</p>
                        <input type="text" class="date" id="spSpDeliveryDate">
                    </div>
                    <div class="col col-xs-3">
                        <p>特配出貨時間</p>
                        <input type="text" class="time" id="spSpDeliveryTime">
                    </div>

                    <div class="col col-xs-3">
                        <p>客戶編號</p>
                        <span id="spCustomerSubId" th:text="${customer[0].customerSubId}"></span>
                    </div>
                    <div class="col col-xs-3">
                        <p>客戶姓名</p>
                        <span id="spCustomerName" th:text="${customer[0].customerSubName}"></span>
                    </div>
                    <div class="col col-xs-3">
                        <p>使用階段</p>
                        <span id="spPhase"></span>
                    </div>
                    <div class="col col-xs-3" th:if="${feedingScale}">
                        <p>飼養規模</p>
                        <span id="spFeedingScale" th:text="${feedingScale.feedingScale}"></span>
                    </div>

                    <div class="col col-xs-12" th:if="${feedingScale}">
                        <p>客戶特配提醒</p>
                        <pre th:text="${feedingScale.note}"></pre>
                    </div>
                    <div class="col col-xs-3">
                        <p>運輸車種</p>
                        <span id="vehicleType"></span>
                    </div>
                    <div class="col col-xs-9">
                    </div>
                    <div class="col col-xs-3">
                        <p>飼料編號</p>
                        <span id="spCode"></span>
                    </div>
                    <div class="col col-xs-3">
                        <p>飼料名稱</p>
                        <span id="spName"></span>
                    </div>
                    <div class="col col-xs-3">
                        <p>散裝/包裝</p>
                        <span id="spPackage"></span>
                        <input type="hidden" id="spPackageValue" />
                        <input type="hidden" id="spPackagePrice" />
                    </div>
                    <div class="col col-xs-3">
                        <p>噸數/包數</p>
                        <span id="spAmount"></span>
                    </div>


                    <div class="col col-xs-6">
                        <p>包裝規格註記</p>
                        <select id="productSpec">
                            <option value="">請選擇</option>
                            <option value="1">粒料 "PL" ,注意粒度</option>
                            <option value="2">粉料"ML"</option>
                            <option value="0">碎粒 "CR"</option>
                            <option value="3">碎粒特細 間隙0.8MM</option>
                            <option value="4">大碎 間隙2.5MM</option>
                            <option value="5">小碎</option>
                            <option value="6">2.5MM製粒,注意粒度</option>
                            <option value="7">3.5MM製粒,注意粒度</option>
                            <option value="8">3.5mm製粒長度切0.5公分</option>
                            <option value="9">CR 間隙       MM</option>
                            <option value="10">CR間隙2.5MM，注意碎粒度</option>
                            <option value="11">抽91玉米換92玉米</option>
                            <option value="12">粒料.長度切短</option>
                            <option value="13">粒料.長度切到最短</option>
                            <option value="14">4.0MM製粒(東農)</option>
                            <option value="15">2.6MM製粒</option>
                        </select>
                    </div>
                    <div class="col col-xs-6">
                        <p>生產線註記</p>
                        <select id="productLineNote">
                            <option value="">請選擇</option>
                            <option value="1">空白線生產</option>
                            <option value="3">有藥線生產</option>
                            <option value="13">空白線生產，第二台生產</option>
                            <option value="14">噸數出足,不過篩</option>
                            <option value="6">抽91玉米換92玉米</option>
                            <option value="10">待自備藥入廠才做料</option>
                            <option value="11">噸數出足不可少</option>
                            <option value="4">標籤註明</option>
                            <option value="7">生產前台避開球蟲料別</option>
<!--                             <option value="2">完全空白線生產</option> -->
<!--                             <option value="5">待LAB化驗品管OK才出貨</option> -->
<!--                             <option value="8">絕不超過噸數</option> -->
<!--                             <option value="9">品檢+PSI+取樣2KG</option> -->
<!--                             <option value="12">注意粒度 成品過篩</option> -->
                        </select>
                    </div>

                    <div class="col col-xs-12">
                        <p>症狀</p>
                        <div>
                            <input type="checkbox" id="symptom1" name="symptom" value="1"/><label for="symptom1">咳嗽</label>
                            <input type="checkbox" id="symptom2" name="symptom" value="2"/><label for="symptom2">喘</label>
                            <input type="checkbox" id="symptom3" name="symptom" value="3"/><label for="symptom3">下痢</label>
                            <input type="checkbox" id="symptom4" name="symptom" value="4"/><label for="symptom4">腸炎</label>
                            <input type="checkbox" id="symptom5" name="symptom" value="5"/><label for="symptom5">流鼻涕</label>
                            <input type="checkbox" id="symptom6" name="symptom" value="6"/><label for="symptom6">驅蠅</label>
                            <input type="checkbox" id="symptom7" name="symptom" value="7"/><label for="symptom7">驅虫</label>
                            <input type="checkbox" id="symptom8" name="symptom" value="8"/><label for="symptom8">漿膜炎</label>
                            <input type="checkbox" id="symptom9" name="symptom" value="9"/><label for="symptom9">白冠</label>
                            <input type="checkbox" id="symptom10" name="symptom" value="10"/><label for="symptom10">球虫</label>
                            <input type="checkbox" id="symptom11" name="symptom" value="11"/><label for="symptom11">其他</label>
                            <b>請恪遵停藥期</b>
                        </div>
                    </div>
                </div>
                <div class="row multi">
                    <div class="col col-xs-12 pump">
                        <p>[ 抽藥提醒 ]</p>
                        <table class="td_left_2 td_left_4 td_right_5" id="spCUCY">
                            <tr>
                                <th>產品編號</th>
                                <th>產品名稱</th>
                                <th>藥品編號</th>
                                <th>藥品名稱</th>
                                <th>每噸用量</th>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12">
                        <p>特配單<br/>生產備註</p>
                        <textarea id="productNote"></textarea>
                    </div>
                </div>
                <div class="row multi">
                    <div class="col col-xs-12 medication">
                        <table class="td_left_2 td_left_8" id="orderDetailTPC">
                            <tr>
                                <th colspan="9"><p>公司藥</p>
                                    <span>特配總價 <b id="totalPriceTP"></b> 元　　　飼料扣藥重 <b id="codeWeightTP"></b>　　　特配金額 <b id="spPriceTP"></b> 元</span></th>
                            </tr>
                            <tr>
                                <th width="8%">原料代號</th>
                                <th width="20%">特配名稱</th>
                                <th width="10%">每1噸用量(KG)</th>
                                <th width="10%">每2噸用量(KG)</th>
                                <th width="10%">建議/最高劑量</th>
                                <th width="5%">總量</th>
                                <th width="8%">停藥期天數</th>
                                <th width="22%">特配備註</th>
                                <th width="5%">操作</th>
                            </tr>
                            <tr class="create">
                                <td>
                                    <input type="text" id="searchProductCodeTPC"/>
                                    <input type="hidden" id="priceTPC" value="0" />
                                </td>
                                <td>
                                    <input type="text" id="searchProductNameTPC"/>
                                </td>
                                <td><input type="text" id="selectProductAmountTPC" onchange="calculateWeightTPC()"/></td>
                                <td id="amount2kgTPC"></td>
                                <td id="recommendedAmountTPC"></td>
                                <td id="totalAmountTPC"></td>
                                <td id="drugWithdrawalTPC"></td>
                                <td id="noteTPC"></td>
                                <td><img src="../img/ico_add.png" onclick="addNewDetailTP('company')"></td>
                            </tr>
                        </table>
                        <table class="td_left_2 td_left_8" id="orderDetailTPS">
                            <tr>
                                <th colspan="9"><p>自備藥</p></th>
                            </tr>
                            <tr>
                                <th width="8%">原料代號</th>
                                <th width="20%">特配名稱</th>
                                <th width="10%">每1噸用量(KG)</th>
                                <th width="10%">每2噸用量(KG)</th>
                                <th width="10%">建議/最高劑量</th>
                                <th width="5%">總量</th>
                                <th width="8%">停藥期天數</th>
                                <th width="22%">特配備註</th>
                                <th width="5%">操作</th>
                            </tr>
                            <tr class="create">
                                <td>
                                    <input type="text" id="searchProductCodeTPS"/>
                                    <input type="hidden" id="priceTPS" value="0" />
                                </td>
                                <td>
                                    <input type="text" id="searchProductNameTPS"/>
                                </td>
                                <td><input type="text" id="selectProductAmountTPS" onchange="calculateWeightTPS()"/></td>
                                <td id="amount2kgTPS"></td>
                                <td id="recommendedAmountTPS"></td>
                                <td id="totalAmountTPS"></td>
                                <td id="drugWithdrawalTPS"></td>
                                <td id="noteTPS"></td>
                                <td><img src="../img/ico_add.png" onclick="addNewDetailTP('self')"></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-7" style="padding-top: 1.35em;">
                        <p style="width: auto">編制</p>
                        <input type="text" id="noteA" style="max-width: calc((100% - 200px)/3)">
                        <p style="width: auto">審核</p>
                        <input type="text" id="noteB" style="max-width: calc((100% - 200px)/3);">
                        <p style="width: auto">傳真編號</p>
                        <input type="text" id="noteC" style="max-width: calc((100% - 200px)/3);">
                    </div>
                    <div class="col col-xs-5 right">
                        <button class="gray" onclick="closeDialogSP(false)">取消</button>
                        <button onclick="closeDialogSP(true)">確定</button>
                        <button onclick="printPage('A8')" id="btnPrintPageSP" th:if="${orderData}">單頁顯示</button>
                    </div>
                    <div class="col col-xs-12">
                        <hr/>
                        <p>修改紀錄</p>
                        <div id="spModifyLogs">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 工廠小單 -->
<div class="dialog A9">
    <div class="dialog-modal subDialog smallView">
        <div class="tableContent">
            <p class="title" id="pdDetailNo"></p>
            <div class="content">
                <div class="row">
                    <div class="col col-xs-6" th:if="${orderData}">
                        <p>訂單編號</p>
                        <span th:text="${'E_' + orderData.orderNo}"></span>
                    </div>
                    <div class="col col-xs-6">
                    </div>
                    <div class="col col-xs-6">
                        <p>訂單出貨日期</p>
                        <span id="pdDeliveryDate"></span>
                    </div>
                    <div class="col col-xs-6">
                        <p>訂單出貨時間</p>
                        <span id="pdDeliveryTime"></span>
                    </div>
                    <div class="col col-xs-6">
                        <p>客戶編號</p>
                        <span id="pdCustomerSubId" th:text="${customer[0].customerSubId}"></span>
                    </div>
                    <div class="col col-xs-6">
                        <p>客戶姓名</p>
                        <span id="pdCustomerSubName" th:text="${customer[0].customerSubName}"></span>
                    </div>
                    <div class="col col-xs-6">
                        <p>飼料編號</p>
                        <span id="pdCode"></span>
                    </div>
                    <div class="col col-xs-6">
                        <p>飼料名稱</p>
                        <span id="pdName"></span>
                    </div>
                    <div class="col col-xs-6">
                        <p>散裝/包裝</p>
                        <span id="pdPackage"></span>
                    </div>
                    <div class="col col-xs-6">
                        <p>噸數/包數</p>
                        <span id="pdAmount"></span>
                    </div>
                    <div class="col col-xs-12">
                        <p>生產小單<br/>註記</p>
                        <textarea id="pdNote"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12 right">
                        <button class="gray" onclick="closeDialogPD(false)">關閉</button>
                        <button onclick="closeDialogPD(true)">儲存</button>
                        <button onclick="printPage('A10')" id="btnPrintPagePD" th:if="${orderData}">單頁顯示</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
    .autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
    .autocomplete-selected { background: #F0F0F0; }
    .autocomplete-suggestions strong { font-weight: normal; color: #3399FF; }
    .autocomplete-group { padding: 2px 5px; }
    .autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
</style>

<script src="../js/tp.js"></script>
<script>
    function printPage(type) {
        var customer = $('#customerSubId').text().trim();
        var orderNo = $('#orderNo').val().trim();
        var descApp = $("#descApp").val();

        if('A8' === type) {
            var code = $('#orderDetail tr:eq('+editIndex+') span[name="code"]').text();
            var spDetail = JSON.parse($('#orderDetail tr:eq('+editIndex+') input[name="spDetail"]').val());
            descApp = $("#productNote").val();
            if(spDetail.id) {
                // window.open('/A/print?customer=' + customer + '&order_no=' + orderNo + '&detail_id=' + spDetail.id + '&type=' + type, '_blank');
                window.open('/A/print?customer=' + customer + '&order_no=' + orderNo + '&detail_id=' + editIndex + '&type=' + type + '&descApp=' + descApp, '_blank');
            }
        } else if('A10' === type) {
            var pdDetail = JSON.parse($('#orderDetail tr:eq('+editIndex+') input[name="pdDetail"]').val());
            if(pdDetail.id) {
                window.open('/A/print?customer=' + customer + '&order_no=' + orderNo + '&detail_id=' + pdDetail.id + '&type=' + type + '&descApp=' + descApp, '_blank');
            }
        } else {
            window.open('/A/print?customer=' + customer + '&order_no=' + orderNo + '&type=' + type + '&descApp=' + descApp, '_blank');
        }
    }
</script>
<script th:inline="javascript">

    Date.prototype.yyyymmdd = function () {
        var mm = this.getMonth() + 1; // getMonth() is zero-based
        var dd = this.getDate();

        return [this.getFullYear(),
            (mm > 9 ? '' : '0') + mm,
            (dd > 9 ? '' : '0') + dd
        ].join('-');
    };

    $(document).ready(function() {

        if($("#isDelete").val()){
            if ($("#isDelete").val() === "DEL") {


                $("input").prop("disabled", true);
                $("select").prop("disabled", true);
                $("textarea").prop("disabled", true);

                $("#button-list").empty();
                $("#button-list").append( '<div  class="col col-xs-12 right"><button class="gray"'+ 'onclick="link('+"'/A/3'"+')">返回</button></div>')

            }
        }
        var today = new Date().yyyymmdd();
        if ($("#memo").val()) {
            var memoList = JSON.parse($("#memo").val());
            console.log("memoList", memoList);
            if (memoList.length > 0) {
                console.log("memoList.length", memoList.length);
                for (let memoListKey in memoList) {
                    if (today <= memoList[memoListKey].memoEnd) {
                        $("#memo-list").append(
                            '<pre>' + memoList[memoListKey].memoStart + "～" + memoList[memoListKey].memoEnd + "   " + memoList[memoListKey].memoTxt + "</pre>"
                        )
                    }
                }
            }
        }
    });

    var editIndex = 0;

    // 更新散裝/包裝資訊
    function updateSelectedValue(suggestion) {
        $('#searchProductCode').val(suggestion.data.code);
        $('#searchProductName').val(suggestion.data.name);
        $('#searchProductPhase').val(suggestion.data.phase);

        updateProductPrice(suggestion);

    }

    //更新產品價格
    function updateProductPrice(suggestion) {
        $('#productPriceX').val(suggestion.data.priceX);
        $('#productPrice3K').val(suggestion.data.price3kg3K);
        $('#productPrice1').val(suggestion.data.price10kg1);
        $('#productPrice2').val(suggestion.data.price20kg2);
        $('#productPrice25').val(suggestion.data.price25kg2point5C);
        $('#productPrice3').val(suggestion.data.price30kg3);
        $('#productPrice3C').val(suggestion.data.price30kg3C);
        $('#productPrice5').val(suggestion.data.price50kg5);
        $('#productPriceJ').val(suggestion.data.price1000kgJ);
        $('#productPriceJ5').val(suggestion.data.price500kgJ5);
    }

    // 查詢 auto complete
    $('#searchProductCode').autocomplete({
        serviceUrl: '/api/product/query',
        paramName: 'code',
        dataType: 'json',
        width: 'flex',
        noCache: true,
        transformResult: function(response) {
            return {
                suggestions: $.map(response, function(data) {
                    return { value: data.code, data: data };
                })
            };
        },
        formatResult: function (suggestion, currentValue) {
            return $.Autocomplete.defaults.formatResult(suggestion, currentValue) + ' ' + suggestion.data.name;
        },
        onSearchStart: function (params) {
            params.name = '';
            params.areaCode = '';
            params.areaType = '';
        },
        onSelect: updateSelectedValue
    });
    $('#searchProductName').autocomplete({
        serviceUrl: '/api/product/query',
        paramName: 'name',
        dataType: 'json',
        width: 'flex',
        noCache: true,
        transformResult: function(response) {
            return {
                suggestions: $.map(response, function(data) {
                    return { value: data.name, data: data };
                })
            };
        },
        formatResult: function (suggestion, currentValue) {
            return suggestion.data.code + ' ' + $.Autocomplete.defaults.formatResult(suggestion, currentValue);
        },
        onSearchStart: function (params) {
            params.code = '';
            params.areaCode = '';
            params.areaType = '';
        },
        onSelect: updateSelectedValue
    });

    // 訂單日曆
    var fpConfig = { defaultDate: 'today' };
    if($("#deliveryDate").val()) {
        fpConfig = {};
    }
    $("#deliveryDate").flatpickr(fpConfig);
    // 訂單時間
    $("#deliveryTime").flatpickr({
        enableTime: true,
        noCalendar: true,
        dateFormat: "H:i",
        time_24hr: true
    });



    // 取得產品價格
    function getProductPrice(rowid) {
    	try {
	    	AppDebugger.info('===== [取得產品價格] 開始 =====');
	        var result = $('#productPriceX').val();
	    	AppDebugger.info('[取得產品價格] 散裝/包裝價格(productPriceX)', result);
	        var pkgCode = '';
	        
	        if(typeof rowid === "undefined"){
	            pkgCode = $('#selectProductPackage').val();
		    	AppDebugger.info('[取得產品價格] 散裝/包裝代碼(selectProductPackage)', pkgCode);
	    	}else{
	    		pkgCode = $('#selectProductPackage'+rowid).val();
	    		let pkgCodeObj = 'selectProductPackage' + rowid;
		    	AppDebugger.info('[取得產品價格] 散裝/包裝代碼(' + pkgCodeObj +')', pkgCode);
	    	}
	        
	        switch(pkgCode) {
	            case "1":
	                result = $('#productPrice1').val();
	                break;
	            case "2":
	                result = $('#productPrice2').val();
	                break;
	            case "2.5":
	                result = $('#productPrice25').val();
	                break;
	            case "3":
	                result = $('#productPrice3').val();
	                break;
	            case "3C":
	                result = $('#productPrice3C').val();
	                break;
	            case "5":
	                result = $('#productPrice5').val();
	                break;
	            case "J":
	                result = $('#productPriceJ').val();
	                break;
	            case "J5":
	                result = $('#productPriceJ5').val();
	                break;
	        }
	        return result;
    	} finally {
    		AppDebugger.info('===== [取得產品價格] 結束 =====');
    	}
    }


  // 取得產品價格
    function getProductPriceTrigger(rowid) {
        var result = $('#productPriceX').val();
        var pkgCode = '';
        pkgCode = $('#selectProductPackage').val();

        switch(pkgCode) {
            case "1":
                result = $('#productPrice1').val();
                break;
            case "2":
                result = $('#productPrice2').val();
                break;
            case "2.5":
                result = $('#productPrice25').val();
                break;
            case "3":
                result = $('#productPrice3').val();
                break;
            case "3C":
                result = $('#productPrice3C').val();
                break;
             case "3K":
                result = $('#productPrice3K').val();
                break;
            case "5":
                result = $('#productPrice5').val();
                break;
            case "J":
                result = $('#productPriceJ').val();
                break;
            case "J5":
                result = $('#productPriceJ5').val();
                break;
        }

        return result;
    }

    // 更新特定產品價格
    function updateOneProductPrice(rowid,code) {
    	console.log('code : '+code);
        axios.post('/api/product/query?code='+code).then(function (response) {

            if(response.data && 200 === response.status) {
            	response.data = response.data[0];
            	console.log(response.data);
            	updateProductPrice(response);
            	console.log(getProductPrice(rowid));
            	$('#selectPackagePrice'+rowid).val(getProductPrice(rowid));
            }
        });
    }






    // 小圖示更新特定產品價格
    function updateOneProductPriceTrigger(rowid,code) {
    	console.log('code : '+code);
        axios.post('/api/product/query?code='+code).then(function (response) {

            if(response.data && 200 === response.status) {
            	response.data = response.data[0];
            	console.log(response.data);
            	updateProductPrice(response);
            	console.log(getProductPriceTrigger(rowid));

            	$('#selectPackagePrice'+rowid).val(getProductPriceTrigger(rowid));
                calculateWeight(rowid);


            	$('#selectProductPackage option').first().prop('selected', true);
                $('#selectProductAmount').val('');
                $('#selectProductSpec option').first().prop('selected', true);
                $('#selectProductWeight').text('');
                $('#selectVehicle option').first().prop('selected', true);


            }
        });
    }





    // 計算總重
    function calculateWeight(rowid) {
		try {
			AppDebugger.info("===== [計算總重] 開始 =====");
	    	var amount  = '';
	        var pkgCode = '';
	        var packageData = '';
	        AppDebugger.info("[計算總重] 第" + rowid + "筆");
	        if(typeof rowid === "undefined"){
	        	amount = new Decimal($('#selectProductAmount').val()*1);
	            pkgCode = $('#selectProductPackage').val();
	            packageData = $("#selectProductPackage0").find("option:selected").text()
	    	}else{
	    		amount = new Decimal($('#selectProductAmount'+rowid).val()*1);
	    		pkgCode = $('#selectProductPackage'+rowid).val();
	            packageData = $('#selectProductPackage'+rowid).find("option:selected").text()
	    	}
	        AppDebugger.info("[計算總重] 選擇散裝/包裝", packageData);
	        AppDebugger.info("[計算總重] 價格", amount.toString());
	        AppDebugger.info("[計算總重] 代碼", pkgCode);
	        var result = new Decimal('1');
	        switch(pkgCode) {
	            case "1":
	                result = new Decimal('0.01');
	                break;
	            case "2":
	                result = new Decimal('0.02');
	                break;
	            case "3K":
	                result = new Decimal('0.003');
	                break;
	            case "2.5":
	                result = new Decimal('0.025');
	                break;
	            case "3":
	                result = new Decimal('0.03');
	                break;
	            case "3C":
	                result = new Decimal('0.03');
	                break;
	            case "5":
	                result = new Decimal('0.05');
	                break;
	            case "J":
	                result = new Decimal('1');
	                break;
	            case "J5":
	                result = new Decimal('0.5');
	                break;
	        }
	        AppDebugger.info("[計算總重] 係數", result.toString());
	        if(typeof rowid === "undefined"){
	        	$("#selectProductWeight").text(amount.mul(result).toFixed());
	        	let dom = $("#selectProductPackage");
	        	dom.closest("td").find('input[name=package]').val(packageData);
	    	}else{
	        	$('#selectProductWeight'+rowid).text(amount.mul(result).toFixed());
	        	let dom = $("#selectProductPackage"+rowid);
	        	dom.closest("td").find('input[name=package]').val(packageData);
	    	}
		} finally {
			AppDebugger.info("===== [計算總重] 結束 =====");
		}
    }

    // 顯示生產小單
    function showDialogPD(row) {
        $('.A9').addClass('show-dialog');
	    $('body').addClass('sw_active');

	    editIndex = $(row).closest('tr').index();

	    $("#pdDeliveryDate").text($("#deliveryDate").val());
	    $("#pdDeliveryTime").text($("#deliveryTime").val());

	   $('#pdCode').text($(row).closest('tr').find('td:eq(0)').text());
	   $('#pdName').text($(row).closest('tr').find('td:eq(1)').text());
	   $('#pdPackage').text($(row).closest('tr').find('td:eq(2)').text());
	   $('#pdAmount').text($(row).closest('tr').find('td:eq(3)').text());

       var pdDetail = JSON.parse($(row).closest('tr').find('input[name="pdDetail"]').val());
       if(pdDetail.id) {
        $('#pdDetailNo').html('生產小單編號：' + pdDetail.id + '<span>建單日期　' + pdDetail.createDate + '</span>');
       } else {
        $('#pdDetailNo').text('');
       }
       if(pdDetail.id) {
            $('#btnPrintPagePD').show();
       } else {
            $('#btnPrintPagePD').hide();
       }

	   $('#pdNote').val(pdDetail.note);
    }

	function closeDialogPD(do_save) {
        $('.A9').removeClass('show-dialog');
	    $('body').removeClass('sw_active');

	    if(do_save && 0 < editIndex) {
	        var pdDetail = JSON.parse($('#orderDetail tr:eq('+editIndex+') input[name="pdDetail"]').val());
	        pdDetail.note = $('#pdNote').val();
            $('#orderDetail tr:eq('+editIndex+') input[name="pdDetail"]').val(JSON.stringify(pdDetail));
	    }
	}
	function deleteConfirm() {
        $('.Z5Delete').addClass('show-dialog');
    }
    function cancelConfirm() {
        $('.Z5Cancel').addClass('show-dialog');
    }
    function closeDeleteConfirm() {
        $('.Z5Delete').removeClass('show-dialog');
    }
    function closeCancelConfirm() {
        $('.Z5Cancel').removeClass('show-dialog');
    }
    function closeDeleteConfirm() {
        $('.Z5Delete').removeClass('show-dialog');
    }
    function duplicateConfirm() {
        $('.ConfirmDuplicate').addClass('show-dialog');
    }
    function closeDuplicateConfirm() {
        $('.ConfirmDuplicate').removeClass('show-dialog');
    }
    function showAlertDialog() {
        $('.ValidateFailed').addClass('show-dialog');
    }
    function closeAlertDialog() {
        $('.ValidateFailed').removeClass('show-dialog');
    }
    function closeCloseOrder() {
        $('.CloseOrder').removeClass('show-dialog');
    }
    function showProcessing(duplicate) {
        $('#processResult').css('display','none');

        if(duplicate) {
            $('.Duplicating').addClass('show-dialog');
        } else {
            $('.Processing').addClass('show-dialog');
        }
    }
    function closeProcessing() {
        $('#processResult').css('display','block');
        $('.Processing').removeClass('show-dialog');
        $('.Duplicating').removeClass('show-dialog');
    }

    // 刪除一筆明細列
    function removeDetail(row) {
        console.log("value:",$("#isDelete").val())
        if ($("#isDelete").val() !== "DEL") {
            $(row).closest('tr').remove();
        } else {
            $('#processResult').css('display', 'block');
            $('#processResult').text('訂單已被刪除 無法更改');
        }
    }

    // 新增一筆明細列
    function addNewDetail() {
        if($("#isDelete").val() !== "DEL"){
            $('#processResult').css('display','none');

            if('' === $('#searchProductCode').val() ||
                '' === $('#searchProductName').val() ||
                '' ===  $('#selectProductAmount').val() ||
                '' ===  $('#selectProductSpec').val() ) {

                $('#processResult').css('display','block');
                $('#processResult').text('訂單內容欄位請確實填寫才可新增');

                return;
            }

            var newDetail = '';
            newDetail += '<td '+  generateSelectProductCode() +'>' +  $('#searchProductCode').val() +'<img  src="../img/icon_edit.png"   onclick="confirmChangeCode(this);"   />' +'<input type="hidden" name="phase" value="' + $('#searchProductPhase').val() + '" /></td>';
            newDetail += '<td  '+  generateSelectProductName() +' >' +  $('#searchProductName').val() + '</td>';
            newDetail += '<td>' +  generateSelectProductPackage($('#selectProductPackage :selected').text()) + '<input type="hidden" name="package" id="package'+getRowid()+'"  value="' + $('#selectProductPackage').val() + '" /><input type="hidden" id="selectPackagePrice'+getRowid()+'" name="packagePrice" value="' + getProductPrice() + '" /></td>';
            newDetail += '<td>' +  generateSelectProductAmount($('#selectProductAmount').val()) + '</td>';
            newDetail += '<td>' +  generateSelectProductSpec($('#selectProductSpec').val()) + '</td>';
            newDetail += '<td id="selectProductWeight'+getRowid()+'">' +  $('#selectProductWeight').text() + '</td>';

            if('請選擇' === $('#selectSP').val()) {
                newDetail += '<td>-</td>';
            } else {
                var fvalue = $('#selectSP').val();
                var descApp = $('#descApp').val();
                newDetail += '<td class="link">' +
                    '<span onclick="delegateShowDialogSP(this,\''+getRowid()+'\')">' + fvalue + "</span>" +
                    '<input type="hidden" name="spDetail" id=  "spDetail'+getRowid()+'"  value="{&quot;value&quot;: &quot;' + $('#selectSP').val() + '&quot;}" />' +

                    '<select id="spSelect" onchange="showDialogSP_patched_fapp(this)">' +
                    '<option value="台中/大肚(20)"' + (("台中/大肚(20)" === fvalue) ? 'selected' : '') + '>台中/大肚(20)</option>' +
                    '<option value="高雄/威祥(40)"' + (("高雄/威祥(40)" === fvalue) ? 'selected' : '') + '>高雄/威祥(40)</option>' +
                    '<option value="高雄/嘉泰(50)"' + (("高雄/嘉泰(50)" === fvalue) ? 'selected' : '') + '>高雄/嘉泰(50)</option>' +
                    '<option value="高雄/東農(60)"' + (("高雄/東農(60)" === fvalue) ? 'selected' : '') + '>高雄/東農(60)</option>' +
                    '</select>' +

                    '</td>';
            }

            newDetail += '<input type="hidden" name="pdDetail" value="{}" />';

            newDetail += '<td>' +  generateSelectVehicle($('#selectVehicle').val()) + '</td>';


            newDetail += '<td><img onclick="removeDetail(this)" src="../img/ico_delete.png"></td>';

            $('#orderDetail').append('<tr>' + newDetail + '</tr>');

            $('#searchProductCode').val('');
            $('#searchProductName').val('');
            $('#selectProductPackage option').first().prop('selected', true);
            $('#selectProductAmount').val('');
            $('#selectProductSpec option').first().prop('selected', true);
            $('#selectProductWeight').text('');

            $('#selectSP option').first().prop('selected', true);
            $('#selectPD option').first().prop('selected', true);
        }else{
            // 為以刪除的訂單不可以新增
            $('#processResult').css('display','block');
            $('#processResult').text('訂單已被刪除 無法更改');
            return
        }

    }

    //計算rowid
    function getRowid(){
    	var rowCount = $('#orderDetail tr').length;
    	//-table的標頭和新增表列
    	rowCount = rowCount-2;
    	return rowCount;
    }

    function generateSelectProductCode(){
    	var rowid = getRowid();
    	return ''+
    	' id="codeId'+rowid+'" ';
    }

    function generateSelectProductName(){
    	var rowid = getRowid();
    	return ''+
    	' id="nameId'+rowid+'" ';
    }


    function generateSelectProductPackage(fvalue){
    	var rowid = getRowid();
    	var productCode = $('#searchProductCode').val();
        return ''+
        '  <select id="selectProductPackage'+rowid+'"'
        +' onchange="calculateWeight(\''+rowid+'\');updateOneProductPrice(\''+rowid+'\',\''+productCode+'\');"'
        +' name="unit">'
        +'      <option value="X"   ' + (("散裝/X"        === fvalue) ? 'selected' : '') + '>散裝/X</option>'
        +'      <option value="3K"  ' + (("3kg/3K"       === fvalue) ? 'selected' : '') + '>3kg/3K</option>'
        +'      <option value="1"   ' + (("10kg/1"       === fvalue) ? 'selected' : '') + '>10kg/1</option>'
        +'      <option value="2"   ' + (("20kg/2"       === fvalue) ? 'selected' : '') + '>20kg/2</option>'
        +'      <option value="2.5" ' + (("25kg/2.5"     === fvalue) ? 'selected' : '') + '>25kg/2.5</option>'
        +'      <option value="3"   ' + (("30kg/3"       === fvalue) ? 'selected' : '') + '>30kg/3</option>'
        +'      <option value="3C"  ' + (("30kg(C)/3C"   === fvalue) ? 'selected' : '') + '>30kg(C)/3C</option>'
        +'      <option value="5"   ' + (("50kg/5"       === fvalue) ? 'selected' : '') + '>50kg/5</option>'
        +'      <option value="J"   ' + (("1000kg/J"     === fvalue) ? 'selected' : '') + '>1000kg/J</option>'
        +'      <option value="J5"  ' + (("500kg(J5)/J5" === fvalue) ? 'selected' : '') + '>500kg(J5)/J5</option>'
        +' </select>';
    }

    function generateSelectProductAmount(fvalue){
    	var rowid = getRowid();
    	return ''+
    	'<input type="text" id="selectProductAmount'+rowid+'" onchange="calculateWeight(\''+rowid+'\');" value= "'+fvalue+'" name="count"/>';
    }

    function generateSelectProductSpec(fvalue){
    	var rowid = getRowid();
    	return ''+
    	' <select id="selectProductSpec'+rowid+'" name="spec">'
        +'      <option value="PL" ' + (("PL" === fvalue) ? 'selected' : '') + '>PL</option>'
        +'      <option value="ML" ' + (("ML" === fvalue) ? 'selected' : '') + '>ML</option>'
        +'      <option value="CR" ' + (("CR" === fvalue) ? 'selected' : '') + '>CR</option>'
        +' </select>';
    }

    function generateSelectVehicle(fvalue){
    	var rowid = getRowid();
    	return ''+
    	' <select id="selectVehicle'+rowid+'" name="vehicle">'
    	+'      <option value="" ' + (("" === fvalue) ? 'selected' : '') + '>請選擇</option>'
        +'      <option value="EMP" ' + (("EMP" === fvalue) ? 'selected' : '') + '>空白車</option>'
        +'      <option value="DRUG" ' + (("DRUG" === fvalue) ? 'selected' : '') + '>有藥車</option>'
        +'      <option value="ALL" ' + (("ALL" === fvalue) ? 'selected' : '') + '>皆可</option>'
        +' </select>';
    }

    function generateOrderDetailList() {
        var list = [];
        $('#orderDetail tr:gt(1)').each(function() {
            var detail = {
                    code:  $(this).find('td:eq(0)').text().trim(),
                    name:  $(this).find('td:eq(1)').text().trim(),
                    unit:  $(this).find('select[name="unit"] option:selected').text(),
                    count: $(this).find('input[name="count"]').val(),
                    spec:  $(this).find('select[name="spec"]').val(),
                    weight:$(this).find('td:eq(5)').text().trim(),
                    vehicleType:  $(this).find('select[name="vehicle"]').val(),
                    vehicleName:  $(this).find('select[name="vehicle"]  :selected').text(),
                    phase: ""+$(this).find('input[name="phase"]').val(),
                    price: $(this).find('input[name="packagePrice"]').val(),
                };
            
            if('-' !== $(this).find('td:eq(6)').text().trim()) {
                detail.detailSP = JSON.parse($(this).find('input[name="spDetail"]').val());
                detail.detailSP.exist = true;
                detail.detailSP.update = false;
            }

            if('-' !== $(this).find('td:eq(7)').text().trim()) {
                detail.detailPD = JSON.parse($(this).find('input[name="pdDetail"]').val());
                detail.detailPD.exist = true;
            }

            list.push(detail);
        });

        return list;
    }

    function refreshDetailData(results) {
        $('#orderDetail tr:gt(1)').each(function(index) {
            if('-' !== $(this).find('td:eq(6)').text()) {
                $(this).find('input[name="spDetail"]').val(results[index].jsonDetailSP);
            }

            if('-' !== $(this).find('td:eq(7)').text()) {
                $(this).find('input[name="pdDetail"]').val(results[index].jsonDetailPD);
            }
        });
    }

    // 送出前欄位檢查
    function validateOrderData(detailList) {
        if('' ===$('#deliveryDate').val() || '' === $('#deliveryTime').val()) {
            $('#processResult').text('請填寫訂單出貨日期與時間');
            return false;
        }

        if(0 === detailList.length) {
            $('#processResult').text('請新增飼料編號與特配單');
            return false;
        }

        return true;
    }

    function removeOrder() {
        closeDeleteConfirm();
        $('#deleteForm').submit();
    }

    function orderDuplicate() {
        closeDuplicateConfirm();
         var order = {
            customerSubId: $('#customerSubId').text(),
            orderNo: $('#orderNo').val()
         };

        $('#processResult').css('display','none');
        showProcessing(true);
        axios.post('/api/order/duplicate', order).then(function (response) {
            closeProcessing();
            if(response.data && 200 === response.status && response.data.orderNo) {
                $('#processResult').text('複製新單成功');
                setTimeout(function() {
                    window.open(location.origin + '/A/5?customer=' + order.customerSubId + '&order_no=' + response.data.orderNo, '_blank');
                }, 100);
            } else {
                $('#processResult').text('複製新單失敗，請確認欄位正確');
            }
        }).catch(function (error) {
            closeProcessing();
            $('#processResult').text('複製新單失敗，請確認欄位正確');
        });
    }

    function orderSubmitBefore() {
        closeCloseOrder();
        $('#processResult').css('display','none');
        if(false === validateOrderData(generateOrderDetailList())) {
            $('#processResult').css('display','block');
            return;
        }

        if('' !== $('#poCode').val()) {
             $('.CloseOrder').addClass('show-dialog');
             return;
        }

        orderSubmit();
    }

    function orderSubmit() {
        closeCloseOrder();
        $('#processResult').css('display','none');
        var detailList = generateOrderDetailList();
        if(false === validateOrderData(detailList)) {
            $('#processResult').css('display','block');
            return;
        }
        
        var productNote = $('#descApp').val();
        for (var i = 0; i < detailList.length; i++) {
        	var item = detailList[i];
        	if (item.detailSP) {
        		item.detailSP.productNote = productNote;
        	}
        }
        
        var orderData = [[${orderData}]] || { modifyTime: null };
        
        var order = {
            tmcode: $('#tmcode').val(),
            deliveryDate: $('#deliveryDate').val() + ' ' + $('#deliveryTime').val(),
            customerSubId: $('#customerSubId').text(),
            customerSubName:  $('#customerSubName').text(),
            customerPhone:  $('#customerPhone').text(),
            shipTo: $('#shipTo').val(),
            descWeb: $('#descWeb').val(),
            descApp: $('#descApp').val(),
            poCode: $('#poCode').val(),
            orderDetailList: detailList,
            modifyTime: orderData.modifyTime
        };
        if($('#orderNo').val()) {
            order.orderNo = $('#orderNo').val();
        }

        showProcessing();
        axios.post('/api/order/update', order).then(function (response) {
            closeProcessing();
            if(response.data && 200 === response.status && response.data.orderNo) {
                $('#processResult').text('儲存訂單成功');

                setTimeout(function() {
                    location.href = '/A/3?customerId=' + order.customerSubId + '&orderNo=' + response.data.orderNo;
                }, 100);

                /*if($('#orderNo').val()) {
                    refreshDetailData(response.data.orderDetailList);
                } else {
                    setTimeout(function(){location.href='/A/5?customer=' + order.customerSubId + '&order_no=' + response.data.orderNo;} , 100);
                }*/
            } else {
                $('#processResult').text('儲存訂單失敗，請確認欄位正確 (1)');
            }
        }).catch(function (error) {
            console.log('=== error:');
            console.log(error);
            closeProcessing();
            $('#processResult').text('儲存訂單失敗，請確認欄位正確 (2)');
        });
    }
    
    // <20190821> FIXED: 調整特配單備註需與主檔備註同步 start 
    function delegateShowDialogSP(row,rowid) {
    	var descApp = $('#descApp').val();
    	showDialogSP(row, descApp, rowid);
    }
    function updateDescApp(descApp) {
    	$('#descApp').val(descApp);
    }
    // <20190821> FIXED: 調整特配單備註需與主檔備註同步 end 
    
    //生產規格同步特配單包裝規格註記
    function syncProductSpec(rowid) {
    	
    	var spDetail = JSON.parse($('#spDetail'+rowid).val());
    	
    	if(spDetail.productSpec){
    		
    		var selectProductSpec = $('#selectProductSpec'+rowid).val();
    		
    		var fproductSpec = productSpecMapping(selectProductSpec);
        	
        	spDetail.productSpec = fproductSpec;
        	
        	$('#spDetail'+rowid).val(JSON.stringify(spDetail));
    		
        	console.log("syncProductSpec success");
    	}
    }

    function changeCodeAndName(row){
        //alert("lineNum"+row);
	    editIndex = $(row).closest('tr').index();
        editIndex = editIndex-2;
        $('#codeId'+editIndex).html( $('#searchProductCode').val() + '<img  src="../img/icon_edit.png"   onclick="confirmChangeCode(this);"   >'+ '<input type="hidden" id="phaseId'+editIndex+'" name="phase" value="' + $('#searchProductPhase').val() + '" />' );
        $('#nameId'+editIndex).html( $('#searchProductName').val() );

<!--        $('#phaseId'+editIndex).text($('#searchProductPhase').val());-->
         updateOneProductPriceTrigger(editIndex, $('#searchProductCode').val())

        $('#selectProductPackage'+editIndex).val($('#selectProductPackage').val());
        $('#package'+editIndex).val($('#selectProductPackage').val());


        //更新特配料相關數字 2021/08/08
        updateProductTPCNumberTrigger(editIndex);


        $('#searchProductCode').val('');
        $('#searchProductName').val('');


    }

        //更新特配料  特配總價,飼料扣藥重,特配金額
    function updateProductTPCNumberTrigger(rowid) {

        //首先取得特配Json的資料, 並轉換為物件
<!--        var tpcJSON = $('#spDetail'+editIndex).val();-->
<!--        var tpcJSON = $('#spDetail').val();-->

<!--            alert($("input[name='spDetail']")[editIndex].value);-->
<!--        var tpcJSON = $("input[name='spDetail']")[editIndex].value;-->

        var tpcJSON = $('#spDetail'+rowid).val();

        //alert(tpcJSON);

         if(isEmptyObject(tpcJSON) ){
            //alert("no data");
            return false;
         }


        //轉換為物件
        var tpcData = $.parseJSON(tpcJSON);

        if(!tpcData.hasOwnProperty('drugCompanyList')){
            //alert("no no ");
           return false;
        }
        var tpcDrugCompanyList = tpcData.drugCompanyList;

<!--         if(isEmptyObject(tpcDrugCompanyList) ){-->
<!--            //alert("no data");-->
<!--            return false;-->
<!--         }-->


        //三個重要結果參數 tpcTotalPrice(特配總價),  tpcCodeWeight(飼料扣藥重), tpcSpPrice(特配金額)

        var tpcTotalPrice=0;
        var tpcCodeWeight=0;
        var tpcSpPrice=0;

        //取得飼料重要參數
        var prodPackagePrice = $('#selectPackagePrice'+rowid).val();
        var prodTotalWeight  = $('#selectProductWeight'+rowid).text();

        //計算出資料清單
        var numOfTpcData = tpcDrugCompanyList.length;
　      //alert("numOfTpcData:"+numOfTpcData);
        for (var i = 0; i < numOfTpcData; i++) {

            var tpcDrugCom = tpcDrugCompanyList[i];

            tpcDrugCom.totalCount = $('#selectProductWeight'+rowid).text();

            //該藥預計的使用量 kg
            var tpcTotalCount = parseInt(tpcDrugCompanyList[i]["totalCount"]);
            //該藥每公斤預計的金額
            var tpcPrice = parseInt(tpcDrugCompanyList[i]["price"]);
            //公式：該藥預計的使用量 * 該藥每公斤預計的金額 = 該筆特配的價格

            tpcTotalPrice = tpcTotalPrice + (tpcTotalCount * tpcPrice);
            //alert("tpcTotalPrice:"+tpcTotalPrice);
            //這個數字會算出 用藥總重(累計)
            tpcCodeWeight = tpcCodeWeight + tpcTotalCount;

        }

        //特配總價 用藥總價 x 頓數
        tpcTotalPrice = tpcTotalPrice * prodTotalWeight;

        //飼料扣藥重
        //公式:前一飼料商品的單位價格 每package費用  要四捨五入
        tpcCodeWeight = tpcCodeWeight * prodPackagePrice * prodTotalWeight;

        //特配金額
        tpcSpPrice  = tpcTotalPrice - tpcCodeWeight ;

        tpcData.totalPrice = tpcTotalPrice;
        tpcData.codeWeight = tpcCodeWeight;
        tpcData.spPrice = tpcSpPrice;
        //再轉為 json存回欄位 ,結束
        var tpcDataResult = JSON.stringify(tpcData);

        $('#spDetail'+rowid).val(tpcDataResult);
    }



    function isEmptyObject(e) {
        var t;
        for (t in e)
            return !1;
        return !0
    }

     function confirmChangeCode(row) {


        if('' ===$('#searchProductCode').val() || '' === $('#searchProductName').val()) {
            alert('修改飼料編號請先在新增列填上編號、名稱及包裝');
            return false;
        }

        var yes = confirm('你確定修改飼料編號嗎？');

        if (yes) {
            //alert('你按了確定按鈕');
            changeCodeAndName(row);
        } else {
            //alert('你按了取消按鈕');
        }




     }


</script>

<!-- 頁腳 -->
<footer th:replace="fragments/footer :: footer"/>

</body>
</html>
