<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
    <div class="tableContent print">
        <p class="title" th:utext="${'訂單編號：E_' + orderData.orderNo + '<span>建單日期：' + orderData.createTimeDisplay + '</span>'}"></p>
        <div class="content">
            <div class="row">
                <div class="col col-xs-4">
                    <p>客戶編號</p>
                    <span th:text="${customer[0].customerSubId}"></span>
                </div>
                <div class="col col-xs-4">
                    <p>客戶姓名</p>
                    <span th:text="${customer[0].customerSubName}"></span>
                </div>
                <div class="col col-xs-4">
                    <p>客戶電話</p>
                    <span th:text="${customer[0].phone}"></span>
                </div>
                <div class="col col-xs-4">
					<p>訂單來源</p>
					<span th:text="${orderTypeCode}"></span>
				</div>
				<div class="col col-xs-4">
					<p>下單人員</p>
					<span th:text="${loginUser.userName}"></span>
				</div>
				<div class="col col-xs-4">
					<p>PO CODE</p>
					<span>&nbsp</span>
				</div>
				<div class="col col-xs-4">
					<p>訂單出貨日期</p>
					<span th:text="${orderData.deliveryDateDisplay}"></span>
				</div>
				<div class="col col-xs-4">
					<p>訂單出貨時間</p>
					<span th:text="${orderData.deliveryTimeDisplay}"></span>
				</div>
				<div class="col col-xs-4">
					<p>送貨地點</p>
					<span th:text="${shipToSelected}"></span>
				</div>
				<div class="col col-xs-12">
					<p>客戶備註提醒</p>
					<pre th:if="${customerQuota}"
						 th:each="quota : ${customerQuota}"
						 th:utext="${quota.note}+'<br />'"></pre>
				</div>
				<div class="col col-xs-12">
					<p>訂單註記APP</p>
<!-- 					<pre id="descApp" th:text="${orderData} ? ${orderData.descApp} : ''"></pre> -->
					<pre id="descApp" th:text="${descApp} ? ${descApp} : ''"></pre>
				</div>
				<div class="col col-xs-12">
					<p>訂單註記WEB</p>
					<pre th:text="${orderData} ? ${orderData.descWeb} : ''"></pre>
				</div>
				<div class="col col-xs-12">
					<p>memo</p>
					<input id="memo"  type="hidden" th:value="${customer[0].memo}"/>
					<div   id="memo-list">
					</div>
				</div>
                <div class="col col-xs-12">
                    <p>訂單內容</p>
                    <div>
                        <table class="td_left_2">
                            <tr>
                                <th width="8%">編號</th>
                                <th width="20%">飼料名稱</th>
                                <th width="12%">散裝/包裝</th>
                                <th width="8%">噸數/包數</th>
                                <th width="8%">規格</th>
                                <th width="12%">總重 (單位：頓)</th>
                                <th width="17%">特配單/工廠</th>
                                <th width="10%">運輸車種</th>
                            </tr>
                            
							<tr th:each="detail : ${orderData} ? ${orderData.orderDetailList} : null">
								<td th:text="${detail.code}"></td>
								<td th:text="${detail.name}"></td>
								<td th:text="${detail.unit}"></td>
								<td th:text="${detail.count}"></td>
								<td th:text="${detail.spec}"></td>
								<td th:text="${detail.weight}"></td>

								<td th:if="${detail.detailSP.id}" th:text="${detail.detailSP.value + '_SP' + detail.detailSP.id}"></td>
								<td th:unless="${detail.detailSP.id}">-</td>
								<td th:text="${detail.vehicleName}"></td>
							</tr>
                        </table>
                    </div>
                </div>
                <div class="col col-xs-12">
                    <p>修改紀錄</p>
					<div>
						<ul>
							<li th:each="log : ${orderData.modifyLogList}"
								th:text="${log}"></li>
						</ul>
					</div>
                </div>
            </div>
        </div>
    </div>

	<script th:inline="javascript">

		Date.prototype.yyyymmdd = function () {
			var mm = this.getMonth() + 1; // getMonth() is zero-based
			var dd = this.getDate();

			return [this.getFullYear(),
				(mm > 9 ? '' : '0') + mm,
				(dd > 9 ? '' : '0') + dd
			].join('-');
		};

		$(document).ready(function () {
			var today = new Date().yyyymmdd();
			if ($("#memo").val()) {
				var memoList = JSON.parse($("#memo").val());

				console.log("memoList", memoList);
				if (memoList.length > 0) {
					for (let memoListKey in memoList) {
						if (today <= memoList[memoListKey].memoEnd) {
							$("#memo-list").append(
									'<pre>' + memoList[memoListKey].memoStart + "～" + memoList[memoListKey].memoEnd + "   " + memoList[memoListKey].memoTxt + "</pre>"
							)
						}
					}
				}
			}
		});
	</script>
</body>

</html>
