<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
    <div class="tableContent print">
        <p class="title" th:utext="${'特配單編號：SP_' + spDetail.id + '<span>建單日期：' + spDetail.createDate + '</span>'}"></p>
        <div class="content">
            <div class="row">
                <div class="col col-xs-9">
                    <p>訂單編號</p>
                    <span th:text="${'E_' + orderData.orderNo}"></span>
                </div>
				
				<div class="col col-xs-3">
					<p>出貨工廠</p>
					<span th:text="${spDetail.value}"></span>
				</div>
				
                <div class="col col-xs-3">
					<p>訂單出貨日期</p>
					<span th:text="${orderData.deliveryDateDisplay}"></span>
				</div>
				<div class="col col-xs-3">
					<p>訂單出貨時間</p>
					<span th:text="${orderData.deliveryTimeDisplay}"></span>
				</div>
				<div class="col col-xs-3">
					<p>特配出貨日期</p>
					<span th:text="${spDetail.deliveryDateDisplay}"></span>
				</div>
				<div class="col col-xs-3">
					<p>特配出貨時間</p>
					<span th:text="${spDetail.deliveryTimeDisplay}"></span>
				</div>
				
				<div class="col col-xs-3">
					<p>客戶編號</p>
                    <span th:text="${customer[0].customerSubId}"></span>
				</div>
				<div class="col col-xs-3">
					<p>客戶姓名</p>
                    <span th:text="${customer[0].customerSubName}"></span>
				</div>
				<div class="col col-xs-3">
					<p>使用階段</p>
					<span th:text="${orderDetail.phase}"></span>
				</div>
				<div class="col col-xs-3">
					<p>飼養規模</p>
					<span th:text="${feedingScale.feedingScale}"></span>
				</div>
                <div class="col col-xs-12">
                <p>客戶特配提醒</p>
                <pre th:text="${feedingScale.note}"></pre>
                </div>
                <div class="col col-xs-12">
                    <p>包裝規格註記</p>
                    <pre th:text="${orderDetail.vehicleName}"></pre>
                </div>

                <div class="col col-xs-3">
					<p>飼料編號</p>
					<span th:text="${orderDetail.code}"></span>
				</div>
				<div class="col col-xs-3">
					<p>飼料名稱</p>
					<span th:text="${orderDetail.name}"></span>
				</div>
				<div class="col col-xs-3">
					<p>散裝/包裝</p>
					<span th:text="${orderDetail.unit}"></span>
				</div>
				<div class="col col-xs-3">
					<p>噸數/包數</p>
					<span th:text="${orderDetail.count}"></span>
				</div>

                <div class="col col-xs-6">
                    <p>包裝規格註記</p>
                    <th:block th:switch="${spDetail.productSpec}">
                        <span th:case="'1'">粒料 "PL" ,注意粒度</span>
                        <span th:case="'2'">粉料"ML"</span>
                        <span th:case="'0'">碎粒 "CR"</span>
                        <span th:case="'3'">碎粒特細 間隙0.8MM</span>
                        <span th:case="'4'">大碎 間隙2.5MM</span>
                        <span th:case="'5'">小碎</span>
                        <span th:case="'6'">2.5MM製粒,注意粒度</span>
                        <span th:case="'7'">3.5MM製粒,注意粒度</span>
                        <span th:case="'8'">3.5mm製粒長度切0.5公分</span>
                        <span th:case="'9'">CR 間隙       MM</span>
                        <span th:case="'10'">CR間隙2.5MM，注意碎粒度</span>
                        <span th:case="'11'">抽91玉米換92玉米</span>
                        <span th:case="'12'">粒料.長度切短</span>
                        <span th:case="'13'">粒料.長度切到最短</span>
                        <span th:case="'14'">4.0MM製粒(東農)</span>
                        <span th:case="'15'">2.6MM製粒</span>
                    </th:block>

                </div>
				<div class="col col-xs-6">
                    <p>生產線註記</p>
                    <th:block th:switch="${spDetail.productLineNote}">
                        <span th:case="'1'">空白線生產</span>
                        <span th:case="'3'">有藥線生產</span>
                        <span th:case="'13'">空白線生產，第二台生產</span>
                        <span th:case="'14'">噸數出足,不過篩</span>
                        <span th:case="'6'">抽91玉米換92玉米</span>
                        <span th:case="'10'">待自備藥入廠才做料</span>
                        <span th:case="'11'">噸數出足不可少</span>
                        <span th:case="'4'">標籤註明</span>
                        <span th:case="'7'">生產前台避開球蟲料別</span>
<!--                         <span th:case="'2'">完全空白線生產</span> -->
<!--                         <span th:case="'5'">待LAB化驗品管OK才出貨</span> -->
<!--                         <span th:case="'8'">絕不超過噸數</span> -->
<!--                         <span th:case="'9'">品檢+PSI+取樣2KG</span> -->
<!--                         <span th:case="'12'">注意粒度 成品過篩</span> -->
                    </th:block>
                </div>
                
                <div class="col col-xs-12">
                    <p>症狀</p>
                    <div>
                        <input type="checkbox" th:checked="${symptom1}" disabled id="symptom1"/><label for="symptom1">咳嗽</label>
                        <input type="checkbox" th:checked="${symptom2}" disabled id="symptom2"/><label for="symptom2">喘</label>
                        <input type="checkbox" th:checked="${symptom3}" disabled id="symptom3"/><label for="symptom3">下痢</label>
                        <input type="checkbox" th:checked="${symptom4}" disabled id="symptom4"/><label for="symptom4">腸炎</label>
                        <input type="checkbox" th:checked="${symptom5}" disabled id="symptom5"/><label for="symptom5">流鼻涕</label>
                        <input type="checkbox" th:checked="${symptom6}" disabled id="symptom6"/><label for="symptom6">驅蠅</label>
                        <input type="checkbox" th:checked="${symptom7}" disabled id="symptom7"/><label for="symptom7">驅虫</label>
                        <input type="checkbox" th:checked="${symptom8}" disabled id="symptom8"/><label for="symptom8">漿膜炎</label>
                        <input type="checkbox" th:checked="${symptom9}" disabled id="symptom9"/><label for="symptom9">白冠</label>
                        <input type="checkbox" th:checked="${symptom10}" disabled id="symptom10"/><label for="symptom10">球虫</label>
                        <input type="checkbox" th:checked="${symptom11}" disabled id="symptom11"/><label for="symptom11">其他</label>
                        <b>請恪遵停藥期</b>
                    </div>
                </div>
                <div class="col col-xs-12">
                    <p>特配單<br/>生產備註</p>
<!--                     <pre th:text="${spDetail.productNote}"></pre> -->
                    <pre th:text="${descApp} ? ${descApp} : ''"></pre>
                </div>
            </div>
            <div class="row multi">
                <div class="col col-xs-12 medication">
                    <table class="td_left_2 td_left_8">
                        <tr>
                            <th colspan="9"><p>公司藥</p><span>特配總價 <b th:text="${spDetail.totalPrice}"></b> 元　　　飼料扣藥重 <b th:text="${spDetail.codeWeight}"></b>　　　特配金額 <b th:text="${spDetail.spPrice}"></b> 元</span></th>
                        </tr>
                        <tr>
                            <th width="8%">原料代號</th>
                            <th width="20%">特配名稱</th>
                            <th width="10%">每1噸用量(KG)</th>
                            <th width="10%">每2噸用量(KG)</th>
                            <th width="10%">建議/最高劑量</th>
                            <th width="5%">總量</th>
                            <th width="8%">停藥期天數</th>
                            <th width="22%">特配備註</th>
                        </tr>
                        <tr th:each="detail : ${spDetail.drugCompanyList}">
                            <td th:text="${detail.code}"></td>
                            <td th:text="${detail.name}"></td>
                            <td th:text="${detail.count1kg}"></td>
                            <td th:text="${detail.count2kg}"></td>
                            <td th:text="${detail.recommend }"></td>
                            <td th:text="${detail.totalCount}"></td>
                            <td th:text="${detail.days}"></td>
                            <td th:text="${detail.note}"></td>
                        </tr>
                    </table>
                    <table class="td_left_2 td_left_8">
                        <tr>
                            <th colspan="9"><p>自備藥</p></th>
                        </tr>
                        <tr>
                            <th width="8%">原料代號</th>
                            <th width="20%">特配名稱</th>
                            <th width="10%">每1噸用量(KG)</th>
                            <th width="10%">每2噸用量(KG)</th>
                            <th width="10%">建議/最高劑量</th>
                            <th width="5%">總量</th>
                            <th width="8%">停藥期天數</th>
                            <th width="22%">特配備註</th>
                        </tr>
                        <tr th:each="detail : ${spDetail.drugSelfList}">
                            <td th:text="${detail.code}"></td>
                            <td th:text="${detail.name}"></td>
                            <td th:text="${detail.count1kg}"></td>
                            <td th:text="${detail.count2kg}"></td>
                            <td th:text="${detail.recommend }"></td>
                            <td th:text="${detail.totalCount}"></td>
                            <td th:text="${detail.days}"></td>
                            <td th:text="${detail.note}"></td>
                        </tr>
                    </table>
                </div>
                <div class="col col-xs-12" style="padding-top: 1.35em;">
                    <p style="width: auto">編制</p>
                    <input type="text" disabled th:value="${spDetail.noteA}">
                    <p style="width: auto">審核</p>
                    <input type="text" disabled th:value="${spDetail.noteB}">
                    <p style="width: auto">傳真編號</p>
                    <input type="text" disabled th:value="${spDetail.noteC}">
                </div>
            </div>
            <div class="row">
                <div class="col col-xs-12">
                    <p>修改紀錄</p>
                    <div>
                        <ul>
                            <li th:each="log : ${spDetail.modifyLogs}"
                                th:text="${log}"></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>