<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header"/>
<body>
<nav th:replace="fragments/navBar :: navBar"/>

<!-- 導覽麵包屑 -->
<section class="section-wrap">
    <div class="container">
        <h3>查詢客戶</h3>
        <ul>
            <li>首頁</li>
            <li>客戶管理</li>
            <li>查詢客戶</li>
        </ul>
    </div>
</section>

<!-- 主內容 -->
<article class="article-wrap">
    <div class="container">
        <form id="searchForm" method="post" action="/B/1">
            <input type="hidden" id="pageNumber" name="page" th:value="${page.number}"/>
            <input type="hidden" id="pageSize" name="size" th:value="${page.size}"/>
            <div class="searchBar">
                <div>
                    <span>客戶編號｜</span>
                    <input type="text" id="customerId" name="customerId" th:value="${condition.customerId}"
                           maxlength="8" class=""/>
                </div>
                <div>
                    <span>客戶姓名｜</span>
                    <input type="text" id="customerName" name="customerName" th:value="${condition.customerName}"
                           maxlength="20" class=""/>
                </div>
                <div>
                    <span>TM Code｜</span>
                    <input type="text" id="tmcode" name="tmcode" th:value="${condition.tmcode}" maxlength="5" class=""/>
                </div>
                <input type="button" onclick="performSearch('doNewSearch');" value="查詢"/>
            </div>
            <div class="searchError" id="searchErrorDiv" style="display:none">
                <ul>
                    <li id="errorMessage"></li>
                </ul>
                <img src="../img/ico_error.png"/>
            </div>

            <div class="pager" th:fragment="pager">
                共 <span th:text="${page.totalElements}"></span> 筆&nbsp;每頁筆數
                <select id="selectPageSize" th:value="${page.size}" onchange="performSearch('noNewSearch')">
                    <option value="10" th:selected="${page.size} == 10">10 筆</option>
                    <option value="20" th:selected="${page.size} == 20">20 筆</option>
                    <option value="30" th:selected="${page.size} == 30">30 筆</option>
                    <option value="40" th:selected="${page.size} == 40">40 筆</option>
                    <option value="50" th:selected="${page.size} == 50">50 筆</option>
                </select>
                <input type="text" th:value="${page.number+1}"/>&nbsp;/&nbsp;<span th:text="${page.totalPages}"></span>
                <i th:if="${page.hasPrevious()}" class="glyphicon glyphicon-chevron-left" style="cursor: pointer"
                   th:data="${page.number-1}" id="prevPage" onclick="performSearch('noNewSearch','prevPage')"></i>
                <i th:if="${page.hasNext()}" class="glyphicon glyphicon-chevron-right" style="cursor: pointer"
                   th:data="${page.number+1}" id="nextPage" onclick="performSearch('noNewSearch','nextPage')"></i>
                <script>
                    var customerIdRegExp = /^[0-9]{0,8}$/;
                    var tmcodeRegExp = /^[0-9]{0,5}$/;
                    $("#searchErrorDiv").hide();
                    $('#errorMessage').text('');
                    $('#customerId').attr('class','');
                    $('#customerName').attr('class','');
                    $('#tmcode').attr('class','');

                    function performSearch(type,page_id) {
                        if(type=='doNewSearch' && $('#customerId').val() =='' && $('#customerName').val()=='' && $('#tmcode').val()==''){
                            $("#searchErrorDiv").show();
                            $('#errorMessage').text("請填寫至少一項搜尋條件");
                            $('#customerId').attr('class','error');
                            $('#customerName').attr('class','error');
                            $('#tmcode').attr('class','error');
                            return false;
                        }
                        if($('#customerId').val()!='' && !customerIdRegExp.test($('#customerId').val())){
                            $('#errorMessage').text('');
                            $("#searchErrorDiv").show();
                            $('#errorMessage').text("請輸入正確的客戶編號");
                            $('#customerId').attr('class','error');
	                        return false;
                           }
                        if($('#tmcode').val()!='' && !tmcodeRegExp.test($('#tmcode').val())){
                            $('#errorMessage').text('');
                            $("#searchErrorDiv").show();
                            $('#errorMessage').text("請輸入正確的TM Code");
                            $('#tmcode').attr('class','error');
                            return false;
                        }
                        if(page_id) {
                            $('#pageNumber').val($('#'+page_id).attr('data')*1);
                        }
                        $('#pageSize').val($('#selectPageSize').val()*1);
                        $('#searchForm').submit();
                    }

                </script>
            </div>

            <table class="td_left_7 td_left_8">
                <tr>
                    <th>項目</th>
                    <th>主帳號客編</th>
                    <th>主帳號客戶姓名</th>
                    <th>子帳號客編</th>
                    <th>子帳號客戶姓名</th>
                    <th>客戶電話</th>
                    <th>TM CODE</th>
                    <th>送貨地點</th>
                    <th>Quota備註</th>
                    <th>特配單備註</th>
                    <th>飼養規模</th>
                    <th>memo管理</th>
                </tr>
                <tr th:each="customer,iter : ${customerList}">
                    <td th:text="${iter.index+1 + page.size * page.number} "/>
                    <td th:text="${customer.customerMainId}"/>
                    <td th:text="${customer.customerMainName}"/>
                    <td th:text="${customer.customerSubId}"/>
                    <td th:text="${customer.customerSubName}"/>
                    <td th:text="${customer.phone}"/>
                    <td th:text="${customer.tmcode}"/>
                    <td th:text="${customer.addressShipTo}"/>
                    <td th:utext="${customer.customerQuota.note}"/>
                    <td th:utext="${customer.customerFeedingscale.note}"/>
                    <td th:text="${customer.customerFeedingscale.feedingScale}"/>
                    <td>
                        <input type="button" class="memo-button" onclick="openMemoManager(this)" value="memo管理" />
                        <input name="memoList" type="hidden" th:value="${customer.memo}">
                    </td>
                </tr>

            </table>
        </form>
    </div>
</article>


<!-- memoDialog -->
<div class="dialog memoDialog">
    <div class="dialog-modal subDialog smallView">
        <div class="tableContent">
            <p class="title" id="pdDetailNo"></p>
            <div class="content">
                <div class="row">

                    <div class="col col-xs">
                        <h2>MEMO管理</h2>
<!--                        <input id="memoTxt" type="text" >-->
                    </div>
                    <div class="col col-xs-12">
                        <p></p>
                        <select id="memo-select" multiple onchange="memoChange()">
                        </select>
                    </div>
                </div>
                <div class="row" style="border-top: 6px solid #B1C58D;margin-top:10px">
                    <div class="col col-xs-6" style="margin-top:5px">
                        <p>開始日期</p>
                        <input type="date" id="memoStart" onchange="memoStartChange()">
                    </div>

                    <div class="col col-xs-6">
                        <p>截止時間</p>
                        <input type="date" id="memoEnd" onchange="memoEndChange()">
                    </div>


                    <div class="col col-xs-12">
                        <p>內容</p>
                        <textarea id="memoTxt" onkeyup="texareaUpdateToJson()"></textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-xs-12 right">
                        <button class="orange" id="memo-delete" onclick="deleteMemo()" >刪除</button>
                        <button class="red" onclick="createNewMemo()">新增</button>
                        <button class="gray" onclick="closeMemoDialog(false)">關閉</button>
                        <button onclick="closeMemoDialog(true)">儲存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dialog Processing">
    <div class="dialog-modal info">
        <div class="icons">
            <div class="icon">
                <div class="sa">
                    <div class="sa-body"></div>
                    <div class="sa-dot"></div>
                </div>
            </div>
        </div>
        <div class="dialog-content">
            <p class="title">正在更新memo資料中</p>
            <pre class="txt_center">正在儲存memo資料，請勿關閉網頁！</pre>
        </div>
    </div>
</div>

<!-- 頁腳 -->
<footer th:replace="fragments/footer :: footer"/>


<script>
    var expiredMemoList = []
    var memoList = [];
    var customerMainId = "";
    var memoSelectIndex = 0;

    Date.prototype.yyyymmdd = function () {
        var mm = this.getMonth() + 1; // getMonth() is zero-based
        var dd = this.getDate();

        return [this.getFullYear(),
            (mm > 9 ? '' : '0') + mm,
            (dd > 9 ? '' : '0') + dd
        ].join('-');
    };

    function openMemoManager(row) {

        $("#memo-delete").hide();
        customerMainId = $(row).closest('tr').find('td:eq(1)').text();
        customerSubId =  $(row).closest('tr').find('td:eq(3)').text();
        var memoString = $(row).closest('tr').find('input[name="memoList"]').val();

        $('.memoDialog').addClass('show-dialog');
        $('body').addClass('sw_active');

        if (memoString !== "" || memoString.length > 0) {
            memoList = JSON.parse($(row).closest('tr').find('input[name="memoList"]').val());
            // 1.	MEMO的時間如果已經超過顯示期間, 資料在資料庫不刪除,
                // 但是將不在顯示畫面中

            storeExpired();
            // 處理完過期如果沒有資料的話
            if(memoList.length==0){
                // 給一個空的
                createNewMemo();
            }else{
                memoSelectListUpdate();
                $("#memoStart").val(memoList[0].memoStart);
                $("#memoEnd").val(memoList[0].memoEnd);

                $("#memoTxt").val(memoList[0].memoTxt);
                $("#memo-delete").show();
            }

        } else {
            // 給一個空的
            createNewMemo();
        }
    }

    function createNewMemo() {
        var date = new Date();
        var nextDate = new Date();
        updateMemoJsonWithChange();
        memoSelectIndex = 0;
        nextDate.setDate(date.getDate() + 1)
        //  新增一組memo
        memoList.unshift({
            memoTxt: "memo預設文字",
            memoStart: date.yyyymmdd(),
            memoEnd: nextDate.yyyymmdd()
        });

        $("#memoStart").val(memoList[0].memoStart);
        $("#memoEnd").val(memoList[0].memoEnd);
        $("#memoTxt").val(memoList[0].memoTxt);
        $('#memo-delete').show();
        memoSelectListUpdate();
    }

    function closeMemoDialog(do_save) {

        $(".memoDialog").removeClass("show-dialog");
        $("body").removeClass("sw_active");
        if (do_save) {
            //  避免現在這一筆沒有更新到
            updateMemoJsonWithChange();
            // 把過期的放回來
            if(expiredMemoList.length>0){
                for (let i = 0; i < expiredMemoList.length; i++) {
                    memoList.push(expiredMemoList[i]);
                }
            }

            var memoData = {
                customerMainId: customerMainId,
                customerSubId:customerSubId,
                memoJson: memoList.length > 0 ? JSON.stringify(memoList) : ''
            };
            showProcessing();
            axios.post('/api/customer/saveMemo', memoData).then(function (response) {
                console.log("response",response);
                if (response.data && 200 === response.status) {

                    if(response.data!=""){
                        performSearch('doNewSearch');
                        closeProcessing();
                        $('#memo-delete').hide();
                    }else{
                        performSearch('doNewSearch');
                        closeProcessing();
                        var today = new Date();
                        alert("儲存失敗，請聯絡工程師 ("+today.yyyymmdd()+")");
                    }
                    $('#memo-delete').hide();
                }else{
                    performSearch('doNewSearch');
                    closeProcessing();
                    var today = new Date();
                    alert("儲存失敗，請聯絡工程師 ("+today.yyyymmdd()+")");
                }
            })

        } else {
            memoList = []
            expiredMemoList = []
            $("#memoStart").val("");
            $("#memoEnd").val("");
            $("#memoTxt").val("");
        }
    }

    function memoSelectListUpdate() {
        $("#memo-select").empty();

        for (let memoListKey in memoList) {
            // console.log("memoListKey:", memoListKey);
            // console.log(memoList[memoListKey]);
            $("#memo-select").append(
                '<option value="' + memoListKey + '" >' + memoList[memoListKey].memoStart + '-' +
                memoList[memoListKey].memoEnd + '-' + memoList[memoListKey].memoTxt + '</otpion>'
            )
        }
    }

    function memoChange() {

        //  上一筆的要記得 更新JSON資料
        var index = document.getElementById("memo-select").selectedIndex;
        // console.log("memoChange", index);
        if (memoSelectIndex === index) {

        } else {
            // 把資料放到已編輯的資料
            updateMemoJsonWithChange()
        }
        memoSelectIndex = index;
        $("#memoStart").val(memoList[index].memoStart);
        $("#memoEnd").val(memoList[index].memoEnd);

        $("#memoTxt").val(memoList[index].memoTxt);
    }

    function updateMemoJsonWithChange() {
        if (memoList.length > 0) {
            memoList[memoSelectIndex].memoStart = $("#memoStart").val();
            memoList[memoSelectIndex].memoEnd = $("#memoEnd").val();
            memoList[memoSelectIndex].memoTxt = $("#memoTxt").val();
        }
    }

    function texareaUpdateToJson() {
        // console.log("texareaUpdateToJson ", memoSelectIndex);
        memoList[memoSelectIndex].memoTxt = $("#memoTxt").val();
        memoSelectListUpdate()
    }

    function deleteMemo() {
        var confirmDelete = confirm("確定要將此memo刪除？");
        if (confirmDelete) {
            memoList.splice(memoSelectIndex, 1);
            memoSelectIndex = 0;
            if (memoList.length > 0) {
                // 預設選回第一筆
                $("#memoStart").val(memoList[0].memoStart)
                $("#memoEnd").val(memoList[0].memoEnd);
                $("#memoTxt").val(memoList[0].memoTxt);
            } else {
                // 清空
                $("#memoStart").val('')
                $("#memoEnd").val('');
                $("#memoTxt").val('');
                $('#memo-delete').hide();
            }
            memoSelectListUpdate()
        }
    }

    function showProcessing() {
        $('#processResult').css('display', 'none');

        $('.Processing').addClass('show-dialog');
    }

    function closeProcessing() {
        $('#processResult').css('display', 'block');
        $('.Processing').removeClass('show-dialog');
    }

    // 將過期的存起來
    function storeExpired(){

        var today = new Date().yyyymmdd();
        for (let i = 0; i < memoList.length; i++) {
            if (memoList[i].memoEnd < today) {
                // 存起來
                expiredMemoList.push(memoList[i]);
                // 移除 for -1
                memoList.splice(i, 1);
                i--;
            }
        }
    }

    function memoStartChange(){
        updateMemoJsonWithChange();
        memoSelectListUpdate();
    }

    function memoEndChange(){
        updateMemoJsonWithChange();
        memoSelectListUpdate();
    }


</script>

</body>
</html>
