<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header"/>
<body>
<nav th:replace="fragments/navBar :: navBar"/>

<!-- 導覽麵包屑 -->
<section class="section-wrap">
    <div class="container">
        <h3>更新客戶主檔</h3>
        <ul>
            <li>首頁</li>
            <li>客戶管理</li>
            <li>更新客戶主檔</li>
        </ul>
    </div>
</section>

<!-- 主內容 -->
<form action="/B/3" method="post" id="uploadForm" enctype="multipart/form-data">
    <article class="article-wrap">
        <div class="container">
            <div class="uploadContent">

                <h3>客戶主檔上傳作業</h3>
                <h3 class="status" th:if="${message}">請選擇上傳方式</h3>
                <h3 class="status" th:if="${processResult}">
                    <span th:if="${false == processResult.processResult}">檔案無法處理！請確認上傳項目、上傳方式是否選擇正確</span>
                    <span th:if="${true == processResult.processResult}">上傳成功！</span>
                </h3>
                <p th:if="${null == processResult}">
                    請確認上傳項目、上傳方式，無誤後再操作上傳
                </p>
                <p th:if="${null != processResult and true == processResult.processResult}">
                    總計上傳資料列數：<span th:text="${processResult.originalRowsCount}"></span><br/>
                    更新成功資料列數：<span th:text="${processResult.successRowsCount}"></span><br/>
                    更新失敗資料列數：<span th:text="${processResult.failedRowsCount}"></span><br/>
                    更新失敗資料列：<span th:text="${processResult.failedRowsDetail}"></span>
                </p>
                <div class="row">
                    <div class="col col-xs-12">
                        <p>上傳項目｜</p>
                        <div>
                            <input type="radio" name="type" id="opt1" checked/><label for="opt1">客戶_帳號</label>
                        </div>
                    </div>
                    <div class="col col-xs-12">
                        <p>上傳方式｜</p>
                        <div>
                            <input type="radio" name="mode" id="mode1" value="1" checked/><label for="mode1">依據現有資料，更新或新增。</label>
                            <input type="radio" name="mode" id="mode2" value="2"/><label
                                for="mode2">刪除現有資料，重新上傳。</label>
                        </div>
                    </div>
                    <div class="col col-xs-12">
                        <p>選擇檔案｜</p>
                        <div>
                            <input type="file" name="file" style="display: none;" id="file"
                                   onchange="updateFileName();"/>
                            <input type="text" disabled id="fileName"/>
                            <label class="file" for="file" style="
                            background-color: #8AA955;
  color: #FFFFFF;
  border: 0;
  border-radius: 3px;
  margin: 1em 0 0;
  padding: 0.4em 0.5em;
  line-height: normal;
  vertical-align: middle;
  display: inline; cursor: pointer;">瀏覽</label>
                        </div>
                    </div>
                    <div class="col col-xs-12">
                        <input type="button" onclick="showConfirmDialog();" value="上傳" />
                    </div>
                </div>
            </div>
        </div>
    </article>
</form>
<footer th:replace="fragments/footer :: footer"/>
<!-- 成功訊息  -->  <!-- show-dialog控制是否顯示＆動畫 -->
<div class="dialog B3 confirm-dialog">
    <div class="dialog-modal warning">
        <div class="icons">
            <div class="icon">
                <div class="sa">
                    <div class="sa-body"></div>
                    <div class="sa-dot"></div>
                </div>
            </div>
        </div>
        <div class="dialog-content">
            <p class="title">確定上傳？</p>
            <pre class="txt_center">你選擇「 <span id="chooseMode">更新或新增 </span>」「<span id="chooseType"> 客戶_帳號 </span>」</pre>
            <pre class="txt_center">點選確定後即無法恢復舊資料！</pre>
            <div class="btns">
                <button onclick="closeDialog('confirm-dialog')">取消</button>
                <button onclick="formSubmit();">確定</button>
            </div>
        </div>
    </div>
</div>
<div class="loaderMask">
    <div class="preloader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<script>
    function showConfirmDialog() {
        $('#chooseMode').text($('input[name=mode]:checked').next('label:first').html()) ;
        $('#chooseType').text($('input[name=type]:checked').next('label:first').html()) ;
        showDialog('confirm-dialog');
    }

function formSubmit() {
    closeDialog('confirm-dialog');

    var xlsxType = /\.(xlsx)$/i;
    var sizeLimit = 20000000;  //上傳上限，單位:byte
    if ($('#file').val() != "" ) {
        if(!xlsxType.test($('#file').val())){
             alert("請選擇xlsx檔案上傳");
		     return false;
        }
        if($('#file')[0].files[0].size > sizeLimit){
            alert("上傳檔案超過2M");
		    return false;
        }
    }else{
        alert("請選擇檔案上傳");
        return false;
    }
    $('#uploadForm').submit();
    showDialog('loaderMask');
}

function updateFileName() {
    $('#fileName').val($('#file').val());
}
$(document).ready(function() {

});

</script>

<!-- 頁腳 -->

</body>
</html>