<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header"/>

<body>
<nav th:replace="fragments/navBar :: navBar"/>

<!-- 導覽麵包屑 -->
<section class="section-wrap">
    <div class="container">
        <h3>產品管理</h3>
        <ul>
            <li>首頁</li>
            <li>產品管理</li>
            <li>產品管理</li>
        </ul>
    </div>
</section>

<!-- 主內容 -->
<article class="article-wrap">
    <div class="container">
        <div class="uploadContent">
            <h3>產品上傳作業</h3>
            <h3 class="status" th:if="${message}">請選擇上傳方式</h3>
            <h3 class="status" th:if="${processResult}">
                <span th:if="${false == processResult.processResult}">檔案無法處理！請確認上傳項目、上傳方式是否選擇正確</span>
                <span th:if="${true == processResult.processResult}">上傳成功！</span>
            </h3>
            <p th:if="${null == processResult}">
                請確認上傳項目、上傳方式，無誤後再操作上傳
            </p>
            <p th:if="${null != processResult and true == processResult.processResult}">
                總計上傳資料列數：<span th:text="${processResult.originalRowsCount}"></span><br/>
                更新成功資料列數：<span th:text="${processResult.successRowsCount}"></span><br/>
                更新失敗資料列數：<span th:text="${processResult.failedRowsCount}"></span><br/>
                更新失敗資料列：<span th:text="${processResult.failedRowsDetail}"></span>
            </p>
            <div class="row">
                <form action="/C/1" method="post" id="uploadForm" enctype="multipart/form-data">
                    <div class="col col-xs-12">
                        <p>上傳項目｜</p>
                        <div>
                            <input type="radio" name="fileType" value="1" checked id="opt1"/><label
                                for="opt1">飼料產品</label>
                            <input type="radio" name="fileType" value="2" id="opt2"/><label for="opt2">飼料產品_常用抽藥</label>
                        </div>
                    </div>
                    <div class="col col-xs-12">
                        <p>上傳方式｜</p>
                        <div>
                            <input type="radio" name="updateType" value="1" checked id="method1"/><label for="method1">依據現有資料，更新或新增。</label>
                            <input type="radio" name="updateType" value="2" id="method2"/><label for="method2">刪除現有資料，重新上傳。</label>
                        </div>
                    </div>
                    <div class="col col-xs-12">
                        <p>選擇檔案｜</p>
                        <div>
                            <input type="file" name="file" style="display: none;" id="file"
                                   onchange="updateFileName();"/>
                            <input type="text" disabled id="fileName"/>
                            <label class="file" for="file" style="
                            background-color: #8AA955;
  color: #FFFFFF;
  border: 0;
  border-radius: 3px;
  margin: 1em 0 0;
  padding: 0.4em 0.5em;
  line-height: normal;
  vertical-align: middle;
  display: inline; cursor: pointer;">瀏覽</label>
                        </div>
                    </div>
                    <div class="col col-xs-12">
                        <input type="button" onclick="showConfirmDialog();" value="上傳"/>
                    </div>
                </form>
            </div>
        </div>
</article>

<!-- 成功訊息  -->  <!-- show-dialog控制是否顯示＆動畫 -->
<div class="dialog C1 confirm-dialog">
    <div class="dialog-modal warning">
        <div class="icons">
            <div class="icon">
                <div class="sa">
                    <div class="sa-body"></div>
                    <div class="sa-dot"></div>
                </div>
            </div>
        </div>
        <div class="dialog-content">
            <p class="title">確定上傳？</p>
            <pre class="txt_center">你選擇「<span id="chooseMode">更新或新增 </span>」<br/>「<span id="chooseType"> 客戶_帳號 </span>」</pre>
            <pre class="txt_center">點選確定後即無法恢復舊資料！</pre>
            <div class="btns">
                <button onclick="closeDialog('confirm-dialog')">取消</button>
                <button onclick="formSubmit();">確定</button>
            </div>
        </div>
    </div>
</div>
<div class="loaderMask">
    <div class="preloader">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

<script>
function showConfirmDialog() {
        $('#chooseMode').text($('input[name=updateType]:checked').next('label:first').html()) ;
        $('#chooseType').text($('input[name=fileType]:checked').next('label:first').html()) ;
        showDialog('confirm-dialog');
    }


function formSubmit() {
    closeDialog('confirm-dialog');

    var xlsxType = /\.(xlsx)$/i;
    var sizeLimit = 20000000;  //上傳上限，單位:byte
    var checkResult = true;
    if ($('#file').val() != "" ) {
        if(!xlsxType.test($('#file').val())){
             alert("請選擇 xlsx 檔案上傳");
		     checkResult = false;
        }
        if($('#file')[0].files[0].size > sizeLimit){
            alert("上傳檔案超過2M");
		    checkResult = false;
        }
    }else{
        alert("請選擇檔案上傳");
        return false;
    }
    if(checkResult == true){
        $('#uploadForm').submit();
        showDialog('loaderMask');
    }
}

function updateFileName() {
    $('#fileName').val($('#file').val());
    $('.status').text('');
}

$(document).ready(function() {

});

















</script>

<!-- 頁腳 -->
<footer th:replace="fragments/footer :: footer"/>

</body>
</html>
