<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header"/>

<body>
<nav th:replace="fragments/navBar :: navBar"/>

<!-- 導覽麵包屑 -->
<section class="section-wrap">
    <div class="container">
        <h3>報表管理</h3>
        <ul>
            <li>首頁</li>
            <li>報表管理</li>
        </ul>
    </div>
</section>

<!-- 主內容客製化CSS -->
<style>
	 .displayOnlyOnOpt3 {
	 	display: none;
	 }
	 .displayOnlyOnBusiness {
	 	display: none;
	 }
</style>

<!-- 主內容 -->
<article class="article-wrap">
    <div class="container">
        <div class="uploadContent">
            <form action="/report/download" method="get" id="reportForm">
                <div class="row">
                    <div class="col col-xs-12">
                        <p>報表類型｜</p>
                        <div class="display-inline">
                            <input type="radio" name="type" id="opt1" value="opt1" checked/><label for="opt1">訂單統計</label>
                            <input type="radio" name="type" id="opt3" value="opt3" /><label for="opt3">APP訂單統計</label>
                        </div>
                        <p></p>
                        <div>
	                        <input type="radio" name="type" id="opt2" value="opt2" /><label for="opt2">用藥統計</label>
                        </div>
                    </div>
                    <div class="col col-xs-12">
                        <p>選擇年份｜</p>
                        <select id="year" name="year">
                        </select>
                    </div>
                    <div class="col col-xs-12">
                        <p>選擇月份｜</p>
                        <select name="month">
                            <option>01</option>
                            <option>02</option>
                            <option>03</option>
                            <option>04</option>
                            <option>05</option>
                            <option>06</option>
                            <option>07</option>
                            <option>08</option>
                            <option>09</option>
                            <option>10</option>
                            <option>11</option>
                            <option>12</option>
                        </select>
                    </div>
                    <div class="col col-xs-12 displayOnlyOnOpt3">
                        <p>下單人員｜</p>
                        <select name="orderType">
                            <option value="customer" selected>客戶</option>
                            <option value="business">業務</option>
                        </select>
                    </div>
						<div class="col col-xs-12 displayOnlyOnOpt3 displayOnlyOnBusiness">
							<p>區域｜</p>
							<select name="tmcode">
								<option value="" selected>全選</option>
								<option th:each="tmcode : ${tmcodes}"
									th:value="${tmcode}"
									th:text="${tmcode}" />
							</select>
						</div>
						<div class="col col-xs-12 displayOnlyOnOpt3">
                        <p>SSCode｜</p>
                        <select name="sscode">
                        	<option value="" selected>全選</option>
                            <option value="S1">S1</option>
                            <option value="S2">S2</option>
                            <option value="S3">S3</option>
                            <option value="S4">S4</option>
                            <option value="S5">S5</option>
                            <option value="S6">S6</option>
                            <option value="S7">S7</option>
                            <option value="S8">S8</option>
                            <option value="S9">S9</option>
                        </select>
                    </div>
                    <div class="col col-xs-12 displayOnlyOnOpt3">
                        <p>畜種｜</p>
                        <select name="livestock">
                        	<option value="" selected>全選</option>
                            <option value="Swine">Swine</option>
                            <option value="Layer">Layer</option>
                            <option value="DG">DG</option>
                            <option value="Other">Other</option>
                        </select>
                    </div>
                    <div class="col col-xs-12">
                        <button onclick="exportReport(event);">匯出</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</article>

<script>

function exportReport(e) {
	e.preventDefault();
    $('#reportForm').submit();
}

$("input[type=radio][value=opt1]").change(function(e) {
	$(".displayOnlyOnOpt3").hide();
});
$("input[type=radio][value=opt2]").change(function(e) {
	$(".displayOnlyOnOpt3").hide();
});
$("input[type=radio][value=opt3]").change(function(e) {
	$(".displayOnlyOnOpt3").show();
	$(".displayOnlyOnBusiness").hide();
});
$("input[type=radio][value=opt3]").change(function(e) {
	$(".displayOnlyOnOpt3").show();
	$(".displayOnlyOnBusiness").hide();
});

$("select[name=orderType]").change(function(e) {
	if (e.target.value == "business") {
		$(".displayOnlyOnBusiness").show();
	}
	else {
		$(".displayOnlyOnBusiness").hide();
	}
});

$(function() {
    //動態產生下拉選單年份
    var date = new Date();
    
    date0 = ''+date.getFullYear();
    date1 = ''+date.getFullYear()-1;
    
    dateOption = ''+
     '<option>'+date0+'</option>'
    +'<option>'+date1+'</option>';
    
    $("#year").append(dateOption);	
    
});

</script>

<!-- 頁腳 -->
<footer th:replace="fragments/footer :: footer"/>

</body>
</html>
