<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header"/>
<body>
<nav th:replace="fragments/navBar :: navBar"/>

<section class="section-wrap">
    <div class="container">
        <h3>WEB帳號列表</h3>
        <ul>
            <li>首頁</li>
            <li>帳號管理</li>
            <li>WEB帳號列表</li>
        </ul>
    </div>
</section>

<!-- 主內容 -->
<article class="article-wrap">
    <div class="container">
        <form id="searchForm" method="post" action="/webaccount">
            <input type="hidden" id="pageNumber" name="page" th:value="${page.number}"/>
            <input type="hidden" id="pageSize" name="size" th:value="${page.size}"/>
            <div class="searchBar">
                <div>
                    <span>帳號｜</span>
                    <input type="text" id="searchAccount" name="account" th:value="${condition.account}" maxlength ="10" class=""/>
                </div>
                <div>
                    <span>名稱｜</span>
                    <input type="text" id="searchUserName" name="userName" th:value="${condition.userName}" maxlength ="5" class=""/>
                </div>
                <div>
                    <span>部門｜</span>
                    <input type="text" id="searchDept" name="dept" th:value="${condition.dept}" maxlength ="10" class=""/>
                </div>
                <input type="button" onclick="performSearch('doNewSearch');" value="查詢" />
            </div>
            <div class="searchError"  id="searchErrorDiv" style="display:none">
                <ul>
                    <li id="errorMessage"></li>
                </ul>
                <img src="../img/ico_error.png"/>
            </div>

        </form>
        <div class="func">
            <button onclick="showInsertDialog()">新增</button>
        </div>

        <div class="pager" th:fragment="pager">
            共 <span th:text="${page.totalElements}"></span> 筆&nbsp;每頁筆數

            <select id="selectPageSize" th:value="${page.size}" onchange="performSearch('noNewSearch')">
                <option value="10" th:selected="${page.size} == 10">10 筆</option>
                <option value="20" th:selected="${page.size} == 20">20 筆</option>
                <option value="30" th:selected="${page.size} == 30">30 筆</option>
                <option value="40" th:selected="${page.size} == 40">40 筆</option>
                <option value="50" th:selected="${page.size} == 50">50 筆</option>
            </select>
            <input type="text" th:value="${page.number+1}"/>&nbsp;/&nbsp;<span th:text="${page.totalPages}"></span>
            <i th:if="${page.hasPrevious()}" class="glyphicon glyphicon-chevron-left" style="cursor: pointer" th:data="${page.number-1}" id="prevPage" onclick="performSearch('noNewSearch','prevPage')"></i>
            <i th:if="${page.hasNext()}" class="glyphicon glyphicon-chevron-right" style="cursor: pointer" th:data="${page.number+1}" id="nextPage" onclick="performSearch('noNewSearch','nextPage')"></i>
            <script>
                var searchAccountRegExp = /^[a-zA-Z0-9_-]{0,10}$/;
                function performSearch(type,page_id) {
                    if(type=='doNewSearch' && $('#searchAccount').val() =='' && $('#searchUserName').val()=='' && $('#searchDept').val()==''){
                        $("#searchErrorDiv").show();
                        $('#errorMessage').text("請輸入查詢條件");
                        $('#searchAccount').attr('class','error');
                        $('#searchUserName').attr('class','error');
                        $('#searchDept').attr('class','error');
                        return false;
                    }

                    if($('#searchAccount').val()!='' && !searchAccountRegExp.test($('#searchAccount').val())){
                        $("#searchErrorDiv").show();
                        $('#errorMessage').text("請輸入正確的帳號");
                        $('#searchAccount').attr('class','error');
                        check = false;
                        return false;
                    }

                    if(page_id) {
                        $('#pageNumber').val($('#'+page_id).attr('data')*1);
                    }
                    $('#pageSize').val($('#selectPageSize').val()*1);
                    $('#searchForm').submit();

                }
            </script>
        </div>
        <input id="transAccount" name="transAccount" type="hidden" value=""/>
        <table>
            <tr>
                <th>項目</th>
                <th>帳號</th>
                <th>名稱</th>
                <th>部門</th>
                <th>密碼</th>
                <th>開通有效期限</th>
                <th>操作</th>
            </tr>

            <tr th:each="account,iter : ${accountList}">
                <td th:text="${iter.index+1 + page.size * page.number} "
                    th:onclick="'doUpdateConfirm(\'' + ${account.account} + '\')'"/>
                <td th:text="${account.account}"
                    th:onclick="'doUpdateConfirm(\'' + ${account.account} + '\')'"/>
                <td th:text="${account.userName}"
                    th:onclick="'doUpdateConfirm(\'' + ${account.account} + '\')'"/>
                <td th:text="${account.deptName}"
                    th:onclick="'doUpdateConfirm(\'' + ${account.account} + '\')'"/>
                <td th:text="${account.status eq 'S' ? '*' : ''}"
                    th:onclick="'doUpdateConfirm(\'' + ${account.account} + '\')'"/>
                <td th:text="${account.lastActCodeTimeDisplay }"
                    th:onclick="'doUpdateConfirm(\'' + ${account.account} + '\')'"/>
                <td>
                    <img th:id="'deleteAccountImg_' + ${account.account}"
                         th:onclick="'doDeleteConfirm(\'' + ${account.account} + '\')'"
                         src="../img/ico_delete.png"/>
                    <img th:id="'actAccountImg_' + ${account.account}"
                         th:onclick="'doActConfirm    (\'' + ${account.account} + '\')'"
                         src="../img/ico_upload.png"/>
                </td>
            </tr>
        </table>
    </div>
</article>

<!-- 頁腳 -->

<footer th:replace="fragments/footer :: footer"/>



<!-- 新增畫面 -->
<div class="dialog G1_add">
    <div class="dialog-modal subDialog smallView">
        <div class="tableContent">
            <p class="title">WEB帳號資料</span></p>
            <div class="content">
                <div class="row">
                    <div class="col col-xs-12">
                        <h3 class="status" id="insertMessage"> </h3>
                    </div>
                    <div class="col col-xs-12">
                        <pre>帳號 <input id="account" name="account" type="text"  maxlength="10" /></pre>
                    </div>
                    <div class="col col-xs-12">
                        <pre>名稱 <input id="userName" name="userName"  maxlength="10"/></pre>

                    </div>
                    <div class="col col-xs-12">
                            <pre>部門 <select id="dept" name="dept" >
                                <option th:each="dept : ${depts}"
                                        th:value="${dept.code}"
                                        th:utext="${dept.name}"/>
                            </select></pre>
                    </div>
                    <div class="col col-xs-12 right">
                        <button class="gray" onclick="closeDialog('G1_add');location.reload();">取消</button>
                        <button onclick="doInsert()">確定</button>　
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 編輯畫面 -->
<div class="dialog G1_edit">
    <div class="dialog-modal subDialog smallView">
        <div class="tableContent">
            <p class="title">WEB帳號資料</span></p>
            <div class="content">
                <div class="row">
                    <div class="col col-xs-12">
                        <h3 class="status" id="updateMessage"> </h3>
                    </div>
                    <div class="col col-xs-12">
                        <input type="hidden" id="transId" name="transId"  />
                        <pre>帳號 <span id="showUpdateAccount" > </span> </pre>
                    </div>
                    <div class="col col-xs-12">
                        <pre>名稱 <input id="transUserName" name="transUserName"  maxlength="10"/></pre>

                    </div>
                    <div class="col col-xs-12">
                            <pre>部門 <select id="transDept" name="transDept" >
                            </select></pre>
                    </div>
                    <div class="col col-xs-12 right">
                        <button class="gray" onclick="closeDialog('G1_edit') ; $('#transDept option').remove();location.reload();">取消</button>
                        <button onclick="doUpdate()">確定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>






<div class="dialog deleteAccount">
    <div class="dialog-modal warning">
        <div class="icons">
            <div class="icon">
                <div class="sa">
                    <div class="sa-body"></div>
                    <div class="sa-dot"></div>
                </div>
            </div>
        </div>
        <div class="dialog-content">
            <p class="title">確定刪除帳號？</p>
            <pre class="txt_center">您確定要刪除此帳號 : <span id="deleteAccountName"> </span> 嗎？</pre>
            <div class="btns">
                <button onclick="closeDialog('deleteAccount')">取消</button>
                <button onclick="doDelete()">確定</button>
            </div>
        </div>
    </div>
</div>

<div class="dialog deleteAccountResult">
    <div class="dialog-modal success">
        <div class="icons">
            <div class="icon">
                <div class="sa">
                    <div class="sa-tip"></div>
                    <div class="sa-long"></div>
                    <div class="sa-placeholder"></div>
                    <div class="sa-fix"></div>
                </div>
            </div>
        </div>
        <div class="dialog-content">
            <p class="title">帳號刪除成功！</p>
            <pre class="txt_center">帳號 : <span id="deleteAccountNameSuccess"></span> 已被刪除 </pre>
            <div class="btns">
                <button onclick="closeDialog('deleteAccountResult');location.reload();">確定</button>
            </div>
        </div>
    </div>
</div>

<div class="dialog deleteAccountFailed">
    <div class="dialog-modal error">
        <div class="icons">
            <div class="icon">
                <div class="sa">
                    <div class="sa-x">
                        <div class="sa-left"></div>
                        <div class="sa-right"></div>
                    </div>
                    <div class="sa-placeholder"></div>
                    <div class="sa-fix"></div>
                </div>
            </div>
        </div>
        <div class="dialog-content">
            <p class="title">刪除帳號失敗失敗！</p>
            <pre class="txt_center">請確認帳號<span id="deleteAccountNameError"></span>是否存在</pre>
            <div class="btns">
                <button onclick="closeDialog('deleteAccountFailed')">確定</button>
            </div>
        </div>
    </div>
</div>

<div class="dialog actAccount">
    <div class="dialog-modal warning">
        <div class="icons">
            <div class="icon">
                <div class="sa">
                    <div class="sa-body"></div>
                    <div class="sa-dot"></div>
                </div>
            </div>
        </div>
        <div class="dialog-content">
            <p class="title">確定啟動帳號？</p>
            <pre class="txt_center">您確定要啟動此帳號 : <span name="actAccountName"></span> 嗎？</pre>
            <div class="btns">
                <button onclick="closeDialog('actAccount')">取消</button>
                <button onclick="doAct()">確定</button>
            </div>
        </div>
    </div>
</div>

<div class="dialog actAccountResult">
    <div class="dialog-modal success">
        <div class="icons">
            <div class="icon">
                <div class="sa">
                    <div class="sa-tip"></div>
                    <div class="sa-long"></div>
                    <div class="sa-placeholder"></div>
                    <div class="sa-fix"></div>
                </div>
            </div>
        </div>
        <div class="dialog-content">
            <p class="title">開通認證碼已產生！</p>
            <pre>帳號：<span name="actAccountName"></span><br/>開通認證碼：<span id="actCode"></span><br/>開通有效期：<span
                    id="actDate"></span><br/>開通URL： <span
                    id="actURL"></span> </pre>
            <div class="btns">
                <button onclick="closeDialog('actAccountResult')">確定</button>
            </div>
        </div>
    </div>
</div>

<div class="dialog actAccountFailed">
    <div class="dialog-modal error">
        <div class="icons">
            <div class="icon">
                <div class="sa">
                    <div class="sa-x">
                        <div class="sa-left"></div>
                        <div class="sa-right"></div>
                    </div>
                    <div class="sa-placeholder"></div>
                    <div class="sa-fix"></div>
                </div>
            </div>
        </div>
        <div class="dialog-content">
            <p class="title">開通認證碼產生失敗！</p>
            <pre class="txt_center">請確認帳號</pre>
            <div class="btns">
                <button onclick="closeDialog('actAccountFailed')">確定</button>
            </div>
        </div>
    </div>
</div>


</body>


<script type="text/javascript">
    var effectAccount = '';
    var accountRegExp = /^[a-zA-Z0-9_-]{5,10}$/;
    function showInsertDialog() {
        showDialog('G1_add');
    }

    function doInsert() {
        $('#insertMessage').text("");
        if(!$('#account').val().match(accountRegExp)){
            $('#insertMessage').text("請輸入正確的帳號");
            $('#account').focus();
            return false;
        }

        if($('#userName').val().trim()=="" || $('#userName').val().trim().length < 2){
            $('#insertMessage').text("請輸入正確的名稱");
            $('#userName').focus();
            return false;
        }

        axios.post('/api/webaccount/insertAccount', {
            account: $('#account').val(),
            userName: $('#userName').val(),
            dept: $('#dept').val()
        }).then(function (response) {
            if(response.data.status=='F'){
                $('#insertAccountName').text(response.data.account);
                $('#insertMessage').text("帳號新增成功");
            }else{
                $('#insertMessage').text("此帳號已存在");
            }
        }).catch(function (error) {
             $('#insertMessage').text("新增帳號失敗");
        });
    }

    function doUpdateConfirm(account) {
        var userDept;
        effectAccount = account;
        axios.post('/api/webaccount/getAccount', {
            transAccount: effectAccount
        }).then(function (response) {
            if(response.data.account==''){
               alert("無此帳號，請重新操作");
            }else{
                $('#transId').val(response.data.id);
                $('#transAccount').val(response.data.account);
                $('#transUserName').val(response.data.userName);
                $('#showUpdateAccount').text(response.data.account);
                userDept = response.data.dept;
                axios.post('/api/webaccount/getDepts', {

        }).then(function (response) {
            if(response.data.length==0){
               alert("查無部門，請重新操作");
            }else{
                for(var i=0; i < response.data.length ; i++){
                    $("#transDept").append($("<option></option>").attr("value", response.data[i].code).text(response.data[i].name));
                }
                $("#transDept").children().each(function(){

                    if ($(this).val() == userDept){
                        $(this).attr("selected", "selected");
                    }
                  });
                showDialog('G1_edit');
            }


        }).catch(function (error) {
            alert("載入帳號失敗");
        });
            }


        }).catch(function (error) {
             alert("載入帳號失敗");
        });



    }

    function doUpdate() {
        if($('#transUserName').val().trim()=="" || $('#transUserName').val().trim().length < 2){
            $('#updateMessage').text("請輸入正確的名稱");
            $('#transUserName').focus();
            return false;
        }

        axios.post('/api/webaccount/updateAccount', {
            transAccount : effectAccount,
            transId : $('#transId').val(),
            transUserName : $('#transUserName').val(),
            transDept : $('select[name=transDept]').val()
        }).then(function (response) {
            $('#updateMessage').text("帳號修改成功");
            $('#updateAccountName').text(response.data.account);
        }).catch(function (error) {
            showDialog('updateAccountFailed');
        });
    }


    function doDeleteConfirm(account) {
        effectAccount = account;
        $('#deleteAccountName').text(effectAccount);
        showDialog('deleteAccount');
    }

    function doActConfirm(account) {
        effectAccount = account
        $("span[name='actAccountName']").text(effectAccount);
        showDialog('actAccount');
    }

    function doDelete() {
        closeDialog('deleteAccount');
        axios.post('/api/webaccount/deleteAccount', {
            transAccount: effectAccount
        }).then(function (response) {
            if(response.data==1){
                $('#deleteAccountNameSuccess').text(effectAccount);
                showDialog('deleteAccountResult');

            }else{
                $('#deleteAccountNameError').text(effectAccount);
                showDialog('deleteAccountResult');
            }


        }).catch(function (error) {
            showDialog('deleteAccountFailed');
        });

    }

    function doAct() {
        closeDialog('actAccount');
        axios.post('/api/webaccount/actAccount', {
            transAccount: effectAccount
        }).then(function (response) {
            $('#actCode').text(response.data.actCode);
            $('#actDate').text(response.data.lastActCodeTimeDisplay);
            $('#actURL').text("http://" + location.host +  "/active");
            showDialog('actAccountResult');
        }).catch(function (error) {
            showDialog('actAccountFailed');
        });
    }

</script>

</html>
