<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<!-- 首頁 & 選單 -->
<nav th:replace="fragments/navBar :: navBar"/>

<!-- 主內容 -->
<article class="article-wrap">
    <div class="container">
        <form method="post" id="saveAccountForm" action="/webaccount/saveAccount">
            <input id="id" name="id" type="hidden" value="" />
            <div class="tableContent smallView">
                <p class="title" th:text="'WEB帳號資料' + ${message}"> </p>
                <div class="content">
                    <div class="row">
                        <div class="col col-xs-12">
                            <p>帳號</p>
                            <input id="account" name="account" type="text" th:field="${webaccount.account}" maxlength="10" />
                        </div>
                        <div class="col col-xs-12">
                            <p>名稱</p>
                            <input id="userName" name="userName" th:field="${webaccount.userName}" maxlength="10"/>
                        </div>
                        <div class="col col-xs-12">
                            <p>部門</p>
                            <select id="dept" name="dept" >
                                <option value="ADMIN" th:selected="${webaccount.dept eq 'ADMIN' ? 'true' : 'false' }">管理者</option>
                                <option value="CS_T" th:selected="${webaccount.dept eq 'CS_T' ? 'true' : 'false' }">客服(台中)</option>
                                <option value="CS_K" th:selected="${webaccount.dept eq 'CS_K' ? 'true' : 'false' }">客服(高雄)</option>
                                <option value="MANAGER" th:selected="${webaccount.dept eq 'MANAGER' ? 'true' : 'false' }">業務經理</option>
                                <option value="PURCHASE" th:selected="${webaccount.dept eq 'PURCHASE' ? 'true' : 'false' }">採購</option>
                                <option value="MARKET" th:selected="${webaccount.dept eq 'MARKET' ? 'true' : 'false' }">市場</option>
                                <option value="DISPATCH" th:selected="${webaccount.dept eq 'DISPATCH' ? 'true' : 'false' }">派車</option>
                            </select>
                        </div>
                        <div class="col col-xs-12 right">
                            <button type="reset" class="gray" onclick="backToList()">取消</button>
                            <button type="submit" id="saveAccountButton">儲存</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
    </article>

<!-- 頁腳 -->
<footer th:replace="fragments/footer :: footer"/>
</body>

<script>
    function backToList() {
        $('#saveAccountForm').attr('action', '/webaccount');
        $('#saveAccountForm').submit();
    }
</script>

</html>