<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<!-- 首頁 & 選單 -->
<nav th:replace="fragments/navBar :: navBar"/>

<section class="section-wrap">
    <div class="container">
        <h3>APP帳號列表</h3>
        <ul>
            <li>首頁</li>
            <li>帳號管理</li>
            <li>APP帳號列表</li>
        </ul>
    </div>
</section>

<!-- 主內容 -->
<article class="article-wrap">
    <div class="container">
        <form id="searchForm" method="post" action="/appaccount">
            <input type="hidden" id="pageNumber" name="page" th:value="${page.number}"/>
            <input type="hidden" id="pageSize" name="size" th:value="${page.size}"/>
            <div class="searchBar">
                <div>
                    <span>帳號類型｜</span> <select id="searchType" name="type">
                    <option th:selected="${condition.type == '' }" value="">全部</option>
                    <option th:selected="${condition.type == '主帳號'} " value="主帳號">主帳號</option>
                    <option th:selected="${condition.type == '分帳號'} " value="分帳號">分帳號</option>
                    <option th:selected="${condition.type == '業務'} " value="業務">業務</option>
                </select>

                </div>
                <div>
                    <span>客編/TM Code｜</span>
                    <input type="text" id="searchUnicode" name="unicode" th:value="${condition.unicode}" maxlength="10"
                           class=""/>
                </div>
                <div>
                    <span>客戶姓名｜</span>
                    <input type="text" id="searchUserName" name="userName" th:value="${condition.userName}"
                           maxlength="10" class=""/>
                </div>
                <input type="button" onclick="performSearch('doNewSearch');" value="查詢"/>
            </div>
            <div class="searchError" id="searchErrorDiv" style="display:none">
                <ul>
                    <li id="errorMessage"></li>
                </ul>
                <img src="../img/ico_error.png"/>
            </div>
        </form>
        <input id="id" name="id" type="hidden" value=""/>
        <div class="func">
            <button onclick="showInsertDialog()">新增</button>
        </div>
        <div class="pager" th:fragment="pager">
            共 <span th:text="${page.totalElements}"></span> 筆&nbsp;每頁筆數
            <select id="selectPageSize" th:value="${page.size}" onchange="performSearch('noNewSearch')">
                <option value="10" th:selected="${page.size} == 10">10 筆</option>
                <option value="20" th:selected="${page.size} == 20">20 筆</option>
                <option value="30" th:selected="${page.size} == 30">30 筆</option>
                <option value="40" th:selected="${page.size} == 40">40 筆</option>
                <option value="50" th:selected="${page.size} == 50">50 筆</option>
            </select>
            <input type="text" th:value="${page.number+1}"/>&nbsp;/&nbsp;<span th:text="${page.totalPages}"></span>
            <i th:if="${page.hasPrevious()}" class="glyphicon glyphicon-chevron-left" style="cursor: pointer"
               th:data="${page.number-1}" id="prevPage" onclick="performSearch('noNewSearch','prevPage')"></i>
            <i th:if="${page.hasNext()}" class="glyphicon glyphicon-chevron-right" style="cursor: pointer"
               th:data="${page.number+1}" id="nextPage" onclick="performSearch('noNewSearch','nextPage')"></i>
            <script>
                function performSearch(type,page_id) {
                    if(type=='doNewSearch' && $('#searchType').val() =='' && $('#searchUnicode').val()=='' && $('#searchUserName').val()==''){
                        $("#searchErrorDiv").show();
                        $('#errorMessage').text("請輸入查詢條件");
                        $('#searchType').attr('class','error');
                        $('#searchUnicode').attr('class','error');
                        $('#searchUserName').attr('class','error');
                        return false;
                    }
                    if(page_id) {
                        $('#pageNumber').val($('#'+page_id).attr('data')*1);
                    }
                    $('#pageSize').val($('#selectPageSize').val()*1);
                    $('#searchForm').submit();
                }

            </script>
        </div>

        <input id="transUnicode" name="transUnicode" type="hidden" value=""/>
        <table>
            <tr>
                <th>項目</th>
                <th>帳號類型</th>
                <th>客編/TM Code</th>
                <th>客戶姓名</th>
                <th>手機號碼</th>
                <th>帳號狀態</th>
                <th>可否開通</th>
                <th>操作</th>
            </tr>
            <tr th:each="account,iter : ${accountList}">
                <td th:text="${iter.index+1 + page.size * page.number} "
                    th:onclick="'doUpdateConfirm(\'' + ${account.unicode} + '\')'"/>
                <td>
                        <span th:if="${account.type} == 'MC'" th:text="主帳號"
                              th:onclick="'doUpdateConfirm(\'' + ${account.unicode} + '\')'"></span>
                    <span th:if="${account.type} == 'SC'" th:text="分帳號"
                          th:onclick="'doUpdateConfirm(\'' + ${account.unicode} + '\')'"></span>
                    <span th:if="${account.type} == 'S'" th:text="業務"
                          th:onclick="'doUpdateConfirm(\'' + ${account.unicode} + '\')'"></span>
                </td>
                <td th:text="${account.unicode}"
                    th:onclick="'doUpdateConfirm(\'' + ${account.unicode} + '\')'"/>
                <td th:text="${account.userName}"
                    th:onclick="'doUpdateConfirm(\'' + ${account.unicode} + '\')'"/>
                <td th:text=" ${account.phone}"
                    th:onclick="'doUpdateConfirm(\'' + ${account.unicode} + '\')'"/>
                <td th:text=" ${account.verifyResult eq 'T' ? '已開通' : '未開通' }"
                    th:onclick="'doUpdateConfirm(\'' + ${account.unicode} + '\')'"/>
                <td th:text=" ${account.canAct eq 'T' ? '可開通' : '不可開通' }"
                    th:onclick="'doUpdateConfirm(\'' + ${account.unicode} + '\')'"/>
                <td>
                    <img th:id="'deleteAccountImg_' + ${account.unicode}"
                         th:onclick="'doDeleteConfirm(\'' + ${account.unicode} + '\')'"
                         src="../img/ico_delete.png"/>
                    <img th:id="'deleteAccountImg_' + ${account.unicode}"
                         th:onclick="'doSendSMSForm(\'' + ${account.unicode} + '\')'"
                         src="../img/ico_itemadd.png"/>

                </td>
            </tr>
        </table>
    </div>
</article>

<!-- 頁腳 -->
<footer th:replace="fragments/footer :: footer"/>


<!-- 新增畫面 -->
<div class="dialog G3_add">
    <div class="dialog-modal subDialog smallView">
        <div class="tableContent">
            <p class="title">APP帳號資料</span></p>
            <div class="content">
                <div class="row">
                    <div class="col col-xs-12">
                        <h3 class="status" id="insertMessage"></h3>
                    </div>
                    <div class="col col-xs-12">
                            <pre>帳號類型 <select id="type" name="type">
                                <option value="MC">主帳號</option>
                                <option value="SC">分帳號</option>
                                <option value="S">業務</option>
                            </select></pre>
                    </div>
                    <div class="col col-xs-12">
                        <pre>客戶編號 <input id="unicode" name="unicode" maxlength="10"/></pre>
                    </div>
                    <div class="col col-xs-12">
                        <pre>客戶姓名 <input id="userName" name="userName" maxlength="10"/></pre>
                    </div>
                    <div class="col col-xs-12">
                        <pre>手機號碼 <input id="phone" name="phone" maxlength="15"/></pre>
                    </div>
                    <div class="col col-xs-12">
                        <pre>帳號狀態 <span>未開通 </span></pre>
                    </div>
                    <div class="col col-xs-12">
                            <pre>可否開通 <select id="canAct" name="canAct">
                                <option value="T">可開通</option>
                                <option value="F">不可開通</option>
                            </select></pre>
                    </div>
                    <div class="col col-xs-12 right">
                        <button class="gray" onclick="closeDialog('G3_add');location.reload();">取消</button>
                        <button onclick="doInsert()">確定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 編輯畫面 -->
<div class="dialog G3_edit">
    <div class="dialog-modal subDialog smallView">
        <div class="tableContent">
            <p class="title">APP帳號資料</span></p>
            <div class="content">
                <div class="row">
                    <div class="col col-xs-12">
                        <h3 class="status" id="updateMessage"></h3>
                    </div>
                    <div class="col col-xs-12">
                            <pre>帳號類型 <select id="transType" name="transType">
                            </select></pre>
                    </div>
                    <div class="col col-xs-12">
                        <input type="hidden" id="transId" name="transId"/>
                        <pre>客戶編號 <span id="showUpdateAccount"> </span> </pre>
                    </div>
                    <div class="col col-xs-12">
                        <pre>客戶姓名 <input id="transUserName" name="transUserName" maxlength="10"/></pre>

                    </div>
                    <div class="col col-xs-12">
                        <pre>手機號碼 <input id="transPhone" name="transPhone" maxlength="10"/></pre>

                    </div>
                    <div class="col col-xs-12">
                        <pre>帳號狀態 <span id="showVerifyResult"> </span></pre>
                    </div>
                    <div class="col col-xs-12">
                            <pre>可否開通 <select id="transCanAct" name="transCanAct">
                            </select></pre>
                    </div>
                    <div class="col col-xs-12 right">
                        <button class="gray" onclick="closeDialog('G3_edit');location.reload();">取消</button>
                        <button onclick="doUpdate()">確定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="dialog deleteAccount">
    <div class="dialog-modal warning">
        <div class="icons">
            <div class="icon">
                <div class="sa">
                    <div class="sa-body"></div>
                    <div class="sa-dot"></div>
                </div>
            </div>
        </div>
        <div class="dialog-content">
            <p class="title">確定刪除帳號？</p>
            <pre class="txt_center">您確定要刪除此帳號 <span id="deleteAccountName"></span> 嗎？</pre>
            <div class="btns">
                <button onclick="closeDialog('deleteAccount')">取消</button>
                <button onclick="doDelete()">確定</button>
            </div>
        </div>
    </div>
</div>
<div class="dialog deleteAccountResult">
    <div class="dialog-modal success">
        <div class="icons">
            <div class="icon">
                <div class="sa">
                    <div class="sa-tip"></div>
                    <div class="sa-long"></div>
                    <div class="sa-placeholder"></div>
                    <div class="sa-fix"></div>
                </div>
            </div>
        </div>
        <div class="dialog-content">
            <p class="title">帳號刪除成功！</p>
            <pre class="txt_center">帳號 : <span id="deleteAccountNameSuccess"></span> 已被刪除 </pre>
            <div class="btns">
                <button onclick="closeDialog('deleteAccountResult');location.reload();">確定</button>
            </div>
        </div>
    </div>
</div>
<div class="dialog deleteAccountFailed">
    <div class="dialog-modal error">
        <div class="icons">
            <div class="icon">
                <div class="sa">
                    <div class="sa-x">
                        <div class="sa-left"></div>
                        <div class="sa-right"></div>
                    </div>
                    <div class="sa-placeholder"></div>
                    <div class="sa-fix"></div>
                </div>
            </div>
        </div>
        <div class="dialog-content">
            <p class="title">刪除帳號失敗失敗！</p>
            <pre class="txt_center">請確認帳號<span id="deleteAccountNameError"></span>是否存在</pre>
            <div class="btns">
                <button onclick="closeDialog('deleteAccountFailed')">確定</button>
            </div>
        </div>
    </div>
</div>

<!-- 簡訊畫面 -->
<div class="dialog G3_send">
    <div class="dialog-modal subDialog smallView">
        <div class="tableContent">
            <p class="title">APP帳號簡訊資料</span></p>
            <div class="content">
                <div class="row">
                    <div class="col col-xs-12">
                        <h3 class="status" id="sendSMSMessage"></h3>
                    </div>
                    <div class="col col-xs-12">
                        <pre>簡訊驗證碼 : <span id="verifyCode"> </span> </pre>
                    </div>
                    <div class="col col-xs-12">
                        <pre>該驗證碼/累積驗證次數 : <span id="verifyCounts"> </span> </pre>
                    </div>
                    <div class="col col-xs-12">
                        <pre>該驗證碼/最後一次驗證結果 : <span id="verifyResult"> </span> </pre>
                    </div>
                    <div class="col col-xs-12">
                        <pre>該驗證碼/最後一次驗證時間 : <span id="verifyLasttime"> </span> </pre>
                    </div>
                    <div class="col col-xs-12">
                        <pre>該驗證碼/發送時間 : <span id="verifyCreatetime"> </span> </pre>
                    </div>
                    <div class="col col-xs-12">
                        <pre>該名客戶/累積發送簡訊次數 : <span id="verifySendCounts"> </span> </pre>
                    </div>
                    <div class="col col-xs-12 right">
                        <button onclick="doSendSMSConfirm();">重發驗證碼</button>
                        <button class="gray" onclick="closeDialog('G3_send');">取消操作</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="dialog G3_sendConfirm">
    <div class="dialog-modal warning">
        <div class="icons">
            <div class="icon">
                <div class="sa">
                    <div class="sa-body"></div>
                    <div class="sa-dot"></div>
                </div>
            </div>
        </div>
        <div class="dialog-content">
            <p class="title">確定發送簡訊驗證碼？</p>
            <pre class="txt_center">確定是否對該APP帳號發送簡訊？如確認，即發送一封簡訊到該帳號手機</pre>
            <div class="btns">
                <button onclick="closeDialog('G3_sendConfirm')">取消</button>
                <button onclick="doSendSMS()">確定</button>
            </div>
        </div>
    </div>
</div>

<div class="dialog G3_sendResult">
    <div class="dialog-modal success">
        <div class="icons">
            <div class="icon">
                <div class="sa">
                    <div class="sa-tip"></div>
                    <div class="sa-long"></div>
                    <div class="sa-placeholder"></div>
                    <div class="sa-fix"></div>
                </div>
            </div>
        </div>
        <div class="dialog-content">
            <p class="title">發送驗證碼成功！</p>
            <div class="btns">
                <button onclick="closeDialog('G3_sendResult');location.reload();">確定</button>
            </div>
        </div>
    </div>
</div>
</body>
<script type="text/javascript">

    var effectAccount = '';
    var accountRegExp = /^[0-9]{3,8}$/;

    function showInsertDialog() {
        showDialog('G3_add');
    }

    function doInsert() {
        if(!$('#unicode').val().match(accountRegExp)){
            $('#insertMessage').text("請輸入正確的帳號");
            $('#unicode').focus();
            return false;
        }
        if($('#userName').val().trim()=="" || $('#userName').val().trim().length < 2){
            $('#insertMessage').text("請輸入正確的名稱");
            $('#userName').focus();
            return false;
        }

        if($('#phone').val().trim()=="" ){
            $('#insertMessage').text("請輸入手機電話");
            $('#phone').focus();
            return false;
        }
        axios.post('/api/appaccount/insertAccount', {
            type: $('#type').val(),
            unicode: $('#unicode').val(),
            userName: $('#userName').val(),
            phone: $('#phone').val(),
            canAct: $('#canAct').val()
        }).then(function (response) {
            if(response.data.verifyResult=='F'){
                $('#insertMessage').text("新增帳號成功");
                $('#insertAccountName').text(response.data.unicode);
                location.reload();
            }else{
                $('#insertMessage').text("此客戶編號已存在");
            }
        }).catch(function (error) {
            $('#insertMessage').text("新增帳號失敗");
        });
    }


    function doDeleteConfirm(unicode) {
        effectAccount = unicode;
        $('#deleteAccountName').text(effectAccount);
        showDialog('deleteAccount');
    }

    function doDelete() {
        closeDialog('deleteAccount');
        axios.post('/api/appaccount/deleteAccount', {
            transUnicode: effectAccount
        }).then(function (response) {
            if(response.data==1){
                $('#deleteAccountNameSuccess').text(effectAccount);
                showDialog('deleteAccountResult');

            }else{
                $('#deleteAccountNameError').text(effectAccount);
                showDialog('deleteAccountResult');
            }
        }).catch(function (error) {
            showDialog('actAccountFailed');
        });

    }

    function doUpdateConfirm(unicode) {
        effectAccount = unicode;
        axios.post('/api/appaccount/getAccount', {
            transUnicode: effectAccount
        }).then(function (response) {
            if(response.data.unicode==''){
               alert("無此帳號，請重新操作");
            }else{
                $('#transId').val(response.data.id);
                $('#transAccount').val(response.data.unicode);
                $('#transUserName').val(response.data.userName);
                $('#transPhone').val(response.data.phone);
                $('#showUpdateAccount').text(response.data.unicode);
                var verifyResult = "未開通";
                if(response.data.verifyResult == 'T'){
                    verifyResult = "已開通";
                } else if (response.data.verifyResult == 'F') {
                    verifyResult = "未開通";
                }
                $('#showVerifyResult').text(verifyResult);
                $("#transType").append($("<option></option>").attr("value", "MC").text("主帳號"));
                $("#transType").append($("<option></option>").attr("value", "SC").text("分帳號"));
                $("#transType").append($("<option></option>").attr("value", "S").text("業務"));
                $("#transType").children().each(function(){
                    if ($(this).val() == response.data.type){
                        $(this).attr("selected", "selected");
                    }
                  });
                $("#transCanAct").append($("<option></option>").attr("value", "T").text("可開通"));
                $("#transCanAct").append($("<option></option>").attr("value", "F").text("不可開通"));
                $("#transType").children().each(function(){
                    if ($(this).val() == response.data.canAct){
                        $(this).attr("selected", "selected");
                    }
                  });
                showDialog('G3_edit');
            }


        }).catch(function (error) {
            showDialog('actAccountFailed');
        });

    }

    function doUpdate() {
        if($('#transUserName').val().trim()=="" || $('#transUserName').val().trim().length < 2){
            $('#updateMessage').text("請輸入正確的名稱");
            $('#transUserName').focus();
            return false;
        }

        if($('#transPhone').val().trim()=="" ){
            $('#updateMessage').text("請輸入手機電話");
            $('#transPhone').focus();
            return false;
        }
        axios.post('/api/appaccount/updateAccount', {
            transUnicode : effectAccount,
            transId : $('#transid').val(),
            transUserName : $('#transUserName').val(),
            transPhone : $('#transPhone').val(),
            transType : $('select[name=transType]').val(),
            transCanAct : $('select[name=transCanAct]').val()
        }).then(function (response) {
            $('#updateAccountName').text(response.data.unicode);
            $('#updateMessage').text("修改帳號成功");
        }).catch(function (error) {
            $('#updateMessage').text("修改帳號失敗");
        });
    }

    function doSendSMSForm(unicode) {
        effectAccount = unicode;
        axios.post('/api/appaccount/getAccount', {
            transUnicode: effectAccount
        }).then(function (response) {
            if(response.data.unicode==''){
               alert("無此帳號，請重新操作");
            }else{
                $('#verifyCode').text(response.data.verifyCode);
                $('#verifyCounts').text(response.data.verifyCounts);
                $('#verifySendCounts').text(response.data.verifySendCounts);
                $('#verifyLasttime').text(response.data.verifyLasttimeDisplay);
                $('#verifyCreatetime').text(response.data.verifyCreatetimeDisplay);
                var verifyResult = "尚未";
                if(response.data.verifyResult == 'T'){
                    verifyResult = "正確(T)";
                } else if (response.data.verifyResult == 'F') {
                    verifyResult = "錯誤(F)";
                }
                $('#verifyResult').text(verifyResult);
                showDialog('G3_send');
            }


        }).catch(function (error) {
            showDialog('actAccountFailed');
        });

    }

    function doSendSMSConfirm() {
        closeDialog('G3_send');
        showDialog('G3_sendConfirm');
    }

    function doSendSMS() {
        closeDialog('G3_sendConfirm');



        axios.post('/api/appaccount/sendSms', {
            transUnicode: effectAccount
        });

        setTimeout(function () {
         showDialog('G3_sendResult');
        }, 1000);
    }
</script>

</html>
