<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<!-- 首頁 & 選單 -->
<nav th:replace="fragments/navBar :: navBar"/>
    
    <!-- 主內容 -->
    <article class="article-wrap">
        <div class="container">
            <form id="saveAccountForm" method="post" id="saveAccountForm" action="/appaccount/saveAccount">
                <input id="id" name="id" type="hidden" value="" />
                <div class="tableContent smallView">
                <p class="title" th:text="'APP帳號資料'+ ${message}"> </p>
                <div class="content">
                    <div class="row">
                        <div class="col col-xs-12">
                          <p>帳號類型</p>
                            <select id="type" name="type" >
                                <option value="MC" th:selected="${appaccount.type eq 'MC' ? 'true' : 'false' }">主帳號</option>
                                <option value="SC" th:selected="${appaccount.type eq 'SC' ? 'true' : 'false' }">分帳號</option>
                                <option value="S" th:selected="${appaccount.type eq 'S' ? 'true' : 'false' }">業務</option>
                            </select>
                        </div>
                        <div class="col col-xs-12">
                          <p>客戶編號</p>
                            <input type="text" id='unicode' name="unicode" th:field="${appaccount.unicode}" />
                        </div>
                        <div class="col col-xs-12">
                          <p>客戶姓名</p>
                            <input type="text" id='userName' name="userName" th:field="${appaccount.userName}" />
                        </div>
                        <div class="col col-xs-12">
                          <p>手機號碼</p>
                            <input type="text" id='phone' name="phone" th:field="${appaccount.phone}" />
                        </div>
                        <div class="col col-xs-12">
                          <p>帳號狀態</p>
                          <span>未開通</span>
                        </div>
                        <div class="col col-xs-12">
                          <p>可否開通</p>
                            <select id="canAct" name="canAct" >
                                <option value="T" th:selected="${appaccount.isAct eq 'T' ? 'true' : 'false' }">可開通</option>
                                <option value="F" th:selected="${appaccount.isAct eq 'F' ? 'true' : 'false' }">不可開通</option>
                            </select>
                        </div>
                        <div class="col col-xs-12 right">
                            <button type="reset" class="gray" onclick="backToList()">取消</button>
                            <button type="submit" id="saveAccountButton">儲存</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <!-- 頁腳 -->
<!-- 頁腳 -->
<footer th:replace="fragments/footer :: footer"/>
</body>
<script>
    function backToList() {
        $('#saveAccountForm').attr('action', '/appaccount');
        $('#saveAccountForm').submit();
    }
</script>

</html>