<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header"/>
<body>
<!-- 首頁 & 選單 -->
<nav th:replace="fragments/navBar :: navBar"/>

    <!-- 主內容 -->
    <article class="article-wrap">
        <div class="container">
            <form id="saveAccountForm" method="post" action="/appaccount/saveAccount">
                <input type="hidden" id="id" name="id" th:field="${appaccount.id}" />
            <div class="tableContent smallView">
                <p class="title">APP帳號資料</p>
                <div class="content">
                    <div class="row">
                        <div class="col col-xs-12">
                          <p>帳號類型</p>
                            <input type="hidden" id='userType' name="userType" th:field="${appaccount.type}" />
                            <span th:if="${appaccount.type} == 'MC'"  th:text="主帳號" ></span>
                            <span th:if="${appaccount.type} == 'SC'"  th:text="分帳號" ></span>
                            <span th:if="${appaccount.type} == 'S'"   th:text="業務" ></span>
                        </div>
                        <div class="col col-xs-12">
                          <p>客戶編號</p>
                            <input type="hidden" id='unicode' name="unicode" th:field="${appaccount.unicode}" />
                            <span  th:text="${appaccount.unicode}" ></span>
                        </div>
                        <div class="col col-xs-12">
                          <p>客戶姓名</p>
                            <input  id="username" name="username" type="text" th:field="${appaccount.userName}" />
                        </div>
                        <div class="col col-xs-12">
                          <p>手機號碼</p>
                            <input  id="phone" name="phone" type="text" th:field="${appaccount.phone}" />
                        </div>
                        <div class="col col-xs-12">
                          <p>帳號狀態</p>
                            <input  id="isAct" name="isAct" type="hidden" th:field="${appaccount.isAct}" />
                            <span th:if="${appaccount.isAct} == 'T'"  th:text="已開通" ></span>
                            <span th:if="${appaccount.isAct} == 'F'"  th:text="未開通" ></span>
                        </div>
                        <div class="col col-xs-12">
                          <p>可否開通</p>
                          <select id="canAct" name="canAct" >
                              <option value="T" th:selected="${appaccount.isAct eq 'T' ? 'true' : 'false' }">可開通</option>
                              <option value="F" th:selected="${appaccount.isAct eq 'F' ? 'true' : 'false' }">不可開通</option>
                          </select>
                        </div>
                        <div class="col col-xs-12 right">
                            <button type="reset" class="gray" onclick="backToList()">取消</button>
                            <button type="submit">儲存</button>
                        </div>
                    </div>
                </div>
            </div>
            </form>
        </div>
    </article>

<!-- 頁腳 -->
<footer th:replace="fragments/footer :: footer"/>
</body>
<script>
    function backToList() {
        $('#saveAccountForm').attr('action', '/appaccount');
        $('#saveAccountForm').submit();
    }
</script>

</html>