<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />

<body>
	<!-- 首頁 & 選單 -->
	<nav th:replace="fragments/navBar :: navBar"></nav>

	<!-- 導覽麵包屑 -->
	<section class="section-wrap">
		<div class="container">
			<h3>預定推播名單</h3>
			<ul>
				<li>首頁</li>
				<li>排程管理</li>
				<li>預定推播名單</li>
			</ul>
		</div>
	</section>
	<!-- 主內容 -->
	<article class="article-wrap">
		<div class="container">
			<form id="searchForm" method="get" action="/S/1">
                <input type="hidden" id="pageNumber" name="page" th:value="${page.number}"/>
                <input type="hidden" id="pageSize" name="size" th:value="${page.size}"/>
                <div class="pager" th:fragment="pager">
                共 <span th:text="${page.totalElements}"></span> 筆&nbsp;每頁筆數
                <select id="selectPageSize" th:value="${page.size}" onchange="performSearch()">
                    <option value="10" th:selected="${page.size} == 10">10 筆</option>
                    <option value="20" th:selected="${page.size} == 20">20 筆</option>
                    <option value="30" th:selected="${page.size} == 30">30 筆</option>
                    <option value="40" th:selected="${page.size} == 40">40 筆</option>
                    <option value="50" th:selected="${page.size} == 50">50 筆</option>
                </select>
                <input type="text" th:value="${page.number+1}"/>&nbsp;/&nbsp;<span th:text="${page.totalPages}"></span>
                <i th:if="${page.hasPrevious()}" class="glyphicon glyphicon-chevron-left" style="cursor: pointer"
                   th:data="${page.number-1}" id="prevPage" onclick="performSearch('prevPage')"></i>
                <i th:if="${page.hasNext()}" class="glyphicon glyphicon-chevron-right" style="cursor: pointer"
                   th:data="${page.number+1}" id="nextPage" onclick="performSearch('nextPage')"></i>
                <script>
                    function performSearch(page_id) {
                        if(page_id) {
                            $('#pageNumber').val($('#'+page_id).attr('data')*1);
                        }
                        else {
                        	$('#pageNumber').val(0);
                        }
                        $('#pageSize').val($('#selectPageSize').val()*1);
                        $('#searchForm').submit();
                    }
                </script>
            </div>
            </form>
			<table class="orderClass td_left_10">
				<tr>
					<th>推播時間</th>
					<th>客戶</th>
					<th>客編</th>
					<th>推播訊息</th>
					<th>是否完成推播</th>
					<th>事件</th>
					<th>操作</th>
				</tr>
				<th:block th:each="nc,iter : ${page.content}">
					<tr class="csNew borderTop">
						<td th:text="${nc.notificationDate}" />
						<td th:text="${nc.customerSubName}" />
						<td th:text="${nc.customerSubId}" />
						<td th:text="${nc.message}" style="text-align: left;" />
						<td th:text="${nc.finished ? '是' : '否'}" />
						<td th:text="${nc.cancelled ? '取消排程' : '預約排程'}" />
						<td>
							<button type="button" class="btn btn-default btn-sm"
								th:onclick="'doCancel(\'' + ${nc.id} + '\', \'' + ${nc.customerSubName} + '\')'">
								<span class="glyphicon glyphicon-remove"></span><span>取消</span>
							</button>
						</td>
					</tr>
				</th:block>
				</th:block>
			</table>
		</div>
	</article>

	<!-- 頁腳 -->
	<footer th:replace="fragments/footer :: footer"></footer>

	<!-- 成功訊息  -->
	<!-- show-dialog控制是否顯示＆動畫 -->
	<div class="dialog S1 confirm-dialog">
		<div class="dialog-modal warning">
			<div class="icons">
				<div class="icon">
					<div class="sa">
						<div class="sa-body"></div>
						<div class="sa-dot"></div>
					</div>
				</div>
			</div>
			<div class="dialog-content">
				<input class="hide" id="cancelId" type="text" name="cancelId" value="" />
				<input class="hide" id="customerSubNameId" type="text" name="customerSubNameId" value="" />
				<p class="title">是否手動取消推播？</p>
				<pre class="txt_center">點選確定後即無法恢復預約推播！</pre>
				<div class="btns">
					<button onclick="closeDialog('confirm-dialog')">取消</button>
					<button onclick="doConfirmCancel();">確定</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="dialog S1 alert-message">
		<div class="dialog-modal warning">
			<div class="icons">
				<div class="icon">
					<div class="sa">
						<div class="sa-body"></div>
						<div class="sa-dot"></div>
					</div>
				</div>
			</div>
			<div class="dialog-content">
				<h3 class="status" id="alertMessage"></h3>
				<div class="btns">
					<button onclick="ok();">確定</button>
				</div>
			</div>
		</div>
	</div>

	<script>
		var doCancel = function(id, customerSubName) {
			$("#cancelId").val(id);
			$("#customerSubNameId").val(customerSubName);
			showDialog('confirm-dialog');
		};
		var doConfirmCancel = function() {
			axios.post('/S/api/cancel', {
	            id: $("#cancelId").val()
	        }).then(function (res) {
	            if(res.data){
	                $("#alertMessage").text("成功取消推播，對象: " + $("#customerSubNameId").val());
	            } else{
	            	$("#alertMessage").text("手動取消推播失敗");
	            }
	            closeDialog('confirm-dialog');
	            showDialog('alert-message');
	        }).catch(function (error) {
	            $('#alertMessage').text("手動取消推播失敗");
	            closeDialog('confirm-dialog')
	            showDialog('alert-message');
	        });
		};
		var ok = function() {
			closeDialog('alert-message');
			location.reload();
		};

		var test = function() {
			$.get("/S/test", function(result){
				debugger;
				alter(result);
				location.reload();
			});
		}

	</script>

</body>
</html>
