<!DOCTYPE html>
<html lang="zh-Hant-TW" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: header"/>

<body>
<nav th:replace="fragments/navBar :: navBar"/>

<!-- 主內容 -->
<article class="article-wrap homepage">
    <div class="container">
        <h3><span th:text="${loginUser.userName}"></span>，歡迎您</h3>
        <p>請使用上方選單進行操作</p>
        <img src="../img/bg_homepage.png"/>
    </div>
</article>

<!-- 頁腳 -->
<footer th:replace="fragments/footer :: footer"/>

</body>
</html>
